{% extends "no_auth.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Verify email</title>
<link rel="stylesheet" href="{% static '/css/auth.css' %}" />
<style>
    .resend {
        text-align: center;
    }
</style>
{% endblock extend_head %}

{% block content %}


<div class="auth-body">
    <div class="auth-form-container">
        <div class="row auth-form-row">
            <div class="col-sm-6 px-3 py-5 auth-form-firt-row">
                <div class="logo">
                    <a href="/">
                        <img src=" {% static 'media/logo.png' %}" alt="logo">
                    </a>
                </div>

                <h1 class="auth-section-title"> Verify Your Account </h1>
                <div class="auth-optional-section">
                    <div class="auth-optional-img">
                        <img src=" {% static 'media/login-pic.png' %}" alt="img">
                    </div>

                    <div class="authIconDiv">
                        <a href="#"><i class="fa-brands fa-facebook authIcon"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube authIcon"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram authIcon"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 px-3 py-5">
                <div class="auth-form-area">
                    <div class="w-100">
                        <h1 class="auth-notes">
                            We send a verification link to your email ({{ email}}). 
                            Check your email and verify your account. If you haven't received it yet, you can resend.
                        </h1>

                        <div class="extra-auth-link mt-5">
                            <p class="text-center"> <a  href="{% url 'user:logout' %}">Logout</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extend_script %}
{% endblock extend_script %}