{% extends "no_auth.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Login</title>
<link rel="stylesheet" href="{% static '/css/auth.css' %}" />
{% endblock extend_head %} 

{% block content %}

<div class="auth-body">
    <div class="auth-form-container">
        <div class="row auth-form-row">
            <div class="col-sm-6 px-3 py-5 auth-form-firt-row">
                <a href="/">
                    <div class="logo">
                        <img src=" {% static 'media/logo.png' %}" alt="logo">
                    </div>
                </a>

                <h1 class="auth-section-title"> Forgot your password !!! </h1>
                <div class="auth-optional-section">
                    <div class="auth-optional-img">
                        <img src=" {% static 'media/background/log-in-desktop-img.webp' %}" alt="img">
                    </div>

                    <div class="authIconDiv">
                        <a href="#"><i class="fa-brands fa-facebook authIcon"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube authIcon"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram authIcon"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 px-3 py-5">
                <div class="auth-input-wrapper">
                    <label>User email</label>
                    <input type="text" name="email" placeholder="Your email">
                </div>

                <div class="auth-response-messages"></div>
                <button type="submit" class="auth-form-btn" button-name="forgot-password">
                    Submit
                </button>

                <div class="extra-auth-link">
                    <p> New Here? <a href="{% url 'user:signup' %}">Sign Up</a> </p>
                    <p> <a href="{% url 'user:forgot_password' %}">Forgot Password?</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extend_script %}
<script>
    var forgot_password_url = "{% url 'user:forgot_password' %}"
    var forgot_password_verify_url = "{% url 'user:forgot_password_verify' %}"
</script>
<script src="{% static 'js/auth/forgot_password.js' %}?v=1.02"></script>
{% endblock extend_script %}