{% extends "no_auth.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Profile settings</title>
<link rel="stylesheet" href="{% static '/css/auth.css' %}?v=1.00" />
<style>
    #loginButtonText {
        margin: 0;
        padding: 0;
        font-size: inherit;
    }

    .companyLogoDiv {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    [label-name="latitude"],
    [label-name="longitude"] {
        display: none;
    }
</style>
{% endblock extend_head %}

{% block content %}



<section id="profile-setting">
    <div class="container">
        <div class="col-lg-7 light-form-box">
            <div class="logo completeProfileLogo">
                <a href="/">
                    <img src="{% static 'media/logo.png' %}" alt="logo">
                </a>
            </div>

            <form id="profile-form" method="post">
                {% csrf_token %}
                {% block profile %}
                {% endblock %}
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block extend_script %}
<script type="text/javascript">
    var userType = "{{ request.user.user_type }}"
    var profileSettingsUrl = "";
    if (userType == "developer") {
        profileSettingsUrl = "{% url 'user:api:developer_update' profile.id %}"
    } else if (userType == "agent") {
        profileSettingsUrl = "{% url 'user:api:agent_update' profile.id %}"
    } else if (userType == "prospect") {
        profileSettingsUrl = "{% url 'user:api:prospect_update' profile.id %}"
    }
</script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&libraries=places&callback=initializeMap">
    </script>
<script src="{% static 'js/g_map.js' %}?v=1.00"></script>
<script src="{% static 'js/auth/profile_settings.js' %}?v=1.00"></script>
{% endblock extend_script %}