{% extends "no_auth.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Register</title>
<link rel="stylesheet" href="{% static '/css/auth.css' %}" />

{% endblock extend_head %}

{% block content %}

<div class="auth-body">
    <div class="auth-form-container">
        <div class="row auth-form-row">
            <div class="col-sm-6 px-3 py-5 auth-form-firt-row">
                <div class="logo">
                    <a href="/">
                        <img src=" {% static 'media/logo.png' %}" alt="logo">
                    </a>
                </div>

                <h1 class="auth-section-title"> Sign up to <b>Wizer Properties</b> </h1>
                <div class="auth-optional-section">
                    <div class="auth-optional-img">
                        <img src=" {% static 'media/background/log-in-desktop-img.webp' %}" alt="img">
                    </div>

                    <div class="authIconDiv">
                        <a href="#"><i class="fa-brands fa-facebook authIcon"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube authIcon"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram authIcon"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 px-3 py-5">
                <form class="auth-form-area" method="post">
                    <div class="w-100">
                        {% csrf_token %}
                        <div class="auth-input-wrapper">
                            <label>User email</label>
                            {% render_field signup_form.email placeholder="Email" %}
                        </div>
                        
                        <div class="auth-input-wrapper">
                            <label>User type</label>
                            {% render_field signup_form.user_type %}
                        </div>
        
                        <div class="auth-input-wrapper">
                            <label>Password</label>
                            <div box-type="password">
                                {% render_field signup_form.password1 placeholder="Password" %}
                            </div>
                        </div>
        
                        <div class="auth-input-wrapper">
                            <label>Confirm Password</label>
                            <div box-type="password">
                                {% render_field signup_form.password2 placeholder="Confirm Password" %}
                            </div>
                        </div>
        
                        <div class="auth-response-messages">
                            {% if signup_form.user_type.errors %}
                            {% for error in signup_form.user_type.errors %}
                            <div class="alert alert-danger p-2" role="alert">
                                {{error}}
                            </div>
                            {% endfor %}
                            {% endif %}
        
                            {% if signup_form.email.errors %}
                            {% for error in signup_form.email.errors %}
                            <div class="alert alert-danger p-2" role="alert">
                                {{error}}
                            </div>
                            {% endfor %}
                            {% endif %}
        
                            {% if signup_form.password1.errors %}
                            {% for error in signup_form.password1.errors %}
                            <div class="alert alert-danger p-2" role="alert">
                                {{error}}
                            </div>
                            {% endfor %}
                            {% endif %}
        
        
                            {% if signup_form.password2.errors %}
                            {% for error in signup_form.password2.errors %}
                            <div class="alert alert-danger p-2" role="alert">
                                {{error}}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
        
                        <button type="submit" class="auth-form-btn" button-name="sign-up">
                            Sign up
                        </button>
        
                        <div class="extra-auth-link">
                            <p> Already have an account? <a  href="{% url 'user:login' %}">Log in</a> </p>
                            <p> <a href="{% url 'user:forgot_password' %}">Forgot Password?</a> </p>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extend_script %}
<script src="{% static 'js/auth/signup.js' %}?v=1.00"></script>
{% endblock extend_script %}