{% extends "no_auth.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Register</title>
<link rel="stylesheet" href="{% static '/css/auth.css' %}" />
<style>
    #loginButtonText {
        margin: 0;
        padding: 0;
        font-size: inherit;
    }
</style>
{% endblock extend_head %}

{% block content %}
<div class="container-fluid">
    <div class="row how-it-work-row">
        <div class="col-lg-8 col-xl-9 login-form-box">
            <div class="logo">
                <a href="/">
                    <img src="static/media/logo.png" alt="" />
                </a>
            </div>

            <!--- Login Form Start --->

            <div class="authArea">

                <p>Create a New Account</p>

                <div class="authForm">
                    <div>
                        <!-- {% if messages %}
                  {% for message in messages %}
                    <span class="authSuccessMessage">{{ message }}</span>
                  {% endfor %}
                {% endif %} -->

                        {% if system_error %}
                        <span class="authErrorMessage">{{ system_error }}</span>
                        {% endif %}

                    </div>
                    <form id="signupForm" method="post">
                        {% csrf_token %}

                        <div class="authFormDiv">
                            {% if signup_form.user_type.errors %}
                            {% for error in signup_form.user_type.errors %}
                            <span class="authErrorMessage">{{error}}</span>
                            {% endfor %}
                            {% endif %}

                            {% render_field signup_form.user_type id="emailInput" class="authInput authSelectInput" %}
                            <div class="authlabelline">User Type</div>
                        </div>


                        <div class="authFormDiv">
                            {% if signup_form.email.errors %}
                            {% for error in signup_form.email.errors %}
                            <span class="authErrorMessage">{{error}}</span>
                            {% endfor %}
                            {% endif %}

                            {% render_field signup_form.email id="emailInput" class="authInput" placeholder="Email" %}
                            <div class="authlabelline">Email</div>
                        </div>

                        <div class="authFormDiv">
                            {% if signup_form.password1.errors %}
                            {% for error in signup_form.password1.errors %}
                            <span class="authErrorMessage">{{error}}</span>
                            {% endfor %}
                            {% endif %}

                            {% render_field signup_form.password1 class="authInput" placeholder="Password" %}
                            <div class="authlabelline">Password</div>
                        </div>

                        <div class="authFormDiv">
                            {% if signup_form.password2.errors %}
                            {% for error in signup_form.password2.errors %}
                            <span class="authErrorMessage">{{error}}</span>
                            {% endfor %}
                            {% endif %}

                            {% render_field signup_form.password2 class="authInput" placeholder="Confirm Password" %}
                            <div class="authlabelline">Confirm Password</div>
                        </div>

                        <button type="submit" class="authButton signupButton">
                            <span id="loginButtonText">Signup</span>
                            <div id="loadingSpinner" class="spinner-border" role="status" style="display: none;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </form>
                </div>

                <div class="authIconDiv">
                    <a href="#"><i class="fa-brands fa-facebook authIcon"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube authIcon"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram authIcon"></i></a>
                </div>
            </div>

            <!--- Login Form End --->
        </div>
        <div class="col-lg-4 col-xl-3 login-des-box">
            <div class="authTextArea">
                <p class="authTextAreaTitle">Already Have Account ?</p>
                <p class="authTextAreaDescription">
                    Login and enjoy a great amount of new features
                </p>
                <a type="button" class="authSignUpButton" href="{% url 'user:login' %}">Login</a>
                <a class="authTextForget" href="{% url 'user:forgot_password' %}">Forget Password ?</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extend_script %}
<script src="{% static 'js/auth/signup.js' %}?v=1.00"></script>
{% endblock extend_script %}