{% extends "no_auth.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Login</title>
<link rel="stylesheet" href="{% static '/css/auth.css' %}" />
<style>
    #updatePasswordButtonText {
        margin: 0;
        padding: 0;
        font-size: inherit;
    }
</style>
{% endblock extend_head %} 

{% block content %}
<div class="container-fluid">
    <div class="row how-it-work-row">
        <div class="col-lg-8 login-form-box">
            <div class="logo">
                <a href="/">
                    <img src="static/media/logo.png" alt="">
                </a>
            </div>

            <!--- Password Update Form Start --->

            <div class="authArea">
                <p>Update Password</p>
                <div class="authForm">
                    <div>
                        <span class="authSuccessMessage"></span>
                        <span class="authErrorMessage"></span>
                    </div>
                    <div class="authFormDiv">    
                        <!-- <span class="authErrorMessage">Message</span>  -->   
                        <input type="password" id="password1" required class="authInput" placeholder="New Password">
                        <div class="authlabelline">New Password</div>
                    </div>
                    <div class="authFormDiv">    
                        <!-- <span class="authErrorMessage">Message</span>  -->   
                        <input type="password" id="password2" required class="authInput" placeholder="Confirm Password">
                        <div class="authlabelline">Confirm Password</div>
                    </div>
                    <button type="button" class="authButton">
                        <span id="updatePasswordButtonText">Save</span>
                        <div id="loadingSpinner" class="spinner-border" role="status" style="display: none;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>
                </div>
                <div class="authIconDiv">
                    <a href="#"><i class="fa-brands fa-facebook authIcon"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube authIcon"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram authIcon"></i></a>
                </div>
            </div>    

            <!--- Login Form End --->

        </div>
        <div class="col-lg-4 login-des-box">
            <div class="authTextArea">
                <p class="authTextAreaTitle">New Here ?</p>
                <p class="authTextAreaDescription">Sing up and enjoy a great amount of new features</p>
                <a type="button" class="authSignUpButton" href="{% url 'user:signup' %}">Sign Up</a>
            </div>    
        </div>
    </div>
</div>
{% endblock %}

{% block extend_script %}
<script>
    var update_password_url = "{% url 'user:update_password' %}"
</script>
<script src="{% static 'js/auth/update_password.js' %}?v=1.00"></script>
{% endblock extend_script %}