{% extends "no_auth.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Login</title>
<link rel="stylesheet" href="{% static '/css/auth.css' %}" />
<style>
    #updatePasswordButtonText {
        margin: 0;
        padding: 0;
        font-size: inherit;
    }
</style>
{% endblock extend_head %} 

{% block content %}

<div class="auth-body">
    <div class="auth-form-container">
        <div class="row auth-form-row">
            <div class="col-sm-6 px-3 py-5 auth-form-firt-row">
                <div class="logo">
                    <a href="/">
                        <img src=" {% static 'media/logo.png' %}" alt="logo">
                    </a>
                </div>

                <h1 class="auth-section-title"> Update password </h1>
                <div class="auth-optional-section">
                    <div class="auth-optional-img">
                        <img src=" {% static 'media/login-pic.png' %}" alt="img">
                    </div>

                    <div class="authIconDiv">
                        <a href="#"><i class="fa-brands fa-facebook authIcon"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube authIcon"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram authIcon"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 px-3 py-5">
                <div class="auth-form-area">
                    <div class="w-100">        
                        <div class="auth-input-wrapper">
                            <label>New Password</label>
                            <div box-type="password">
                                <input type="password" name="password1" placeholder="New Password">
                            </div>
                        </div>

                        <div class="auth-input-wrapper">
                            <label>Confirm Password</label>
                            <div box-type="password">
                                <input type="password" name="password2" placeholder="Confirm Password">
                            </div>
                        </div>
        
                        <div class="auth-response-messages"></div>
                        <button type="submit" class="auth-form-btn" button-name="update-password">
                            Save
                        </button>
        
                        <div class="extra-auth-link">
                            <p> New Here? <a href="{% url 'user:signup' %}">Sign Up</a> </p>
                            <p> <a href="{% url 'user:forgot_password' %}">Forgot Password?</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extend_script %}
<script>
    var update_password_url = "{% url 'user:update_password' %}"
</script>
<script src="{% static 'js/auth/update_password.js' %}?v=1.00"></script>
{% endblock extend_script %}