{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Create building</title>
<link href="{% static 'css/gptchat.css' %}?v=1.00" rel="stylesheet" />
<link rel="stylesheet" href="{% static '/css/auth.css' %}" />
<style>
    [label-name="latitude"],
    [label-name="longitude"], 
    #sub_type_container {
        display: none;
    }
</style>
{% endblock extend_head %}

{% block content %}
<section id="create_building">
    <div class="container">


        <div class="light-form-box">
            <h1 class="form-title">Create Building</h1>

            <form id="building-create-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="authForm">
                    <div class="success-message">
                        <!-- <span class="authSuccessMessage"></span> -->
                    </div>
                    <div class="error-message">
                        <!-- <span class="authErrorMessage"></span> -->
                    </div>

                    <div class="authFormDiv">
                        <!-- <span class="authErrorMessage">Message</span> -->
                        <input name="title" type="text" class="authInput" placeholder="Title" required>
                        <div class="authlabelline authcompleteProfileLabe">Title</div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="lowest_price" type="number" step="0.1" min="0" class="authInput"
                                    placeholder="Lowest Price" required>
                                <div class="authlabelline authcompleteProfileLabe">Lowest Price</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="highest_price" type="number" step="0.1" min="0" class="authInput"
                                    placeholder="Highest Price" required>
                                <div class="authlabelline authcompleteProfileLabe">Highest Price</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <select name="type" type="text" class="authInput authSelectInput"
                                    placeholder="Select Building Type" required>
                                    <option value="">........</option>
                                    <option value="residence">Residence</option>
                                    <option value="commercial">Commercial</option>
                                </select>
                                <div class="authlabelline authcompleteProfileLabe">Type</div>
                            </div>
                        </div>
                        <div class="col-lg-6" id="sub_type_container">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <select name="sub_type" id="sub_type_select" type="text" class="authInput authSelectInput"
                                    placeholder="Select Building Sub Type">
                                    <option value="">........</option>
                                    {% for value, label in sub_type %}
                                        <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                                <div class="authlabelline authcompleteProfileLabe">Sub Type</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <select name="quota" type="text" class="authInput authSelectInput"
                                    placeholder="Select Quota Type" required>
                                    <option value="">........</option>
                                    <option value="thai">Thai</option>
                                    <option value="foreign">Foreign</option>
                                </select>
                                <div class="authlabelline authcompleteProfileLabe">Quota</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <select name="furnishing" type="text" class="authInput authSelectInput"
                                    placeholder="Select Furnishing Type" required>
                                    <option value="">........</option>
                                    <option value="partly">Partly</option>
                                    <option value="fully">Fully</option>
                                </select>
                                <div class="authlabelline authcompleteProfileLabe">Furnishing</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <select id="status" name="status" type="text" class="authInput authSelectInput"
                                    placeholder="Select Project Status" required>
                                    <option value="">........</option>
                                    <option value="to_be_commenced">To Be Commenced</option>
                                    <option value="under_construction">Under Construction</option>
                                    <option value="completed">Completed</option>
                                </select>
                                <div class="authlabelline authcompleteProfileLabe">Project Status</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div id="constructionYearDiv" class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input id="construction_year" name="construction_year" type="number" class="authInput"
                                    placeholder="Enter Year (2000 - current year)" min="2000" required>
                                <div class="authlabelline authcompleteProfileLabe">Completion Date (2000 -
                                    Current Year)</div>
                            </div>
                        </div>
                    </div>

                    <div class="authFormDiv">
                        <!-- <span class="authErrorMessage">Message</span> -->
                        <input name="address" type="text" class="authInput pac-input" placeholder="Address" required>
                        <div class="authlabelline authcompleteProfileLabe">Address</div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="province" label="province" type="text" class="authInput"
                                    placeholder="Province" required>
                                <div class="authlabelline authcompleteProfileLabe">Province</div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="district" label="district" type="text" class="authInput"
                                    placeholder="District" required>
                                <div class="authlabelline authcompleteProfileLabe">District</div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="sub_district" label="sub-district" type="text" class="authInput"
                                    placeholder="Sub-District">
                                <div class="authlabelline authcompleteProfileLabe">Sub-District</div>
                            </div>
                        </div>
                        <input name="latitude" label="latitude" label-name="latitude" type="text" class="authInput"
                            placeholder="Latitude">
                        <input name="longitude" label="longitude" label-name="longitude" type="text" class="authInput"
                            placeholder="Longitude">
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="project_total_area" type="number" step="0.1" min="0" class="authInput"
                                    placeholder="Project Total Area (sqm)" required>
                                <div class="authlabelline authcompleteProfileLabe">Project Total Area (sqm)</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="total_floors" type="number" min="0" class="authInput"
                                    placeholder="Total Floor" required>
                                <div class="authlabelline authcompleteProfileLabe">Total Floor</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="total_units_for_sale" type="number" min="0" class="authInput"
                                    placeholder="Total Units For Sale" required>
                                <div class="authlabelline authcompleteProfileLabe">Total Units For Sale</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="distance_from_location_to_BTS_or_MRT" type="number" step="0.1" min="0"
                                    class="authInput" placeholder="Distance From Location to BTS/MRT" required>
                                <div class="authlabelline authcompleteProfileLabe">Distance From Location to BTS/MRT
                                    (Mile)</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="distance_from_location_to_ARL" type="number" class="authInput" step="0.1"
                                    min="0" placeholder="Distance From Location to ARL" required>
                                <div class="authlabelline authcompleteProfileLabe">Distance From Location to ARL (Mile)
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="view" type="text" class="authInput" placeholder="View" required>
                                <div class="authlabelline authcompleteProfileLabe">View</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="facility_view" type="url" class="authInput" placeholder="Facility View">
                                <div class="authlabelline authcompleteProfileLabe">
                                    Facility View ( e.g. https://my.matterport.com/show/?m=tHeZn1V85YQ)
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="location_view" type="url" class="authInput" placeholder="Location View">
                                <div class="authlabelline authcompleteProfileLabe">
                                    Location View ( e.g. https://my.matterport.com/show/?m=tHeZn1V85YQ)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_freehold" class="form-check-input" type="checkbox"
                                            id="freehold">
                                        <label class="form-check-label" for="freehold">
                                            Freehold
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_leasehold" class="form-check-input" type="checkbox"
                                            id="leasehold">
                                        <label class="form-check-label" for="leasehold">
                                            Leasehold
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_infinity_pool" class="form-check-input" type="checkbox"
                                            id="infinity_pool">
                                        <label class="form-check-label" for="infinity_pool">
                                            Infinity Pool
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_pets_allowed" class="form-check-input" type="checkbox"
                                            id="pets_allowed">
                                        <label class="form-check-label" for="pets_allowed">
                                            Pets Allowed
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_sauna" class="form-check-input" type="checkbox" id="sauna">
                                        <label class="form-check-label" for="sauna">
                                            Sauna
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_rooftop_pool" class="form-check-input" type="checkbox"
                                            id="rooftop_pool">
                                        <label class="form-check-label" for="rooftop_pool">
                                            Rooftop Pool
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_fitness_area" class="form-check-input" type="checkbox"
                                            id="fitness_area">
                                        <label class="form-check-label" for="fitness_area">
                                            Fitness Area
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_grocery" class="form-check-input" type="checkbox"
                                            id="grocery">
                                        <label class="form-check-label" for="grocery">
                                            Grocery
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <button type="button" id="generate-building-description"  class="generating-btn">
                                <span id="generateBuildingDescription" class="p-0">Generate Description</span>
                                <div id="descriptionLoadingSpinner" class="spinner-border" role="status"
                                    style="display: none;">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </button>
                            <div class="authFormDiv textarea">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <textarea name="description" type="text" class="authInput profileCompanyDeatils"
                                    placeholder="Description" required></textarea>
                                <div class="authlabelline authcompleteProfileLabe">Description</div>
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="images" type="file" accept="image/*" class="authInput authFile"
                                        required multiple>
                                    <div class="fileName"> Upload Building Images </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    <!-- dom area -->
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="unit_floor_plans" type="file" accept="image/*"
                                        class="authInput authFile" required multiple>
                                    <div class="fileName"> Upload Unit Floor Plan Images </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    <!-- dom area -->
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="master_plans" type="file" accept="image/*" class="authInput authFile"
                                        required multiple>
                                    <div class="fileName"> Upload Master Plan Images </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    <!-- dom area -->
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="videos" type="file" accept="video/*" class="authInput authFile"
                                        required>
                                    <div class="fileName"> Upload Video </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    <!-- dom area -->
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="aerial_drone_videos" type="file" accept="video/*"
                                        class="authInput authFile" required>
                                    <div class="fileName"> Upload Aerial Drone Video </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    <!-- dom area -->
                                </div>
                            </div>
                        </div>

                    </div>


                    <button type="submit" class="authButton completeProfileButton" id="create-property">
                        <span id="createBuildingButtonText">Create Building</span>
                        <div id="loadingSpinner" class="spinner-border" role="status" style="display: none;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

<div class="ai-generate-description-modal">
    <div class="ai-generate-description-overloay" ai-close-modal="description"></div>
    <div class="ai-generate-description-body">
        <h1> Generated Description </h1>
        <textarea class="created-description-textarea" placeholder="Generated description ..."></textarea>
        
        <section id="open-ai-chat-box">
            <div class="re-generate-error-message my-2"></div>
            <div class="clearfix open-ai-card">
                <div class="chat-app">
                    <div class="chat">
                        <div class="chat-message clearfix">
                            <div class="d-flex gap-2 mb-0 align-items-center">
                                <input type="text" class="class-chatbot-input" name="instruction_of_modification" placeholder="Write What You Want...">
                                <div class="input-group-prepend">
                                    <button type="botton" class="regenerate-chatbot-send-btn">
                                        <span><i class="bi bi-send"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="ai-generate-description-footer">
            <button ai-close-modal="description"> Cancel </button>
            <button class="add-to-description-field"> Add </button>
        </div>
    </div>
</div>

{% endblock %}
{% block extend_script %}
<script type="text/javascript">
    var createBuildingAPIUrl = "{% url 'building:api:create' %}"
    var generateBuildingDescriptionAPIUrl = "{% url 'building:api:generate_description' %}"
    var reGenerateBuildingDescriptionAPIUrl = "{% url 'building:api:re_generate_description' %}"
</script>
<script src="{% static 'js/building/create_building.js' %}?v=1.04"></script>
{% endblock extend_script %}