{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Update building</title>
<link rel="stylesheet" href="{% static '/css/auth.css' %}" />
<style>
    [label-name="latitude"],
    [label-name="longitude"]{
        display: none;
    }
</style>
{% endblock extend_head %}

{% block content %}
<section id="create_building">
    <div class="container">


        <div class="light-form-box">
            <h1 class="form-title">Update Building</h1>

            <form id="building-update-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="authForm">
                    <div class="success-message">
                        <!-- <span class="authSuccessMessage"></span> -->
                    </div>
                    <div class="error-message">
                        <!-- <span class="authErrorMessage"></span> -->
                    </div>

                    <div class="authFormDiv">
                        <!-- <span class="authErrorMessage">Message</span> -->
                        <input name="title" type="text" class="authInput" placeholder="Title"
                            value="{{ building.title }}" required>
                        <div class="authlabelline authcompleteProfileLabe">Title</div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="lowest_price" type="number" class="authInput" placeholder="Lowest Price"
                                    value="{{ building.lowest_price }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Lowest Price</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="highest_price" type="number" class="authInput" placeholder="Highest Price"
                                    value="{{ building.highest_price }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Highest Price</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <select name="type" type="text" class="authInput authSelectInput"
                                    placeholder="Select Building Type" required>
                                    <option value="">........</option>
                                    <option value="condos" {% if building.type == 'condos' %}selected{% endif %}>
                                        Condos
                                    </option>
                                    <option value="house" {% if building.type == 'house' %}selected{% endif %}>
                                        House
                                    </option>
                                </select>
                                <div class="authlabelline authcompleteProfileLabe">Type</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <select name="quota" type="text" class="authInput authSelectInput"
                                    placeholder="Select Quota Type" required>
                                    <option value="">........</option>
                                    <option value="thai" {% if building.quota == 'thai' %}selected{% endif %}>
                                        Thai
                                    </option>
                                    <option value="foreign" {% if building.quota == 'foreign' %}selected{% endif %}>
                                        Foreign
                                    </option>
                                </select>
                                <div class="authlabelline authcompleteProfileLabe">Quota</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <select name="furnishing" type="text" class="authInput authSelectInput"
                                    placeholder="Select Furnishing Type" required>
                                    <option value="">........</option>
                                    <option value="partly" {% if building.furnishing == 'partly' %}selected{% endif %}>
                                        Partly
                                    </option>
                                    <option value="fully" {% if building.furnishing == 'fully' %}selected{% endif %}>
                                        Fully
                                    </option>
                                </select>
                                <div class="authlabelline authcompleteProfileLabe">Furnishing</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="total_units_for_sale" type="number" class="authInput"
                                    placeholder="Total Units For Sale" value="{{ building.total_units_for_sale }}"
                                    required>
                                <div class="authlabelline authcompleteProfileLabe">Total Units For Sale</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="construction_year" type="number" class="authInput"
                                    placeholder="Enter Year (1930 - current year)" min="1930"
                                    value="{{ building.construction_year }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Construction Year (1930 -
                                    currentyear)</div>
                            </div>
                        </div>
                    </div>

                    <div class="authFormDiv">
                        <!-- <span class="authErrorMessage">Message</span> -->
                        <input name="address" type="text" class="authInput pac-input" placeholder="Address"
                            value="{{ building.address }}" required>
                        <div class="authlabelline authcompleteProfileLabe">Address</div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="province" label="province" type="text" class="authInput" placeholder="Province"
                                    value="{{ building.province }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Province</div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="district" label="district" type="text" class="authInput" placeholder="District"
                                value="{{ building.district }}" required>
                                <div class="authlabelline authcompleteProfileLabe">District</div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="sub_district" label="sub-district" type="text" class="authInput" placeholder="Sub-District"
                                value="{{ building.sub_district }}">
                                <div class="authlabelline authcompleteProfileLabe">Sub-District</div>
                            </div>
                        </div>

                        <input name="latitude" label="latitude" label-name="latitude" type="text" class="authInput" placeholder="Latitude" value="{{ building.latitude }}">
                        <input name="longitude" label="longitude" label-name="longitude" type="text" class="authInput" placeholder="Longitude" value="{{ building.longitude }}">
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="project_total_area" type="number" class="authInput"
                                    placeholder="Project Total Area" value="{{ building.project_total_area }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Project Total Area</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="total_floors" type="number" class="authInput" placeholder="Total Floor"
                                    value="{{ building.total_floors }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Total Floor</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="have_access_to_BTS_or_MRT" type="text" class="authInput"
                                    placeholder="Have Access to BTS/MRT" value="{{ building.have_access_to_BTS_or_MRT }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Have Access to BTS/MRT</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="have_access_to_ARL" type="text" class="authInput" placeholder="Have Access to ARL"
                                    value="{{ building.have_access_to_ARL }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Have Access to ARL</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="view" type="text" class="authInput" placeholder="View"
                                    value="{{ building.view }}" required>
                                <div class="authlabelline authcompleteProfileLabe">View</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_freehold" class="form-check-input" type="checkbox"
                                            id="freehold" {% if building.have_freehold %}checked{% endif %}>
                                        <label class="form-check-label" for="freehold">
                                            Have Freehold
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_leasehold" class="form-check-input" type="checkbox"
                                            id="leasehold" {% if building.have_leasehold %}checked{% endif %}>
                                        <label class="form-check-label" for="leasehold">
                                            Have Leasehold
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_infinity_pool" class="form-check-input" type="checkbox"
                                            id="infinity_pool" {% if building.have_infinity_pool %}checked{% endif %}>
                                        <label class="form-check-label" for="infinity_pool">
                                            Have Infinity Pool
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_pets_allowed" class="form-check-input" type="checkbox"
                                            id="pets_allowed" {% if building.have_pets_allowed %}checked{% endif %}>
                                        <label class="form-check-label" for="pets_allowed">
                                            Have Pets Allowed
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_sauna" class="form-check-input" type="checkbox" id="sauna" 
                                        {% if building.have_sauna %}checked{% endif %}>
                                        <label class="form-check-label" for="sauna">
                                            Have Sauna
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_sky_lounge" class="form-check-input" type="checkbox"
                                            id="sky_lounge" {% if building.have_sky_lounge %}checked{% endif %}>
                                        <label class="form-check-label" for="sky_lounge">
                                            Have Rooftop Pool
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_fitness_area" class="form-check-input" type="checkbox"
                                            id="fitness_area" {% if building.have_fitness_area %}checked{% endif %}>
                                        <label class="form-check-label" for="fitness_area">
                                            Have Fitness Area
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_grocery" class="form-check-input" type="checkbox" id="grocery"
                                            {% if building.have_grocery %}checked{% endif %}>
                                        <label class="form-check-label" for="grocery">
                                            Have Grocery
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <div class="authFormDiv textarea">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <textarea name="description" type="text" class="authInput profileCompanyDeatils"
                                    placeholder="Description" required>{{ building.description }}</textarea>
                                <div class="authlabelline authcompleteProfileLabe">Description</div>
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="images" type="file" accept="image/*" class="authInput authFile"
                                        multiple>
                                    <div class="fileName"> Upload Building Images </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    {% for image in images %}
                                    {% if image.file %}
                                    <div class="uploaded-file-view-img">
                                        <button class="remove-image" data-id="{{ image.id }}"><i
                                                class="bi bi-x"></i></button>
                                        <img src="{{ image.file.url }}" alt="Building Image">
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="unit_floor_plans" type="file" accept="image/*"
                                        class="authInput authFile" multiple>
                                    <div class="fileName"> Upload Unit Floor Plan Images </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    {% for unit_floor_plan in unit_floor_plans %}
                                    {% if unit_floor_plan.file %}
                                    <div class="uploaded-file-view-img">
                                        <button class="remove-image" data-id="{{ unit_floor_plan.id }}"><i
                                                class="bi bi-x"></i></button>
                                        <img src="{{ unit_floor_plan.file.url }}" alt="Building Image">
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="floor_plans" type="file" accept="image/*" class="authInput authFile"
                                        multiple>
                                    <div class="fileName"> Upload Building Floor Plan Images </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    {% for floor_plan in floor_plans %}
                                    {% if floor_plan.file %}
                                    <div class="uploaded-file-view-img">
                                        <button class="remove-image" data-id="{{ floor_plan.id }}"><i
                                                class="bi bi-x"></i></button>
                                        <img src="{{ floor_plan.file.url }}" alt="Building Image">
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="master_plans" type="file" accept="image/*" class="authInput authFile"
                                        multiple>
                                    <div class="fileName"> Upload Master Plan Images </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    {% for master_plan in master_plans %}
                                    {% if master_plan.file %}
                                    <div class="uploaded-file-view-img">
                                        <button class="remove-image" data-id="{{ master_plan.id }}"><i
                                                class="bi bi-x"></i></button>
                                        <img src="{{ master_plan.file.url }}" alt="Building Image">
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="videos" type="file" accept="video/*" class="authInput authFile">
                                    <div class="fileName"> Upload Video </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    {% for video in videos %}
                                    {% if video.file %}
                                    <a href="{{ video.file.url }}" alt="Building Video">{{ video.file.url }}</a>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="facilities_virtual_tours" type="file" accept="video/*" class="authInput authFile">
                                    <div class="fileName"> Upload Facilities Virtual Tour </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    {% for facilities_virtual_tour in facilities_virtual_tours %}
                                    {% if facilities_virtual_tour.file %}
                                    <a href="{{ facilities_virtual_tour.file.url }}" alt="Building facilities virtual tour">{{ facilities_virtual_tour.file.url }}</a>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="location_virtual_tours" type="file" accept="video/*" class="authInput authFile">
                                    <div class="fileName"> Upload Location Virtual Tour </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    {% for location_virtual_tour in location_virtual_tours %}
                                    {% if location_virtual_tour.file %}
                                    <a href="{{ location_virtual_tour.file.url }}" alt="Building location virtual tour">{{ location_virtual_tour.file.url }}</a>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="aerial_drone_videos" type="file" accept="video/*" class="authInput authFile">
                                    <div class="fileName"> Upload Aerial Drone Video </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    {% for aerial_drone_video in aerial_drone_videos %}
                                    {% if aerial_drone_video.file %}
                                    <a href="{{ aerial_drone_video.file.url }}" alt="Building aerial drone video">{{ aerial_drone_video.file.url }}</a>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>


                    <button type="submit" class="authButton completeProfileButton" id="create-property">
                        <span id="updateBuildingButtonText">Update building</span>
                        <div id="loadingSpinner" class="spinner-border" role="status" style="display: none;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block extend_script %}
<script type="text/javascript">
    var updateBuildingAPIUrl = "{% url 'building:api:update' building.id %}"
</script>
<script src="{% static 'js/building/update_building.js' %}?v=1.00"></script>
{% endblock extend_script %}