{% extends "base.html" %}
{% load static %}
{% block extend_head %}
<title>WIZER | Blog</title>
<!-- all css here -->
    <link rel="stylesheet" href="{% static '/css/new-search-page.css' %}?v=1.07" />
    <link rel="stylesheet" href="{% static '/css/search-page.css' %}?v=1.05" />
    <link rel="stylesheet" href="{% static '/css/blog-page.css' %}?v=1.01"/>
    <link rel="stylesheet" href="{% static '/css/libraries/splide.min.css' %}?v=1.00" />
    <link rel="stylesheet" href="{% static '/css/libraries/splide-default.min.css' %}" />
{% endblock extend_head %}


{% block content %}
<!-- adds  -->
<section>
    <div class="top-banner  mb-5">
        <div class="container">
            <div class="col-lg-8 col-md-8 col-11 mx-auto">
                <div class="splide ads-banner-slider">
                    <div class="splide__track">
                        <div class="splide__list ">
                            <!-- from dom -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <!-- filter -->
        <div class="all-filter-option">
            <div class="filter-option-area">
                <div class="filter-single-box category-filter" pop-target="A" filter-name="" active-filter="false">
                    <div class="center">
                        <div>
                            <div class="filter-icon">
                                <i class="bi bi-border-all"></i>
                            </div>
                            <div class="filter-label" filter-label-name="category">
                                Category
                            </div>
                        </div>
                    </div>
                </div>

                <div pop-element="A">
                    <div class="search-pop-up-box">
                        <div class="search-pop-up-select-box" label="category">
                            <select name="nearby" class="blog-category-select-filter" filter-name="category">
                                <option value="">All</option>
                                {% for category in categories %}
                                    <option value="{{ category.name }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <!-- =========================================== -->

                <div class="filter-single-box most-read-filter" pop-target="price-box" tag-name="price" filter-name="most-read" active-filter="false">
                    <div class="center">
                        <div>
                            <div class="filter-icon">
                                <i class="bi bi-book"></i>
                                <i class="bi bi-book-fill"></i>
                            </div>
                            <div class="filter-label" filter-label-name="most-read">
                                Most read
                            </div>
                        </div>
                    </div>
                </div>
           

                  <!-- =========================================== -->

                <div class="filter-single-box most-liked-filter" pop-target="property-type" active-filter="false" filter-name="most-liked">
                    <div class="center">
                        <div>
                            <div class="filter-icon">
                                <i class="bi bi-hand-thumbs-up"></i>
                                <i class="bi bi-hand-thumbs-up-fill"></i>

                            </div>
                            <div class="filter-label" label-value="property-type">
                                Most Liked
                            </div>
                        </div>
                    </div>
                </div>

                <!-- =========================================== -->

                <div class="filter-single-box most-recent-filter" pop-target="bed-box" filter-name="most-recent" active-filter="false">
                    <div class="center">
                        <div>
                            <div class="filter-icon">
                                <i class="bi bi-clock"></i>
                                <i class="bi bi-clock-fill"></i>
                            </div>
                            <div class="filter-label" filter-label-name="most-recent">
                                Most Recent
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- blogs cards -->
        <div class="blog-cards mt-5">
            <div class="row blog-content-container">
            </div>
            <div class="blog-list-loader">
                <img class="loader" src="{% static '/media/loader.gif' %}" alt="loader">
            </div>
            <div class="no-more-blogs d-none">
                <p class="text-center">No more blogs to load</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block extend_script %}
<!-- all js here -->
 <script src="{% static '/js/libraries/splide.min.js' %}"></script>
 <script src="{% static '/js/blog-page-list.js' %}?v=1.01"></script>
 <script src="{% static '/js/blog-ads.js' %}?v=1.05"></script>


{% endblock extend_script %}