{% load static %} {% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'media/icons/favicon.ico' %}" type="image/x-icon">

    <!-- for all -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/libraries/bootstrap-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libraries/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libraries/fontawesome-all.min.css' %}" />

    {% block extend_head %}{% endblock extend_head %}
    <link rel="stylesheet" href="{% static '/css/auth.css' %}?v=1.01" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}?v=1.01" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.01" />
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
</head>

<body>
    <main>
        

        {% url 'user:profile_settings' as profile_settings_url %}
        {% url 'building:create' as create_building_url %}
        {% url 'property:create' as create_property_url %}
        {% url 'property:comparison' as comparison_property_url %}
        {% url 'property:favorite_list' as favorite_list_property_url %}
        {% url 'advertise:create_reels' as create_reels_url %}

        <header class="wip-header">
            <div class="w-100 px-5">
                <div class="header">
                    <div class="wip-logo">
                        <a href="/">
                            <img src="{% static 'media/logo.png' %}" alt="logo">
                        </a>
                    </div>
                    
                    <div class="navigations">
                        {% if user.is_authenticated and user.is_complete_profile %}
                            <a class="nav-link {% if request.path == '/dashboard/' %}active-nav{% endif %}"
                                href="/dashboard">Dashboard</a>
                            {% if request.user.user_type == "developer" or request.user.user_type == "agent" %}
                            <a class="nav-link {% if request.path == create_building_url %}active-nav{% endif %}"
                                href="{{ create_building_url }}">Building</a>
                            <a class="nav-link {% if request.path == create_property_url %}active-nav{% endif %}"
                                href="{{ create_property_url }}">Property</a>

                            <a class="nav-link {% if request.path == create_reels_url %}active-nav{% endif %}"
                                href="{{ create_reels_url }}">Reels</a>
                            {% endif %}

                            {% if request.user.user_type == "prospect" %}
                            <a class="nav-link {% if request.path == comparison_property_url %}active-nav{% endif %}" 
                                href="{{ comparison_property_url }}">
                                Comparison
                            </a>
                            
                            <a class="nav-link {% if request.path == favorite_list_property_url %}active-nav{% endif %}" 
                                href="{{ favorite_list_property_url }}">
                                Favorite List
                            </a>
                            {% endif %} 
                        {% endif %}

                        <a class="nav-link" href="#">Mortgages</a>
                        <a class="nav-link" href="#">Prices And Trends</a>
                        <a class="nav-link" href="#">Find A Developer</a>
                        <a class="nav-link" href="#">Commercial</a>
                        <a class="nav-link" href="#">International</a>
                    </div>

                    {% if user.is_authenticated and user.is_complete_profile %}

                    <div class="navigation-right-side">
                        <div class="profile-dropdown">
                            <div class="profile-dropdown-img">
                                {% if request.user.user_type == "developer" %}
                                <img src="{{ request.user.developerprofile.company_logo.url }}" alt="Company Logo">
                                {% elif request.user.user_type == "agent" %}
                                <img src="{{ request.user.agentprofile.company_logo.url }}" alt="Company Logo">
                                {% else %}
                                <img src="{% static 'media/default-avatar.jpg' %}" alt="">
                                {% endif %}
                            </div>
                            <span>{{ request.user.username }}</span>

                            <div class="profile-dropdown-area">
                                <a class="nav-link {% if request.path == profile_settings_url %}active-nav{% endif %}"
                                    href="{{ profile_settings_url }}">Profile settings</a>

                                {% if request.user.user_type == "prospect" %}
                                <a 
                                    class="nav-link {% if request.path == comparison_property_url %}active-nav{% endif %}" 
                                    href="{{ comparison_property_url }}">
                                    Comparison
                                </a>

                                <a 
                                    class="nav-link {% if request.path == favorite_list_property_url %}active-nav{% endif %}" 
                                    href="{{ favorite_list_property_url }}">
                                    Favorite List
                                </a>
                                {% endif %}                            
                                <a class="nav-link" href="{% url 'user:logout' %}">Log out</a>
                            </div>
                        </div>

                        <div class="mobile-menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    {% endif %}

                    {% if not user.is_authenticated %}
                        <div class="d-flex">
                            <a class="nav-link sign-up-btn" href="/user/get-started/">Sign Up</a>
                            <button class="nav-link active-nav" log-modal-btn="open">Login</button>
                        </div>
                    {% endif %}

                </div>
            </div>

            <div class="side-nav-overflow"></div>
            <div class="side-nav"></div>
        </header>
        



        {% block content %}{% endblock %}


    </main>


    <!-- log in modal -->
    <div class="log-in-modal">
        <div class="log-in-modal-overlay" log-modal-btn="close"></div>
        <div class="log-in-modal-body">
            <div class="log-in-modal-header">
                <div class="logo">
                    <img src="{% static 'media/logo.png' %}" alt="logo">
                </div>
                <button class="log-in-close-btn" log-modal-btn="close">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="log-in-modal-form">
                <h1 class="auth-section-title py-3"> Login to <b>Wizer Properties</b> </h1>
                <div class="auth-input-wrapper">
                    <label>User email</label>
                    <input type="text" name="email" placeholder="Your email">
                </div>

                <div class="auth-input-wrapper">
                    <label>Password</label>
                    <div box-type="password">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>

                <div class="auth-response-messages"></div>
                <button type="submit" class="auth-form-btn" button-name="log-in">
                    Login
                </button>
            </div>
        </div>
    </div>


    <!-- Reusable Confirmation Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel"></h5>
                    <button type="button" class="close confirm-modal-close-icon" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="confirmationModalBody"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn" id="confirmButton"></button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="footer-content-area">
                <div class="footer-links">
                    <a href="/contact/">Contact Us</a>
                    <a href="/privacy/">Privacy</a>
                    <a href="/about-us/">About Us</a>
                </div>

                <div class="footer-social-links">
                    <a target="_blank" href="">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a target="_blank" href="">
                        <i class="bi bi-youtube"></i>
                    </a>
                    <a target="_blank" href="">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                </div>
            </div>

            <p class="copy-right">
                © Copyright - WiSERPROPERTIES - Developed by
                <a href="https://vaid.tech" target="_blank"> Vaidtech </a>
            </p>
        </div>
    </footer>
</body>

<script>
    {% if request.user.is_authenticated %}
        var user_type = '{{request.user.user_type}}'
    {% else %}
        var user_type = false
    {% endif %}
</script>

<script src="{% static 'js/libraries/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="{% static 'js/libraries/fontawesome-all.min.js' %}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<script src="{% static 'js/main.js' %}?v=1.00"></script>
<script src="{% static 'js/header.js' %}?v=1.01"></script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFApEXkq_FxTWGAVwEOEYxCtIxJ3iR9kU&libraries=places&callback=initializeMap">
    </script>

<script src="{% static 'js/g_map.js' %}?v=1.00"></script>
<script>
    var csrfToken = "{{ csrf_token }}"


    // For modal
    function showModal(data) {
        var modal = $('#confirmationModal');
        modal.find(".modal-title").html(data?.modalTitle);
        modal.find(".modal-body").html(data?.modalBody);
        modal.find("#confirmButton").html(data?.confirmButtonLabel);
        modal.modal("show");
        modal.addClass(data?.parentClass)

        $('#confirmButton').css({
            'background-color' : '#417e41',
            'display': 'block',
            'color' : '#fff'
        });

        if(data?.confirmButtonType == 'success'){
            $('#confirmButton').css({
                'background-color' : '#417e41',
                'display': 'block',
                'color' : '#fff'
            })
        }else if(data?.confirmButtonType == 'danger'){
            $('#confirmButton').css({
                'display': 'block',
                'background-color' : '#e25c5c',
                'color' : '#fff'
            })
        }else if(data?.confirmButtonType == 'hidden'){
            $('#confirmButton').css({
                'display': 'none',
            })
        };

        if(data?.hide_dismiss_button){
            $('[data-bs-dismiss]').css({
                'display': 'none',
            })
        }else{
            $('[data-bs-dismiss]').css({
                'display': 'block',
            })
        }
    };


    function formatBalance(number) {
        var parts = String(number).split('.');
        var integerPart = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        var formattedNumber = parts.length > 1 ? integerPart+'.'+parts[1] : integerPart;
        return formattedNumber;
    };

    /*
        var modal_option = {
            modalTitle : "any", // modal title text
            modalBody : "any", // modal body text
            confirmButtonLabel : "any", // action button text
            parentClass : "any", // adding a class with #confirmationModal
            confirmButtonType : 'success/danger/hidden', // default is 'success'
            hide_dismiss_button : 'true/false', // default is false
        };

        // pop up the modal by calling "showModal"
        showModal(modal_option);    
    */ 
</script>
<script>
    var login_url = "{% url 'user:login' %}"
</script>
<script src="{% static 'js/auth/login.js' %}?v=1.01"></script>
{% block extend_script %}{% endblock extend_script %}

</html>