{% load static %} {% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- for all -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/libraries/bootstrap-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libraries/bootstrap.min.css' %}" />
    <link
        rel="stylesheet"
        href="{% static 'css/libraries/fontawesome-all.min.css' %}"
    />
    
    {% block extend_head %}{% endblock extend_head %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}?v=1.00" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.00" />
</head>
<body>
    <main>
        {% if user.is_authenticated and user.is_complete_profile %}

        {% url 'user:profile_settings' as profile_settings_url %}
        {% url 'building:create_building' as create_building_url %}
        {% url 'property:create_property' as create_property_url %}

        <header class="wip-header">
            <div class="w-100 px-5">
                <div class="header">
                    <div class="navigations">
                        <div class="wip-logo">
                            <a href="/">
                                <img src="{% static 'media/logo.png' %}" alt="logo">
                            </a>
                        </div>
    
                        <a class="nav-link {% if request.path == create_building_url %}active-nav{% endif %}" href="{{ create_building_url }}">Building</a>
                        <a class="nav-link {% if request.path == create_property_url %}active-nav{% endif %}" href="{{ create_property_url }}">Property</a>
    
                        <div class="search-box">
                            <i class="bi bi-search"></i>
                            <input id="pac-input" type="text" placeholder="Search by location"/>
                        </div>
                    </div>
    
                    <div class="navigation-right-side">
                        <div class="profile-dropdown">
                            <div class="profile-dropdown-img">
                                {% if request.user.user_type == "developer" %}
                                    <img src="{{ request.user.developerprofile.company_logo.url }}" alt="Company Logo">
                                {% elif request.user.user_type == "agent" %}
                                    <img src="{{ request.user.agentprofile.company_logo.url }}" alt="Company Logo">
                                {% elif request.user.user_type == "prospect" %}
                                    <img src="{{ request.user.prospectprofile.picture.url }}" alt="Profile Picture">
                                {% else %}
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC3N4H90AMq0P9apQt3DbMe-SjO85txgTh68zplxuQqQ&s" alt="">
                                {% endif %}
                            </div>
                            <span>{{ request.user.username }}</span>
    
                            <div class="profile-dropdown-area">
                                <a class="nav-link {% if request.path == profile_settings_url %}active-nav{% endif %}" href="{{ profile_settings_url }}">Profile settings</a>
                                <a class="nav-link" href="{% url 'user:logout' %}">Log out</a>
                            </div>
                        </div>
        
                        <div class="mobile-menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="side-nav-overflow"></div>
            <div class="side-nav"></div>
        </header>
        {% endif %}



        {% block content %}{% endblock %}


    </main>

    {% if user.is_authenticated and user.is_complete_profile %}
    <footer>
        <div class="container">
            <div class="footer-content-area">
                <div class="footer-links">
                    <a href="">Contact Us</a>
                    <a href="">Privacy</a>
                    <a href="">About Us</a>
                </div>

                <div class="footer-social-links">
                    <a target="_blank" href="">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a target="_blank" href="">
                        <i class="bi bi-youtube"></i>
                    </a>
                    <a target="_blank" href="">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                </div>
            </div>

            <p class="copy-right">
                © Copyright - WiSERPROPERTIES - Developed by 
                <a href="https://vaid.tech" target="_blank"> Vaidtech </a>
            </p>
        </div>
    </footer>
    {% endif %}
</body>
<script src="{% static 'js/libraries/jquery.min.js' %}"></script>
<script src="{% static 'js/libraries/fontawesome-all.min.js' %}"></script>

<script src="{% static 'js/main.js' %}?v=1.00"></script>
<script src="{% static 'js/header.js' %}?v=1.00"></script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFApEXkq_FxTWGAVwEOEYxCtIxJ3iR9kU&libraries=places&callback=initializeMap">
</script>

<script>
    var csrfToken = "{{ csrf_token }}"


    function initializeMap() {
        const input = document.getElementById("pac-input");
        const options = {
            fields: ["address_components", "geometry", "icon", "name"],
            strictBounds: false,
        };
        const autocomplete = new google.maps.places.Autocomplete(input);
    }
</script>

{% block extend_script %}{% endblock extend_script %}
</html>