{% extends "auth/profile.html" %}
{% load static %}

{% block profile %}

<!--- Complete Profile Form Start --->

<div class="authForm">
    <div class="success-message">
        <!-- <span class="authSuccessMessage"></span> -->
    </div>
    <div class="error-message">
        <!-- <span class="authErrorMessage"></span> -->
    </div>
    <div class="authFormDiv">
        <!-- <span class="authErrorMessage">Message</span> -->
        <input name="picture" type="file" accept="image/*" class="authInput authFile" required>
        <div class="fileName">Profile Picture</div>
    </div>
    <div class="authFormDiv">
        <!-- <span class="authErrorMessage">Message</span> -->
        <input name="first_name" type="text" class="authInput" placeholder="First Name" required>
        <div class="authlabelline authcompleteProfileLabe">First Name</div>
    </div>
    <div class="authFormDiv">
        <!-- <span class="authErrorMessage">Message</span> -->
        <input name="last_name" type="text" class="authInput" placeholder="Last Name" required>
        <div class="authlabelline authcompleteProfileLabe">Last Name</div>
    </div>
    <div class="authFormDiv">
        <!-- <span class="authErrorMessage">Message</span> -->
        <input name="email" type="email" class="authInput" placeholder="Email" required>
        <div class="authlabelline authcompleteProfileLabe">Email</div>
    </div>
    <div class="authFormDiv">
        <!-- <span class="authErrorMessage">Message</span> -->
        <input name="phone_number" type="tel" class="authInput" placeholder="Phone Number" required>
        <div class="authlabelline authcompleteProfileLabe">Phone Number</div>
    </div>
    <div class="authFormDiv">
        <!-- <span class="authErrorMessage">Message</span> -->
        <select name="gender" type="text" id="emailInput" class="authInput authSelectInput"
            placeholder="Gender" required>
            <option value="">........</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <div class="authlabelline authcompleteProfileLabe">Gender</div>
    </div>
    <div class="authFormDiv">
        <!-- <span class="authErrorMessage">Message</span> -->
        <input name="address" type="text" class="authInput" placeholder="Address" required>
        <div class="authlabelline authcompleteProfileLabe">Address</div>
    </div>
    <button type="submit" class="authButton completeProfileButton">
        <span id="loginButtonText">Complete Profile</span>
        <div id="loadingSpinner" class="spinner-border" role="status" style="display: none;">
            <span class="sr-only">Loading...</span>
        </div>
    </button>
</div>

<!--- Complete Profile Form End --->

{% endblock %}