<!-- google translate -->
<div id="google_translate_element" style="display: none;"></div>
<div class="d-flex align-items-center gap-2 trans-box-main">
    <i class="bi bi-globe"></i>
    <div class="dropdown trans-drop">
        <button class="bg-transparent border-0 dropdown-toggle notranslate" type="button" id="custom_translate_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            EN
        </button>
        <ul class="dropdown-menu lang-list" aria-labelledby="custom_translate_dropdown">
            <div class="triangle-icon">
                <img src="../static/media/icons/triangle.svg">
            </div>
            <li>
                <span class="dropdown-item notranslate" data-language="/en/en">English</span>
            </li>
            <li>
                <span class="dropdown-item notranslate" data-language="/en/th">Thai</span>
            </li>
            <li>
                <span class="dropdown-item notranslate" data-language="/en/zh-CN">Chinese</span>
            </li>
        </ul>
    </div>
</div>