{% extends "admin/change_list.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <!-- Local CSS -->
    <link rel="stylesheet" href="{% static 'css/libraries/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libraries/bootstrap-icons.css' %}" />


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="{% static 'js/libraries/jquery.min.js' %}"></script>
    <script src="{% static 'js/building/admin-building-info.js' %}?v=1.01"></script>

    <style>
        h1 {
            margin: 0 0 20px;
            font-weight: 300;
            font-size: 1.25rem;
            color: var(--body-quiet-color);
        }
    </style>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="modal fade" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="confirmationModalLabel">Building Information</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info text-white" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
