body{
    overflow-x: hidden;
}

.login-form-box{
    background-image: linear-gradient(315deg, #140733 0%, #103bd4 54%);
    min-height: 100vh;
    color: white;
}
.login-des-box{
    background-color: #fff120;
}
.logo{
    text-align: center;
    margin-top: 6%;
}
.logo a img{
    width: 140px;
}
.login-form-box p{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.authArea {
    position: relative;
    height: auto;
    line-height: 50px;
    width: 45%;
    margin: 50px auto;
    border-radius: 10px;
    padding: 40px 0px;
    background-image: linear-gradient(315deg, #3956d1 0%, #375ad5 54%);
    box-shadow: 2px 2px #f0ffff;
    border: 1px solid;
}
.authForm {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.authInput {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 20px;
    padding: 0 30px;
    line-height: 45px;
    border-radius: 10px;
    border: 2px solid #f0ffff;
    background: transparent;
    z-index: 11;
    color: #D2FF00;
}
.authlabelline {
    position: absolute;
    font-size: 15px;
    color: #f0ffff;
    padding: 0 25px;
    transition: 0.2s ease;
}
.authInput:focus, .authInput:not(:placeholder-shown) {
    color: #fff;
    border: 4px solid #fff;
 }
 .authInput:focus + .authlabelline,
 .authInput:not(:placeholder-shown) + .authlabelline {
   color: #fff;
   height: 30px;
   line-height: 30px;
   transform:  translate(-15px, -16px) scale(0.88);
   z-index: 111;
   margin: 0 24px;
   background-color: #375ad5;
   max-width: 200px !important;
 }
.authInput::placeholder {
   opacity: 0; 
}
.authButton {
    background-color: #ffd350;
    width: 150px;
    height: 45px;
    border-radius: 35px;
    border: 2px solid #ffd350;
    color: white;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}
.authButton:hover {
    background-color: #ffd35000;
    transition: all .8s ease;
    border: 2px solid #fff;
}
.authIconDiv {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
}
.authIcon {
    font-size: 22px;
    color: #103bd4;
}
.authIcon:hover {
    color: #ffd350;
    transition: all .8s ease;
}
.authTextArea {
    margin-top: 280px;
    text-align: center;
}
.authTextAreaTitle{
    color: white;
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 1px;
}
.authTextAreaDescription{
    color: white;
    font-size: 25px;
    width: 70%;
    position: relative;
    margin: 30px auto;
}
.authSignUpButton {
    background-color: #375ad5;
    width: 250px;
    height: 65px;
    border-radius: 35px;
    border: 2px solid #ffd350;
    color: white;
    font-size: 25px;
    line-height: 65px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.authSignUpButton:hover {
    background-color: #ffd35000;
    transition: all .8s ease;
    border: 2px solid #fff;
    color: #fff;
}
.authTextForget {
    font-size: 25px;
    margin-top: 30px;
    color: white;
    display: block;
    text-decoration: none;
}
.authSelectInput {
    height: 50px;
}
.authSelectInput option {
    background-color: #164db6;
}
.profileCompanyDeatils {
    height: 150px;
}
.completeProfileButton {
    width: 60%;
    margin-top: 110px;
}
.completeProfileLogo {
    margin-top: 4%;
}
.fileName{
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    padding: 0 20px;
    color: var(--text-color);
    z-index: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: transparent;
    margin-top: 27px;
    border: 2px solid #f0ffff;
    border-radius: 10px;
    font-size: 14px !important;
    text-align: left !important;
    line-height: 45px;
}
.authFile {
    opacity: 0;
}
.fileName[add-file="true"]{
    color: var(--tittle-color);
}
.authArea.completeProfileArea {
    line-height: 40px;
}
.authFormDiv {
    display: flow-root;
    list-style: none;
    margin-bottom: 75px;
    position: relative;
}
.authForm span {
    display: block;
    line-height: 30px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 1px;
}
.authErrorMessage {
    background-color: #e56767d4;
}
.authSuccessMessage {
    background-color: #14b714e8;
}
.authcompleteProfileLabe {
    padding: 7px 25px;
    top: 5px;
    max-height: 35px;
}

#phone_code{
    padding: 10px !important;
}

.phone_code_area,
.phone_number_area{
    position: relative;
}

.phone_code_area{
    width: 100px;
    margin-right: 10px;
}

.phone_number_area{
    width: calc(100% - 110px);
}

/* =========================== */
.auth-body{
    background-image: url('/static/media/background/auth-page-bg.webp');
    width: 100vw;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    place-items: center;
    padding: 30px 0;
}

.auth-body::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #00000025;
}

.auth-form-container{
    width: 880px;
    position: relative;
    z-index: 999;
}

.auth-form-row{
    background-color: #fff;
    overflow: hidden;
    border-radius: 5px;
}

.auth-form-firt-row{
    background-color: #f7f1ff;
}

.auth-input-wrapper{
    margin-bottom: 20px;
}

.auth-input-wrapper input,
.auth-input-wrapper select,
.auth-input-wrapper textarea{
    display: block;
    border: 1px solid #d8d3e0;
    padding: 10px 15px;
    width: 100%;
    border-radius: 3px;
    resize: none;
}

.auth-input-wrapper label{
    color: #212529;
    font-size: 16px;
    font-weight: 500;
}

.auth-form-btn{
    display: block;
    width: 100%;
    padding: 8px 10px;
    color: #fff !important;
    text-align: center;
    border: none;
    border-radius: 3px;
    background-image: var(--th-gradient-bg);
}

.password-view{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 9;
    background-color: transparent;
    border: none;
    font-size: 22px;
}

[box-type="password"]{
    position: relative;
}

[box-type="password"] input{
    padding-right: 30px;
}

.auth-form-container .logo{
    width: 160px;
    margin: auto;
    margin-bottom: 25px;
}

.auth-form-container .logo img {
    width: 100%;
}

.auth-section-title{
    font-size: 16px;
    text-align: center;
}

.auth-optional-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.auth-response-messages *{
    font-size: 14px;
}

.extra-auth-link {
    margin-top: 25px;
}

.extra-auth-link p{
    margin: 0 !important;
    margin-bottom: 5px !important;
    font-size: 15px;
    font-weight: 500;
}

.extra-auth-link p:last-child{
    margin: 0 !important;
}

#loadingSpinner{
    width: 20px !important;
    height: 20px !important;
}

.password-view{
    cursor: pointer;
}

.auth-form-area{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.auth-notes{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 30px;
}

@media screen and (max-width: 1400px){
    .completeProfileButton {
        font-size: 14px;
        width: 80%;
    }
    
}
@media screen and (max-width: 1120px){
    .login-form-box {
        height: auto;
    }

    .completeProfileButton {
        width: 70%;
    }

    .authArea{
        width: 400px;
    }
}

@media screen and (max-width: 991px){
    .authTextArea {
        margin-top: 20px;
    }

    .auth-form-container{
        width: 90%;
    }
}

@media screen and (max-width: 575px){
    .auth-optional-section{
        display: none;
    }

    .auth-form-firt-row{
        background-color: #fff;
        padding-bottom: 0px !important;
    }
}

@media screen and (max-width: 620px){
    .authArea{
        width: 95%;
    }
    .completeProfileButton {
        width: 80%;
    }
    
}