#dashboard-cards-list-area{
    padding: 25px 0;
}

.dashboard-single-card{
    display: flex;
    align-items: center;
    padding: 20px 30px;
    justify-content: space-between;
    border-radius: 10px;
    color: #fff;
    height: 100%;
    box-shadow: 0 4px 10px 2px rgba(0,0,0,.2);
    transition: box-shadow .5s;
    cursor: context-menu;
}

.dashboard-single-card:hover{
    box-shadow: none !important;
}

.dashboard-single-card svg,
.dashboard-single-card .bi{
    font-size: 30px;
    display: block;
    margin-left: 10px;
}

.single-card-value span{
    font-size: 24px;
    font-weight: 600;
}

.single-card-value p{
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}

.dashboard-card:nth-child(1) .dashboard-single-card{
    background-color: #5A7FE8;
}

.dashboard-card:nth-child(2) .dashboard-single-card{
    background-color: #F5519C;
}

.dashboard-card:nth-child(3) .dashboard-single-card{
    background-color: #3BB6B4;
}

.dashboard-card:nth-child(4) .dashboard-single-card{
    background-color: #FF9653;
}

.dashboard-data-table{
    min-width: 1000px;
}

.table-area{
    margin-bottom: 25px;
}

.mid-table{
    min-width: 400px;
}

@media screen and (max-width: 991px) {
    .dashboard-card:nth-child(1),
    .dashboard-card:nth-child(2){
        margin-bottom: 25px;
    }

    .dashboard-single-card{
        padding: 15px 20px;
    }
}

@media screen and (max-width: 600px){
    .dashboard-single-card svg, .dashboard-single-card .bi {
        font-size: 26px;
    }

    .single-card-value span {
        font-size: 22px;
    }

    .single-card-value p {
        font-size: 12px;
    }

    .dashboard-card:nth-child(1),
    .dashboard-card:nth-child(2){
        margin-bottom: 15px;
    }
}