#details-banner{
    position: relative;
    padding-top: 25px;
}

.title-perice-area{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    flex-direction: column;
}

#details-banner address,
#details-banner .unit-id{
    display: flex;
    gap: 5px;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.gallery-btn{
    display: flex;
    gap: 10px 0;
    flex-wrap: wrap;
}

.details-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 500px;
    width: 100%;
}

.details-gallery-img-box{
    overflow: hidden;
}

.details-gallery-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.details-gallery-img-box:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
}

.details-gallery-img-box:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
}

.details-gallery-img-box:nth-child(3) {
    grid-area: 2 / 3 / 3 / 4; 
}

.details-gallery-img-box:nth-child(4) {
    grid-area: 1 / 4 / 2 / 5;
}

.details-gallery-img-box:nth-child(5) {
    grid-area: 2 / 4 / 3 / 5;
}

#banner-nav-tabContent{
    padding: 20px 0;
    min-height: 540px;
    position: relative;
}

#map{
    height: 500px;
}

.property-address-price-info{
    padding-bottom: 60px;
}

.property-short-info{
    display: flex;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 60px;
    padding: 20px 0;
    flex-wrap: wrap;
    gap: 15px 0;
}

.property-short-info-icon{
    margin-right: 10px;
    position: relative;
    top: -2px;
}

.property-short-info-icon img{
    width: 17px;
}

.property-value{
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.property-label{
    font-size: 12px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #9a959e;
}

.info-list-box{
    border-bottom: 1px dashed #e8e9ea;
    padding: 5px 0;
}

.info-list-box .info-list-label{
    font-size: 13px;
    color: #9a959e;
    display: block;
}

.info-list-box .info-list-data{
    font-size: 14px;
    color: #726E6E;
    display: block;
}

.info-list{
    position: relative;
    margin-bottom: 15px;
}

.info-list::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    background-color: #fff;
    width: 100%;
}

.building-img-gallery{
    height: 220px;
    width: 100%;
    margin-bottom: 10px;
}

.building-details,
.facilities-area,
#available-units,
.property-info-area,
#review{
    margin-bottom: 60px;
}

.building-img-gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.building-details-info-list .info-list-box,
.developer-co-details-info-list .info-list-box{
    display: flex;
}

.building-details-info-list .info-list-label{
    width: 150px;
    flex: 0 0 150px;
}

.developer-co-details-info-list .info-list-label{
    width: 35px;
    min-width: 35px;
    height: 35px;
    background-color: var(--th-color);
    display: grid;
    place-items: center;
    color: #fff;
    border-radius: 100%;
}

.facilities-box-icon i{
    font-size: 15px;
}

.facilities-box{
    display: flex;
    align-items: center;
}

.facilities-box-label{
    display: block;
    margin-left: 10px;
    color: #726E6E;
    font-size: 15px;
}

.contact-info-list-btn a{
    display: flex;
    font-size: 15px;
    padding: 8px;
    text-align: center !important;
    justify-content: center;
    max-width: 420px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #fff !important;
    color: #484848 !important;
    border: 1px solid #d3d3d3 !important;
    border-radius: 5px;
}

.contact-info-list-btn a.link{
    background-color: var(--th-color) !important;
    border-color: var(--th-color) !important;
}

.contact-info-side-box{
    padding: 25px 35px;
    box-shadow: 1px 2px 13px 5px rgba(0,0,0,.05);
    margin-bottom: 25px;
    border-radius: 5px;
    background: #7f1378;

    .section-title{
        color: #fff !important;
    }
}

.developer-company-logo{
    height: 80px;
    overflow: hidden;
    width: 160px;
    min-width: 160px;
    background-color: #ffffff14;
}

.developer-company-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.developer-co-info .section-title{
    margin: 0 !important;
    font-size: 17px;
}

#available-units .page-link{
    color: #726E6E !important;
    cursor: pointer;
}

#available-units .active .page-link{
    color: #fff !important;
}

.side-box-info{
    position: sticky;
    top: 10px;
}

.img-gallery-dialog{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    padding: 30px 50px;
    display: none;
}

body[img-gallery-open="true"]{
    overflow: hidden !important;
}

body[img-gallery-open="true"] .img-gallery-dialog{
    display: block;
}

.img-gallery-dialog-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.img-gallery-dialog-container{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    z-index: 11;
    padding: 40px 0;
    border-radius: 10px;
}

.img-gallery-close-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    color: #484848;
    border: 1px solid #726E6E;
    border-radius: 100%;
}

.img-gallery-dialog-slider{
    height: 100%;
    width: 100%;
}

.img-gallery-dialog-slider .splide__track{
    height: 100%;
    width: 100%;
} 

.img-gallery-dialog-img{
    width: 100%;
    height: 100%;
}

.img-gallery-dialog-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.details-gallery-video{
    height: 500px;
    width: 100%;
    position: relative;
}

.details-gallery-3D-view iframe{
    height: 100%;
}

.details-gallery-3D-view{
    height: 500px;
}

.video-js{
    width: 100%;
    height: 100%;
}

[label-name]{
    position: relative;
}

[label-name] .skeleton-box{
    opacity: .6;
}

.no-facilities{
    text-align: center;
    padding: 100px 0;
    font-size: 14px;
    color: #726E6E;
}

[label-name="building_type"]{
    text-transform: capitalize;
}

.img-gallery-dialog-loader{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.img-gallery-dialog-loader img{
    opacity: .3;
}

.banner-action-button{
    display: flex;
    position: absolute;
    left: 10px;
    top: 30px;
    z-index: 9;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.banner-action-button button{
    background-color: #fff;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px 10px;
    border: none;
    margin: 5px;
    display: flex;
    justify-content: center;
    min-width: 80px;
    gap: 3px;
    align-items: center;
    position: relative;
}

.banner-action-button button img{
    width: 17px;
}

.add-to-compare .bi-check-circle-fill{
    color: #4CAF50;
    display: none;
}

.add-to-favorite .bi-heart-fill{
    color: #e31b23;
    display: none;
}

[added="true"].add-to-compare .bi-check-circle-fill,
[added="true"].add-to-favorite .bi-heart-fill{
    display: inline;
}

[added="false"].add-to-compare .bi-arrow-left-right,
[added="false"].add-to-favorite .bi-heart{
    display: inline;
}

[added="true"].add-to-compare .bi-arrow-left-right,
[added="true"].add-to-favorite .bi-heart{
    display: none;
}

.review-writing-area{
    padding: 15px;
    border: 1px dashed var(--th-color);
    border-radius: 5px;
}

.show-rating span{
    font-size: 18px;
    color: #484848;
    font-weight: bold;
}

.show-rating p{
    color: #9A959E;
    margin: 0;
    font-size: 15px;
}

[label-name="rating"]{
    position: relative;
    top: -3px;
}

[label-name="rating"] i{
    color: var(--th-color);
}

.review-submit-area{
    margin-top: 25px;
}

.give-rating{
    display: flex;
    justify-content: center;
    font-size: 32px;
    gap: 5px;
    color: var(--th-color);
}

.give-review{
    font-size: 15px;
    width: 100%;
    display: block;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    margin: 15px 0;
    padding: 8px;
}

.add-to-favorite{
    margin-left: 5px;
}

.review-submit-btn{
    border: none;
    font-size: 17px !important;
    padding: 8px 40px !important;
    min-width: 133px;
}

.review-submit-btn img{
    width: 25px;
}

.given-reviews-rate{
    display: flex;
    font-size: 16px;
    color: var(--th-color);
    margin-right: 5px;
}

.given-reviews-person{
    font-size: 14px;
}

.reviews-content{
    font-size: 14px;
    margin: 0;
    color: #9A959E;
}

.view-the-reviews-box{
    margin-top: 25px;
}

.load-more-reviews{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.load-more-reviews button{
    border: none;
}

.review-warrning-text p{
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
    color: red;
}

.title-perice-area [label-name="title"],
.title-perice-area [label-name="build-title"]{
    color: #484848 !important;
}

.property-address-price-info address{
    color: #726E6E !important;
    margin-bottom: 5px;
    font-size: 14px;
}

.property-short-info-box{
    margin-right: 40px;
}

.property-short-info-box:last-child{
    margin: 0;
}

.social-icon i {
    font-size: 24px;
}

.developer-contact-area{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.developer-box-title{
    font-size: 12px;
    text-transform: uppercase;
    color: #cecece;
}

.contact-info-list-data{
    display: flex;
    justify-content: center;
    color: #fff !important;
    padding: 10px;
    background: #00DEB6;
    font-size: 14px;
    gap: 10px;
    align-items: center;
    font-weight: 500;
    border-radius: 5px;
}

.developer-co-info address{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0 !important;
    color: #dfdfdf;
}

.side-add-banner-img{
    width: 100%;
    height: 220px;
}

.side-add-banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0 30px;
}

.section-title.details-side-title {
    padding-bottom: 5px;
    padding-top: 2px;
}

.available-unitssplide-splide
.compare-favorite-btn-area{
    top: 5px !important;
}

#banner-nav-tabContent
.compare-favorite-btn-area{
    right: initial;
    top: initial;
    position: initial !important;
    flex-direction: row;
    gap: 10px;

    span {
        right: initial !important;
        left: 40px;
        z-index: 99;

        &::before {
            right: initial !important;
            left: -9px;
            clip-path: polygon(100% 0, 0 50%, 100% 100%) !important;
        }
    }
}

@media screen and (max-width : 991px) {
    .details-gallery,
    .details-gallery-video,
    .details-gallery-3D-view{
        height: 390px;
        overflow: hidden;
    }

    .nav-tab-wrapper{
        overflow-x: auto;
        overflow-y: hidden;
        height: auto;
    }

    .nav-tab-wrapper .nav-tabs{
        margin: 0;
        padding: 18px 0;
        flex-wrap: nowrap;
        width: max-content;
    }

    #banner-nav-tabContent{
        padding: 0 !important;
        min-height: auto;
        height: 390px;
    }

    #map{
        height: 390px;
    }

    .side-add-banner-img{
        margin-bottom: 60px;
    }

    .side-box-info{
        position: initial;
    }

    .property-address-price-info{
        padding-top: 25px;
    }

    .top-banner-img{
        height: 75px;
    }
}


@media screen and (max-width : 768px){
    .details-gallery-img-box,
    .details-banner-bg{
        display: none;
    }

    .details-gallery-img-box:nth-child(1),
    .details-gallery{
        display: block;
    }

    .title-perice-area{
        flex-direction: column;
        gap: 0;
    }

    .title-perice-area .price{
        font-size: 18px;
        margin-top: 10px;
    }

    .container{
        max-width: 96%;
    }

    .details-gallery-img-box{
        height: 100%;
    }

    .property-short-info-box{
        margin: 0 15px;
    }

    .property-short-info-box:first-child{
        margin-left: 0 !important;
    }

    .property-short-info-box:last-child{
        margin-right: 0 !important;
    }
}

@media screen and (max-width : 600px){

    .img-gallery-dialog{
        padding: 80px 10px;
    }
}