#details-banner{
    position: relative;
    padding-top: 25px;
}

.title-perice-area{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

#details-banner address,
#details-banner .unit-id{
    display: flex;
    gap: 5px;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.details-banner-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details-banner-bg{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.details-banner-bg::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
    background-color: #ffd350d2;
    top: 0;
    left: 0;
}

.details-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 500px;
    width: 100%;
}

.details-gallery-img-box{
    overflow: hidden;
}

.details-gallery-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.details-gallery-img-box:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
}

.details-gallery-img-box:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
}

.details-gallery-img-box:nth-child(3) {
    grid-area: 2 / 3 / 3 / 4; 
}

.details-gallery-img-box:nth-child(4) {
    grid-area: 1 / 4 / 2 / 5;
}

.details-gallery-img-box:nth-child(5) {
    grid-area: 2 / 4 / 3 / 5;
}

#banner-nav-tabContent{
    padding: 20px 0;
    min-height: 540px;
}

#map{
    height: 540px;
}

.property-short-info{
    display: flex;
    justify-content: center;
    padding: 25px;
}

.property-short-info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
}

.property-short-info-icon img{
    width: 35px;
}

.property-value{
    display: block;
    font-size: 14px;
}

.property-label{
    font-size: 15px;
    font-weight: bold;
}

.section-title{
    font-size: 20px;
    color: #484848 !important;
    margin-bottom: 10px !important;
}

.section-scripts{
    font-size: 14px;
    color: #726E6E !important;
    margin-bottom: 35px;
}

.info-list-box{
    border-bottom: 1px dashed #e8e9ea;
    padding: 5px 0;
}

.info-list-box .info-list-label{
    font-size: 13px;
    color: #9a959e;
    display: block;
}

.info-list-box .info-list-data{
    font-size: 14px;
    color: #726E6E;
    display: block;
}

.info-list{
    position: relative;
    margin-bottom: 35px;
}

.info-list::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    background-color: #fff;
    width: 100%;
}

.building-img-gallery{
    height: 220px;
    width: 100%;
    margin-bottom: 10px;
}

.building-details{
    margin-bottom: 25px;
}

.building-img-gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.building-details-info-list .info-list-box,
.developer-co-details-info-list .info-list-box{
    display: flex;
}

.building-details-info-list .info-list-label{
    width: 120px;
    flex: 0 0 120px;
}

.developer-co-details-info-list .info-list-label{
    width: 35px;
    height: 35px;
    background-color: #ffd350;
    display: grid;
    place-items: center;
    color: #fff;
    border-radius: 100%;
}

.facilities-box-icon{
    background: #ffd350;
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    color: #fff;
    border-radius: 100%;
}

.facilities-box-icon i{
    font-size: 22px;
}

.facilities-box{
    display: flex;
    align-items: center;
}

.facilities-box-label{
    display: block;
    margin-left: 10px;
    color: #726E6E;
    font-size: 15px;
}

.facilities-area{
    margin-bottom: 25px;
}

.contact-info-list-btn a{
    display: flex;
    font-size: 15px;
    padding: 8px;
    text-align: center !important;
    justify-content: center;
    max-width: 420px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #fff !important;
    color: #484848 !important;
    border: 1px solid #d3d3d3 !important;
}

.contact-info-list-btn a:first-child{
    background-color: #ffd350 !important;
    border-color: #ffd350 !important;
}

.contact-info-side-box{
    padding: 15px;
    box-shadow: 1px 2px 13px 5px rgba(0,0,0,.05);
    margin-bottom: 25px;
    border-radius: 5px;
}

.developer-company-logo{
    height: 70px;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,.05);
    border-radius: 10px;
    overflow: hidden;
}

.developer-company-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.developer-co-info .section-title{
    margin: 0 !important;
    color: #726E6E !important;
    font-size: 17px;
}

#available-units .page-link{
    color: #726E6E !important;
    cursor: pointer;
}

#available-units{
    margin-bottom: 35px;
}

.side-box-info{
    position: sticky;
    top: 10px;
}

.img-gallery-dialog{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    padding: 30px 50px;
    display: none;
}

body[img-gallery-open="true"]{
    overflow: hidden !important;
}

body[img-gallery-open="true"] .img-gallery-dialog{
    display: block;
}

.img-gallery-dialog-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.img-gallery-dialog-container{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    z-index: 11;
}

.img-gallery-dialog-slider{
    height: 100%;
    width: 100%;
}

.img-gallery-dialog-slider .splide__track{
    height: 100%;
    width: 100%;
} 

.img-gallery-dialog-img{
    width: 100%;
    height: 100%;
}

.img-gallery-dialog-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width : 991px) {
    .details-gallery{
        height: 390px;
        overflow: hidden;
    }

    .title-perice-area{
        font-size: 20px;
    }

    .nav-tab-wrapper{
        overflow-x: auto;
        overflow-y: hidden;
        height: auto;
    }

    .nav-tab-wrapper .nav-tabs{
        margin: 0;
        padding: 18px 0;
        flex-wrap: nowrap;
        width: max-content;
    }

    #banner-nav-tabContent{
        padding: 0 !important;
        min-height: auto;
        height: 390px;
    }

    #map{
        height: 390px;
    }

    .contact-info-side-box{
        box-shadow: none;
        border: 1px dashed #ffd350cc;
    }

    .contact-info-side-box{
        margin-bottom: 35px;
    }

    .side-box-info{
        position: initial;
    }
}


@media screen and (max-width : 768px){
    .details-gallery-img-box,
    .details-banner-bg{
        display: none;
    }

    .details-gallery-img-box:nth-child(1),
    .details-gallery{
        display: block;
    }

    .title-perice-area{
        flex-direction: column;
    }

    .title-perice-area .price{
        font-size: 18px;
        margin-top: 10px;
    }

    .container{
        max-width: 96%;
    }

    .details-gallery-img-box{
        height: 100%;
    }

    .property-short-info{
        padding: 0;
        padding-bottom: 25px;
    }

    .property-short-info-icon img {
        width: 27px;
    }

    .property-short-info-box{
        margin: 0 15px;
    }
}

@media screen and (max-width : 600px){

}