.wip-logo{
    height: 48px;
    margin-top: 7px;
    margin-bottom: 7px;
}


.wip-header{
    display: flex;
}

.wip-logo img{
    height: 100%;
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 25px;
    position: relative;
    z-index: 991;
}

.header-box{
    flex: 1;
}

.header-middle-box{
    display: flex;
    justify-content: center;
}

.header-right-box{
    display: flex;
    justify-content: flex-end;
}

.header button.nav-link{
    border: none !important;
}

.nav-link{
    display: block;
    font-size: 15px;
    padding: 7px 16px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 500;
}

.nav-group{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.active-nav{
    background-color: var(--th-color-1) !important;
    color: #fff !important;
}

.nav-link:hover{
    background-color: #91F3EE;
}

.profile-dropdown-img{
    width: 45px;
    min-width: 45px;
    height: 45px;
    margin-right: 10px;
    overflow: hidden;
}

.profile-dropdown-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.profile-dropdown{
    display: flex;
    place-items: center;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 5px;
    position: relative;
}

.profile-dropdown:hover{
    background-color: #15c1b849;
}

.profile-dropdown span{
    font-weight: bold;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    overflow-wrap: break-word;
}

.search-box{
    border: 1px solid #686f79;
    border-radius: 5px;
    position: relative;
    max-width: 500px;
    width: 100%;
}

.search-box .bi-search{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 15px;
    color: var(--th-color);
}

.search-box input{
    border: none !important;
    outline: none !important;
    padding: 8px 5px;
    padding-left: 30px;
    background: transparent;
    font-size: 15px;
    color: #686f79;
    width: 100%;
}

.mobile-menu{
    flex-direction: column;
    width: 25px;
}

.menu-box{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 15px;
}

.menu-box-user:hover{
    background: #00000056;
}

.mobile-menu span{
    height: 2px;
    display: block;
    background-color: #fff;
    margin-bottom: 6px;
    transition: transform .3s;
}

.trans-box-main,
.trans-box-main button{
    color: #fff;
}

.menu-box-user:hover span{
    background-color: #fff !important;
}

.mobile-menu span:last-child{
    margin: 0;
}

.side-nav-overflow{
    display: none;
    position: fixed;
}

.header-box-link{
    border: 2px solid #fff;
    padding: 8px 15px;
    border-radius: 25px;
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
}

.header-box-link:hover{
    opacity: .8;
}

.header-left-box .header-box-link{
    border: none !important;
}

.header-side-nav{
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 99;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 #000, 0 0 #000, 0 0 #000, 0 0 9px rgba(0,0,0,.1),0 0 9px rgba(0,0,0,.01);
    border-radius: 15px;
    padding: 20px 0;
    display: none;
}

.menu-box-img{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
}

.menu-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-dropdown-area{
    position: absolute;
    background-color: #fff;
    top: 55px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.10);
    right: 0;
    width: 180px;
    display: none;
    z-index: 99;
}


.profile-dropdown-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 7;
}

.other-page-header .header-box-link{
    border-color: var(--th-color-1) !important;
    color: var(--th-color-1) !important;
}

.other-page-header .trans-box-main,
.other-page-header .trans-box-main button{
    color: var(--th-color-1) !important;
}

.other-page-header .mobile-menu span{
    background-color: var(--th-color-1) !important;
}

@media screen and (max-width: 1180px) {
    .profile-dropdown span{
        display: none;
    }

    .profile-dropdown-img{
        margin: 0;
    }

    .navigation-right-side{
        display: flex;
        align-items: center;
    }

    .navigation-right-side .profile-dropdown-area,
    .profile-dropdown-overlay{
        display: none !important;
    }

}

@media screen and (max-width: 991px) {
    .wip-logo {
        height: 40px;
    }

    .header-left-box{
        display: none;
    }

    .header-middle-box{
        justify-content: flex-start !important;
    }

    .header{
        padding: 10px !important;
    }
}    

@media screen and (max-width: 600px) {
    .search-box{
        width: 65%;
    }

    .wip-logo {
        margin: initial !important;
    }

    .header-right-box .header-box-link{
        display: none;
    }

    .header-side-nav{
        top: 50px !important;
        position: fixed !important;
        width: 100% !important;
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    [is-menu-open="true"]{
        overflow: hidden;
    }
}