.banner,
.container-wrapper,
#new-properties,
#popular-properties,
#popular-buildings,
#open-ai-chat-box,
#discount-properties,
#popular-city,
#recommended-search,
#hot-properties{
    margin-bottom: 55px;
}

.navigations{
    width: auto !important;
}

.search-box {
    max-width: none !important;
    width: 620px !important;
    background-color: #fff;
    border-radius: 100px !important;
    z-index: 99;
    margin: auto;
}

.search-box input {
    padding: 15px 10px !important;
    padding-left: 50px !important;
    font-size: 18px !important;
}

.search-box .bi-search{
    left: 15px !important;
    font-size: 20px !important;
}

.banner{
    height: 340px;
    position: relative;
    background-image: url('/static/media/background/home-page-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.banner::before{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: '';
    opacity: .4;
}

.banner-title{
    position: relative;
    text-align: center;
    font-size: 44px;
    color: #fff;
    z-index: 1;
    padding: 0 15px;
    margin-bottom: 20px !important;
}

.sign-up-btn{
    border: 1px solid #76E1F6;
}

[log-modal-btn].active-nav{
    background: #76E1F6 !important;
}

.slider-title{
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.contact-cart-info{
    color: #fff;
    background-color: #002A2D;
    padding: 40px;
    border-radius: 20px;
    position: relative;
    left: 50px;
    z-index: 9;
}

.contact-cart-info-position{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-cart-info-position{
    min-height: 450px;
}

.contact-cart-info h1{
    font-size: 24px;
    text-align: center;
}

.contact-cart-info p{
    text-align: center;
    font-size: 15px;
}

.contact-cart-info a{
    display: inline-block;
    background-color: #fff;
    color: #002A2D;
    padding: 8px 12px;
    border-radius: 20px;
}

.contact-cart-info span{
    font-size: 13px;
    display: block;
    text-align: center;
    margin-top: 15px;
    opacity: .7;
}

.search-result-box .property-short-info-box{
    padding-right: 15px !important;
}

.property-short-info-box:last-child{
    padding-right: 0 !important;
}

#popular-buildings .property-value,
#popular-buildings .property-label{
    display: block;
    text-align: center;
}

.search-result-box-img {
    height: 165px;
    margin-bottom: 10px;
}


.popular-cities-gallery {
    display: grid;
    gap: 10px;
    height: 500px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.popular-cities-gallery-card:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
}

.popular-cities-gallery-card:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
}

.popular-cities-gallery-card:nth-child(3) {
    grid-area: 2 / 3 / 3 / 4; 
}

.popular-cities-gallery-card:nth-child(4) {
    grid-area: 1 / 4 / 2 / 5;
}

.popular-cities-gallery-card:nth-child(5) {
    grid-area: 2 / 4 / 3 / 5;
}

.popular-cities-gallery-card{
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.popular-cities-gallery-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-cities-gallery-card a{
    position: absolute;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0000001e;
    padding: 5px 10px;
}

.popular-cities-gallery-card a:hover{
    background-color: #0000006c;

}

.popular-cities-gallery-card a span{
    color: #fff;
    font-weight: bold;
}

.sign-in-note-box{
    background-color: #230581;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;
    margin-bottom: 55px;
    align-items: center;
}

.sign-in-note-box h1{
    font-size: 22px;
    color: #fff;
}

.sign-in-note-box p{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #ffffffc9;
}

.sign-in-note-box a{
    display: block;
    background-color: #fff;
    font-size: 16px;
    padding: 8px 15px;
    color: #002A2D;
    border-radius: 5px;
    font-weight: bold;
}

.property-contains .property-short-info-box{
    flex-direction: column !important;
    align-items: center;
}

.search-result-box .property-short-info-icon{
    margin: 0 !important;
}

.search-result-box{
    min-height: 183px;
    justify-content: initial;
}

.property-discount.link{
    display: flex;
    justify-content: center;
    background-color: #fff !important;
    margin-bottom: 5px;
}

.discount_period .banner-action-button{
    top: 60px !important;
}

.banner-action-button{
    left: 2px;
}

.reels-developer-info{
    padding-top: 5px;
    border-top: 1px solid #eee;
}

.reels-filter-btns{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.reels-filter-btns button{
    padding: 5px 18px;
    border: 1px solid #103bd429;
    background-color: transparent;
    border-radius: 3px;
    font-size: 15px;
}

.reels-filter-btns button:hover{
    border: 1px solid #103ad45d;
}

.reels-filter-btns button.activate{
    background-color: var(--th-bg-color) !important;
    color: #fff !important;
}

.reels-box-wrapper{
    border: 1px solid #eee;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.reels-iframe-and-data{
    height: 520px;
    overflow: hidden;
}

.reels-developer-logo{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 5px;
}

.reels-developer-logo
.dev-logo{
    width: 60px;
    height: 60px;
    min-width: 60px;
}

.reels-developer-logo
.dev-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.reels-developer-logo h1{
    font-size: 16px;
}

.reels-developer-contact{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #212529 !important;
    font-size: 14px;
}

.reels-visit-btn {
    display: flex;
    justify-content: center;
}

.reels-visit-btn a{
    padding: 7px 40px;
    background-color: var(--th-bg-color);
    color: #fff !important;
    font-weight: 500;
    border-radius: 3px;
}

.reels-iframe-and-data iframe{
    width: 100% !important;
    height: 100% !important;
    min-width: initial !important;
}

[view-type="less"]
.reel-details{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reel-details{
    font-size: 14px;
}

.reel-see-more-see-less{
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
}

.tiktok-embed{
    max-width: 100% !important;
    min-width: 100% !important;
    height: 520px !important;
}


@media screen and (max-width: 991px) {
    .banner-title{
        font-size: 34px !important;
    }

    .search-box input {
        padding: 10px !important;
        padding-left: 50px !important;
        font-size: 16px !important;
    }

    .sign-in-note-box{
        flex-direction: column;
        text-align: center;
    }

    .sign-in-note-box p{
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 768px) {
    .search-box{
        width: calc(100% - 30px) !important;
    }

    .contact-cart-info-position{
        min-height: auto;
    }

    .contact-cart-info{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }


    .popular-cities-gallery{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .popular-cities-gallery-card:nth-child(1) { 
        grid-area: 1 / 1 / 2 / 3; 
    }

    .popular-cities-gallery-card:nth-child(2) { 
        grid-area: 2 / 1 / 3 / 2; 
    }

    .popular-cities-gallery-card:nth-child(3) { 
        grid-area: 2 / 2 / 3 / 3; 
    }

    .popular-cities-gallery-card:nth-child(4) { 
        grid-area: 3 / 1 / 4 / 2; 
    }

    .popular-cities-gallery-card:nth-child(5) { 
        grid-area: 3 / 2 / 4 / 3; 
    }

}

@media screen and (max-width: 560px){
    .banner {
        height: 320px;
    }

    .banner-title {
        font-size: 25px !important;
    }
    
    .discount_period .banner-action-button{
        top: 70px !important;
    }

    .search-result-box-img{
        padding: 0 !important;
    }
}