.container-wrapper,
#new-properties,
#popular-properties,
#popular-buildings,
#open-ai-chat-box,
#discount-properties,
#popular-city,
#recommended-search,
#hot-properties{
    margin-bottom: 55px;
}

#popular-city {
    padding-bottom: 5px;
}
.search-box {
    max-width: none !important;
    width: 100%;
    border-radius: 15px !important;
}

.search-box-with-filter-content{
    padding: 10px 20px;
    padding-top: 25px;
}
    
.search-box-with-filter{
    border-radius: 20px !important;
    position: relative;
    background-color: #fff;
    margin: auto;
    overflow: hidden;
    

    .search-box .bi-search{
        font-size: 14px;
        position: initial !important;
    }

    .search-box input{
        padding: 12px 10px !important;
        font-size: 14px !important;
    }

    .search-box{
        align-items: initial;
        overflow: hidden;
        border-radius: 10px !important;
        margin-bottom: 10px;
    }

    .price-filter-box{
        width: auto !important;
    }

    .price-filter-select-box,
    .search-pop-up-select-box{
        display: block !important;
        padding-bottom: 10px;
    }

}

#location-search-btn{
    border: none !important;
    background: var(--th-color-1);
    padding: 5px 15px;
    color: #fff;
}

.search-box input {
    padding: 15px 10px !important;
    padding-left: 50px !important;
    font-size: 18px !important;
}


.banner{
    position: relative;
    margin-top: 10px;
    min-height: 400px;
    margin-bottom: 45px;
}


.banner-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 400px;
}

.banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.banner-title{
    position: relative;
    text-align: center;
    font-size: 34px;
    color: #fff;
    z-index: 1;
    padding: 0 15px;
    margin-bottom: 50px !important;
    font-weight: 600;
}

.banner-content{
    padding: 0 140px;
    padding-top: 120px;
}

.sign-up-btn{
    border: 1px solid #76E1F6;
}

[log-modal-btn].active-nav{
    background: var(--th-color-1) !important;
    color: #fff !important;
    margin: 0 !important;
}

.slider-title{
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: 600;
}

.contact-cart-info{
    color: #fff;
    background-color: #002A2D;
    padding: 40px;
    border-radius: 20px;
    position: relative;
    left: 50px;
    z-index: 9;
}

.contact-cart-info-position{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-cart-info-position{
    min-height: 450px;
}

.contact-cart-info h1{
    font-size: 24px;
    text-align: center;
}

.contact-cart-info p{
    text-align: center;
    font-size: 15px;
}

.contact-cart-info a{
    display: inline-block;
    background-color: #fff;
    color: #002A2D;
    padding: 8px 12px;
    border-radius: 20px;
}

.contact-cart-info span{
    font-size: 13px;
    display: block;
    text-align: center;
    margin-top: 15px;
    opacity: .7;
}


.property-short-info-box:last-child{
    padding-right: 0 !important;
}

#popular-buildings .property-value,
#popular-buildings .property-label{
    display: block;
    text-align: center;
}

.search-result-box-img {
    height: 220px;
    margin-bottom: 0px;
}


.popular-cities-gallery {
    display: grid;
    gap: 28px;
    height: 500px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.popular-cities-gallery-card:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
}

.popular-cities-gallery-card:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
}

.popular-cities-gallery-card:nth-child(3) {
    grid-area: 2 / 3 / 3 / 4; 
}

.popular-cities-gallery-card:nth-child(4) {
    grid-area: 1 / 4 / 2 / 5;
}

.popular-cities-gallery-card:nth-child(5) {
    grid-area: 2 / 4 / 3 / 5;
}

.popular-cities-gallery-card{
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.popular-cities-gallery-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-cities-gallery-card a{
    position: absolute;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0000001e;
    padding: 5px 10px;
}

.popular-cities-gallery-card a:hover{
    background-color: #0000006c;

}

.popular-cities-gallery-card a span{
    color: #fff;
    font-weight: bold;
    margin-left: 5px;
}

.property-count {
    font-size: 13px !important;
    font-weight: 500 !important;
    margin-bottom: 10px !important;
}

.sign-in-note-box{
    background-color: #E5F1EE;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 10px 30px;
    border-radius: 20px !important;
}

.sign-in-note-box h1{
    font-size: 18px;
    font-weight: 600;
    color: #000433;
}

.sign-in-note-box p{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #000433;
}

.sign-in-note-box a{
    display: block;
    background-color: #fff;
    font-size: 14px;
    padding: 10px;
    color: #002A2D;
    border: 2px solid #000433;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.property-contains .property-short-info-box{
    align-items: center;
    gap: 5px;
}

.search-result-box .property-short-info-icon{
    margin: 0 !important;
}

.search-result-box .property-short-info-icon svg{
    font-size: 16px;
    color: rgb(92, 99, 104) !important;
}

.search-result-box{
    min-height: 160px;
    justify-content: initial;
}

.property-discount{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: var(--th-color) !important;
}

.discount-card-header .card-title{
    margin: 0 !important;
}

.discount-card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.property-discount *{
    background-color: var(--th-color) !important;
    color: #fff !important;
}

.property-discount .flipper *{
    font-size: 15px !important;
}

.flipper-ddd,
.flipper-HH,
.flipper-ii{
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
}

.property-discount .flipper {
    height: auto !important;
    display: flex !important;
    align-items: center !important;
}

.property-discount .flipper-digit{
    height: 28px !important;
}

.property-discount .flipper label{
    font-size: 10px !important;
}

.discount_period .banner-action-button{
    top: 60px !important;
}

.banner-action-button{
    left: 2px;
}

.reels-developer-info{
    padding-top: 5px;
}

.reels-filter-btns{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.reels-filter-btns button{
    border: none;
    font-weight: 600;
    background-color: #f7f7f7;
    border-radius: 999px;
    padding: 8px 24px;
    text-wrap: nowrap;
    font-size: 14px;
}

.reels-filter-btns button:hover{
    background-color: var(--th-color) !important;
    color: #fff !important;
}

.reels-filter-btns button.activate{
    background-color: var(--th-color) !important;
    color: #fff !important;
}

.reels-box-wrapper{
    border: 1px solid #eee;
    display: block;
    overflow: hidden;
    border-radius: 16px;
}

.reels-iframe-and-data{
    height: 520px;
    overflow: hidden;
}

.reels-developer-logo{
    display: flex;
    gap: 0px;
    align-items: start;
    margin-bottom: 5px;
}

.reels-dev-logo{
    width: 40px !important;
    height: 40px;
    min-width: 40px;
}

.real-dev-logo img{
    width: 100% !important;
    height: 100%;
    object-fit: contain;
}

.manged-by-text {
    font-size: 13px;
    color: #212529;
}
.reels-developer-logo h1{
    font-size: 16px;
}

.reels-developer-contact{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #212529 !important;
    font-size: 14px;
}

.reels-visit-btn .custom-button {
    width: 100%;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 16px;
    background: #15c1b8b6;
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    overflow: hidden;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .reels-visit-btn .custom-button:hover {
    background: #15C1B9;
  }
  
  .reels-visit-btn .arrow-icon {
    transition: transform 0.3s ease-in-out;
  }
  
  .reels-visit-btn .custom-button:hover .arrow-icon {
    transform: translateX(4px) translateY(-4px);
  }
  
  .reels-visit-btn .button-hover-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #2563eb, #3b82f6);
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .reels-visit-btn .custom-button:hover .button-hover-overlay {
    transform: translateY(0);
  }
  
.reels-iframe-and-data iframe{
    width: 100% !important;
    height: 100% !important;
    min-width: initial !important;
}

[view-type="less"]
.reel-details{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reel-details{
    font-size: 14px;
}

.reel-see-more-see-less{
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
}

[view-type="more"]
.reel-see-more-see-less{
    display: inline-block;
    padding: 0 10px;
}

.tiktok-embed{
    max-width: 100% !important;
    min-width: 100% !important;
    height: 520px !important;
}

.card-title,
.reels-title{
    font-size: 20px !important;
    color: #212529;
    margin-bottom: 15px !important;
}

.reels-title{
    font-size: 18px !important;
    font-weight: 500;
    margin-bottom: 5px !important;
    text-transform: capitalize;
}

.search-box-filter-option{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .filter-single-box .filter-label{
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 0;
        font-weight: 600;
        cursor: pointer;
        background-color: #fff;
        border: none;

        .bi{
            font-size: 14px;
        }
    }
}

.exclusive-deals-time {
    top: 20px;
    right: 20px;
    z-index: 999;
}

.exclusive-deals-time .date-area{
    display: flex;
    align-items: center;
    background: var(--th-color) !important;
    gap: 2px ;
    padding: 5px;
    border-radius: 8px;

    *{
        text-align: center;
        color: #ffff !important;
    }

    count{
        font-size: 14px;
    }

    .date-tmp{
        display: flex;
        flex-direction: column;
        padding: 2px;
    }

    label {
        font-size: 10px;
    }
}

#discount-properties {
    .price-tag,
    .card-title,

    .price-tag {
        background-color: #ffffff17;
    }
}

.building-tag {
    background: var(--th-color) !important;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #fff !important;
}

.card-title {
    font-size: 18px !important;
}



#discount-properties .property-value {
    top: initial !important;
}

.search-result-box .property-value {
    top: initial !important;
}

.property-label {
    font-size: 13px !important;
    color: rgb(92, 99, 104) !important;
}

.property-short-info-box{
    padding-right: 10px !important;
}

.search-result-box {
    padding: 20px !important;
}

.card-title {
    margin-bottom: 5px !important;
    color: rgb(22, 30, 45) !important;
}

.card-title:hover {
    color: var(--th-color) !important;;
}

.price-tag {
   padding: 20px 0px 0px 0px !important;
   
}

.home-slider-price {
    color: rgb(22, 30, 45) !important;
}

.property-single-box {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    background-color: transparent !important;
}

.search-result-box-wrapper {
    background: #fff !important;
    color: #000 !important;
    padding: initial !important;
    border-radius: initial !important;
    border: 0px !important;
}

.compare-favorite-btn-area {
    top: 16px !important;
    display: flex !important;
    flex-direction: row !important;
    gap: 10px !important;
}

.location {
    color: #000 !important;
    font-size: 14px;
}



.splide__slide img {
    vertical-align: middle;
}

.home-slider-img-wrapper {
    height: 280px !important;
    overflow: hidden !important;
}

.home-slider-img-wrapper .search-result-box-img{
    height: 280px;
}


.home-slider-img-wrapper img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    
}

.secion-space {
    margin-bottom: 40px;
}



@media screen and (max-width: 1200px) {
    .container-hm{
        max-width: calc(100% - 80px) !important;
    }
}


.home-top-banner{
    margin: 20px auto;
}

.home-top-banner
.top-banner-img{
    height: 170px !important;
}

.home-top-banner
.top-banner-img img{
    border-radius: 2px;
}

@media screen and (max-width: 991px) {
    .search-box input {
        padding: 10px !important;
        padding-left: 50px !important;
        font-size: 15px !important;
    }

    .slider-title {
        font-size: 18px;
    }
    .reels-title {
        font-size: 16px !important;
    }
    .reels-iframe-and-data{
        height: 400px;
    }
    .sign-in-note-box{
        flex-direction: column;
        text-align: center;
    }

    .sign-in-note-box p{
        margin-bottom: 15px;
    }

    .secion-space {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 768px) {
    .contact-cart-info-position{
        min-height: auto;
    }

    .contact-cart-info{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }


    .popular-cities-gallery{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .popular-cities-gallery-card:nth-child(1) { 
        grid-area: 1 / 1 / 2 / 3; 
    }

    .popular-cities-gallery-card:nth-child(2) { 
        grid-area: 2 / 1 / 3 / 2; 
    }

    .popular-cities-gallery-card:nth-child(3) { 
        grid-area: 2 / 2 / 3 / 3; 
    }

    .popular-cities-gallery-card:nth-child(4) { 
        grid-area: 3 / 1 / 4 / 2; 
    }

    .popular-cities-gallery-card:nth-child(5) { 
        grid-area: 3 / 2 / 4 / 3; 
    }

    .search-box-with-filter{

        .price-filter-select-box, 
        .search-pop-up-select-box{
            padding: 20px !important;
        }
    }

    .secion-space {
        margin-bottom: 20px;
    }

    .search-box-with-filter-content,
    .sign-in-note-box{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }


    .banner-content {
        padding: 0 40px;
        padding-top: 65px;
    }

    .banner-title{
        font-size: 24px !important;
    }

    .header-box{
        flex: initial !important;
    }

    .header{
        justify-content: space-between !important;
    }

    .home-top-banner 
    .top-banner-img{
        height: 135px !important;
    }
}

@media screen and (max-width: 560px){

    .secion-space {
        margin-bottom: 10px;
    }

    .reels-iframe-and-data{
        height: 320px;
    }

    .reels-title {
        font-size: 15px !important;
    }

    .reels-developer-logo .dev-logo {
        width: 50px;
        height: 50px;
        min-width: 50px;
    }
    .reels-developer-logo h1 {
        font-size: 14px;
    }
    .popular-cities-gallery  {
        grid-template-rows: repeat(1, 1fr);
    }

    .popular-cities-gallery-card a span {
        font-weight: 500;
    }
    
    .discount_period .banner-action-button{
        top: 70px !important;
    }
    .search-result-box-img{
        padding: 0 !important;
    }

    .search-box-filter-option{
        gap: 10px;
        flex-wrap: wrap;

        .filter-single-box .filter-label{
            gap: 5px !important;
            padding: 5px !important;
            font-size: 14px;

            .bi {
                font-size: 10px;
            }
        }

        .search-box input {
            padding: 10px !important;
            font-size: 14px !important;
        }
    }

    .sign-in-note-box h1 {
        font-size: 18px;
    }

    .sign-in-note-box p {
        font-size: 15px;
        font-weight: 500;
    }

    .sign-in-note-box a {
        font-size: 14px;
        font-weight: 600;
    }

    .container-hm{
        max-width: calc(100% - 20px) !important;
    }

    .banner-content{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

}