:root{
    --company-image-width :  220px;
    --card-pd-right : calc((220px - 185px) / 2);
}

.property-card-down-area{
    border-radius: 15px;
    width: var(--company-image-width);
    min-width: var(--company-image-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-date-count{
    min-width: var(--company-image-width);
    width: var(--company-image-width);
    display: flex;
    justify-content: center;
}

.search-date-count [date-count]{
    display: inline-block;
}

.property-card-modal-btns{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: flex-start;
}

.buillding-agency-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.buillding-agency-logo{
    display: flex;
    justify-content: center;
    height: 60px;
    max-width: none;
    margin: 0;
}


.search-result-box{
    display: block;
    padding: 0 25px;
    padding-right: 0;
}


.building-agency-action-btn.add-to-favorite{
    font-size: 28px !important;
}

.building-agency-action-btn{
    color: #fff !important;
}

.search-result-box-wrapper{
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 5px #0000000f;
    border-radius: 15px;
    padding: 15px;
    border: none;
    background: #fff;
}

.image-area-with-add-btns{
    position: relative;
    padding-right: 0;
    display: flex;
    gap: 10px;
}

.search-result-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #eee;
}

.search-box-price{
    color: #212529;
    font-size: 24px;
    font-weight: 600;
    background: none;
    padding: 0 !important;
    min-height: auto !important;
    margin-top: 0 !important;
}

.dev-phn-number{
    text-align: center;
    color: #0066FF !important;
    font-size: 24px;
    display: block;
    font-weight: 600;
}

.dev-to-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 16px;
    padding: 8px 15px;
    background-color: var(--th-color);
    color: #fff !important;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px
}

.dev-to-contact i{
    font-size: 26px;
}

.search-result-box-img-splid{
    border-radius: 15px;
    overflow: hidden;
}

.agent-company-name{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

.agent-company-name span{
    display: block;
    font-size: 14px;
    color: #212529;
}

.property-faciluties-list span .bi {
    font-size: 15px;
}


.pr-ml-images-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 100px;
    max-height: 320px;
    overflow-y: auto;
}

.property-single-box[property-type="spotlight"]
.card-identity-area,
.property-single-box[property-type="feature"]
.card-identity-area{
    width: 100%;
    height: 80px;
    border-radius: 10px;
    margin-top: 10px;
}

.property-single-box[property-type="spotlight"]
.card-identity-area{
    background: var(--th-color-1);
}

.property-single-box[property-type="feature"]
.card-identity-area{
    background: var(--th-color);
}

.pr-ml-image{
    width: 100%;
    height: 85px;
}

.pr-ml-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #eee;
}

.search-result-box .details,
.property-faciluties-list span{
    font-size: 16px;
}

.property-card-modal-btns button,
.property-card-modal-btns a{
    font-size: 15px;
}


.search-result-box .property-short-info-icon img {
    width: 20px !important;
}

.search-result-box .property-value {
    font-size: 16px !important;
    top: 0px !important;
}




.search-result-box-wrapper .date-area{
    display: flex;
    align-items: center;
    background: var(--th-color) !important ;
    gap: 2px ;
    padding: 8px;
    border-radius: 5px;

    *{
        text-align: center;
        color: #fff !important;
    }

    count{
        font-size: 14px;
    }

    .date-tmp{
        display: flex;
        flex-direction: column;
        border: 1px solid #fff;
        padding: 2px;
    }

    label {
        font-size: 8px;
    }
}

.building-status{
    background-color: var(--th-color) !important;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 3px 10px;
    border-radius: 20px;
    position: relative;
    top: -2px;
}

.property-single-box[property-type="spotlight"]
.search-result-box-wrapper{
    border: 2px solid var(--th-color-1);
}


.property-single-box[property-type="feature"]
.search-result-box-wrapper{
    border: 2px solid var(--th-color);
}

.property-contains .property-short-info-box{
    gap: 5px !important;
}

.property-short-info-box .material-symbols-outlined{
    color: #212529 !important;
}


.search-box-title{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    flex-wrap: wrap;
    gap: 0 10px;
    margin-top: 5px;
}

.search-result-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.search-box-title span{
    font-size: 28px;
    color: #003D7A !important;
    font-weight: 500;
    display: block;
    z-index: 1;
    padding-right: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-box-title line{
    height: 2px;
    background-color: #D34346;
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.sorting-map-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
}

.sorting-map-box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sorting-map-box a,
.sorting-map-box .sorting-btn{
    display: flex;
    background-color: #fff;
    padding: 5px 10px;
    gap: 7px;
    color: #001229;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 36px;
    align-items: center;
}

.sorting-list-box{
    border-radius: 4px !important;
    overflow: hidden;
}

.sorting-list-box li{
    list-style: none;
    padding: 10px;
    color: #001229;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.sorting-list-box li[active="false"] .bi{
    display: none;
}

.sorting-list-box li:hover,
.sorting-list-box li[active="true"]{
    background-color: #EFEFEF;
}

@media screen and (min-width : 768px){
    .sorting-map-box button:focus{
        border-color: #eee;
    }
}


.search-result-box 
.property-contains{
    flex-wrap: wrap;
}

.search-box-clear-button{
    background: transparent !important;
    font-size: 20px !important;
}

.search-box{
    border: none !important;
}

.search-box input{
    padding: 10px !important;
}

.all-filter-option{
    box-shadow: 0px 0px 15px 0 rgba(0,0,0,.08);
    margin-top: 35px;
    margin-bottom: 20px;
    border-radius: 7px;
    display: flex;
    padding: 20px 30px;
    background-color: #fff;
}

.filter-option-area{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.filter-single-box{
    flex-grow: 1;
    padding: 0 10px;
    border-left: 1px dashed #b1b6be96;
    cursor: pointer;
}

.filter-icon i,
.filter-icon span{
    font-size: 27px;
    color: #525F74;
}

.filter-icon span{
    font-size: 36px;
}

.filter-icon{
    height: 41px;
}

.filter-label{
    font-size: 16px;
    color: #525F74;
    font-weight: 600;
}

.filter-location-box{
    max-width: 40%;
}

.filter-location-box{
    cursor: text;
}

.sorting-map-wrapper{
    padding: 0 20px;
}

[display-view="small"]{
    display: none !important;
}

.search-pop-up-box .filter-dropdown-mtl-buttons{
    flex-direction: column;

    button{
        min-width: 200px !important;
        display: flex;
        align-items: center;
        flex-grow: initial !important;
        gap: 10px;

        i{
            font-size: 24px;
        }
    }
}

[active-filter="true"] .bi,
[active-filter="true"] .material-symbols-outlined{
    color: #000 !important;
}

[active-filter="true"] .filter-label{
    color: #001229 !important;
}

.search-box-clear-button .bi{
    color: #525F74 !important;
}

.price-rage-chart{
    position: relative;
}

.before-li,
.after-li{
    position: absolute;
    height: 100%;
    bottom: 0;
    top: 0;
    z-index: 9;
    background-color: #ffffffe3;
}

.before-li{
    left: 0;
}

.after-li{
    right: -1px;
}

[property-type="spotlight"]
.search-result-box-img,
[property-type="feature"]
.search-result-box-img{
    height: 320px;
}


#search-result-list
.compare-favorite-btn-area{
    right: 10px;
    top: 5px;
    background:  radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0) 64%);
}

.filter-categories-colums{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.filter-categories-colums::before{
    content: '';
    position: absolute;
    width: 1px;
    background-color: #eee;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    z-index: 1;
}

.filter-colum-box{
    border-bottom: 1px solid #eee;
    display: inline-block;
    width: 100%;
    padding: 30px 20px;
}


.property-schedule-contact-btn{
    gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: var(--company-image-width);
}


.special-sale{
    display: flex;
    justify-content: center;
}

.special-sale span{
    color: #15c1b9 !important;
    padding: 7px 25px;
    font-size: 26px;
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #ffffff1c;
}


@media screen and (max-width : 991px){
    .search-result-content{
        padding: 0;
    }

    .search-box-title{
        padding-top: 20px;
        padding-bottom: 5px;
        padding-right: 0 ;
    }

    .search-box-title span{
        font-size: 24px;
    }

    .search-box-price {
        font-size: 20px;
        margin-bottom: 0;
    }

    .search-result-box h1{
        font-size: 15px;
    }

    .search-result-box .details, 
    .property-faciluties-list span {
        font-size: 14px;
    }

    .property-card-modal-btns button,
    .property-card-modal-btns a {
        font-size: 14px;
    }

    .filter-option-area
    .filter-single-box:not(:last-child),
    .filter-location-box .filter-icon{
        display: none !important;
    }

    .filter-option-area{
        flex-grow: initial;
    }

    .filter-location-box{
        max-width: initial;
        height: 100%;
    }

    .filter-button-area{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .filter-single-box{
        border: none !important;
    }

    .filter-label {
        font-weight: 500 !important;
        font-size: 14px;
    }

    .filter-icon{
        height: initial !important;
        
        .bi{
            font-size: 20px !important;
        }
    }

    .all-filter-option{
        padding: 0 !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        gap: 10px;
    }

    .filter-location-box,
    [aria-label="filter-button"]{
        border: 1px solid #abafb3 !important;
        border-radius: 5px;
        box-shadow: 0 0 9px rgba(0,0,0,.1),0 0 9px rgba(0,0,0,.01);
    }

    .search-box input{
        padding: 13.8px 10px !important;
    }

    [aria-label="filter-button"]{
        padding: 10px 15px;
        border: none !important;
    }

    [display-view="small"]{
        display: inline-block !important;
    }

    .filter-categories-colums::before{
        display: none;
    }

    .search-result-box {
        padding: 0;
    }

    .filter-categories-colums{
        grid-template-columns: 1fr;
    }

    .filter-colum-box{
        border-left: .5px solid #eee ;
        border-right: .5px solid #eee;
    }

    [type-area-name] label span{
        padding: 12px 20px;
    }

    .property-type-list{
        padding: 0 20px;
    }

    .special-sale{
        top: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .special-sale span{
        background: #fff;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        font-size: 22px;
    }
}


@media screen and (max-width : 1220px){
    .search-result-box-wrapper{
        position: relative;
        padding-bottom: calc(115px + 15px);
    }

    .property-card-down-area{
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 0;
        padding: 10px 15px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-bottom: 60px;
    }

    .property-schedule-contact-btn{
        position: absolute;
        bottom: 15px;
        left: 15px;
        flex-direction: row;
        width: auto ;
    }

    .dev-phn-number,
    .dev-to-contact{
        margin: 0;
        font-size: 16px !important;
    }

    .dev-to-contact{
        padding: 2px 15px;
    }

    .buillding-agency-logo{
        height: 50px;
    }

    .search-box-price{
        font-size: 22px;
    }

    .agency-company-info{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .property-single-box[effect="null"]:first-child 
    .add-to-favorite:not([added="true"])::before,
    .property-single-box[effect="null"]:first-child 
    .add-to-favorite:not([added="true"])::after{
        width: 70px;
        height: 70px;
    }

    .search-date-count{
        min-width: auto;
        width: auto;
        display: block;
    }
}


@media screen and (max-width : 768px){
    .sorting-map-container{
        flex-direction: column;
        align-items: initial;
    }

    .sorting-map-box{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        margin-top: 5px;
        padding: 5px 0;
    }
    
    .sorting-map-box a, 
    .sorting-map-box .sorting-btn{
        font-size: 14px;
        font-weight: 500;
        justify-content: center;
        padding: 20px 0;
    }

    .sorting-map-box i{
        font-size: 20px;
    }

    .sorting-map-box a{
        border-right: 1px solid #eee;
    }

    .agent-company-name{
        flex-direction: column;
        align-items: initial;
        gap: 0;
    }

    .buillding-agency-logo{
        margin: 0 !important;
        max-width: 40%;
    }

    .agent-company-name span{
        font-size: 12px;
    }

    .search-result-box-wrapper {
        padding-bottom: calc(90px + 15px);
    }

    .property-card-down-area{
        padding-bottom: 50px;
    }

    .special-sale span{
        font-size: 16px;
    }
}


@media screen and (max-width : 600px){
    .dev-phn-number,
    .dev-to-contact {
        font-size: 14px !important;
    }

    .dev-to-contact{
        padding: 5px 10px;
        border-radius: 5px;
    }
    
    .search-result-box {
        .property-value {
            font-size: 14px !important;
        }
        
        .material-symbols-outlined{
            font-size: 20px;
        }
    }

    .search-box-title{
        margin-bottom: 0;
    }

    .property-card-modal-btns button, 
    .property-card-modal-btns a {
        font-size: 12px;
    }

    .price-filter-select-box select, 
    .search-pop-up-select-box select, 
    .filter-option-box-wrapper select, 
    .filter-dropdown-mtl-buttons button{
        font-size: 13px;
    }

    .filter-colum-box{
        padding: 10px 8px;
    }

    .special-sale span{
        font-size: 14px;
        padding: 7px 20px;
    }
}

