.property-card-down-area{
    border-radius: 15px;
    width: 220px;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.property-card-modal-btns{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 0;
    justify-content: space-between;
    padding-right:calc((220px - 135.78px) / 2);
}

.buillding-agency-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.buillding-agency-logo{
    display: flex;
    justify-content: center;
    height: 60px;
    max-width: none;
    margin: 0;
}


.search-result-box{
    display: block;
    padding: 0 25px;
    padding-right: 10px;
}

.search-list-add-btns{
    display: flex;
    align-items: center;
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    border: none !important;
}

.building-agency-action-btn.add-to-favorite{
    font-size: 28px !important;
}

.building-agency-action-btn{
    color: #fff !important;
}

.search-result-box-wrapper{
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 5px #0000000f;
    border-radius: 15px;
    padding: 15px;
    border: none;
    background: #ffedfe;
}

.image-area-with-add-btns{
    position: relative;
    padding-right: 0;
}

.search-list-add-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0;
    padding-left: 20px;
    padding-right: 10px;
    z-index: 99;
    background: linear-gradient(0deg, rgba(9,9,121,0) 0%, rgba(11,10,32, .7) 100%);
    padding-top: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 47px;
}

.search-result-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.search-box-price{
    color: #212529;
    font-size: 24px;
    font-weight: 600;
    background: none;
    padding: 0 !important;
    min-height: auto !important;
}

.dev-phn-number{
    text-align: center;
    color: #0066FF !important;
    font-size: 24px;
    display: block;
    font-weight: 600;
}

.dev-to-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 16px;
    padding: 8px 15px;
    background-color: #15C1B9;
    color: #fff !important;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px
}

.dev-to-contact i{
    font-size: 26px;
}

.search-result-box-img-splid{
    border-radius: 15px;
    overflow: hidden;
}

.agent-company-name{
    text-align: center;
    margin: 0;
    margin-top: 2px;
    font-size: 14px;
}

.property-faciluties-list span .bi {
    font-size: 15px;
    color: #15C1B9 !important;
}

.property-single-box 
.add-to-favorite,
.property-single-box 
.add-to-compare{
    position: relative;
}

.property-single-box[effect="null"] 
.add-to-favorite:not([added="true"])::before,
.property-single-box[effect="null"] 
.add-to-favorite:not([added="true"])::after,
.property-single-box[effect="null"] 
.add-to-compare:not([added="true"])::before,
.property-single-box[effect="null"] 
.add-to-compare:not([added="true"])::after{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #8AF2ED;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    content: '';
    border-radius: 100%;
    opacity: .4;
}

.property-single-box[effect="null"] 
.add-to-compare:not([added="true"])::before,
.property-single-box[effect="null"] 
.add-to-compare:not([added="true"])::after{
    left: 5px;
}

.property-single-box 
.add-to-favorite:hover::before,
.property-single-box 
.add-to-compare:hover::before{
    animation: before_after_play 10s normal forwards  ;
}

.property-single-box 
.add-to-favorite:hover::after,
.property-single-box 
.add-to-compare:hover::after{
    animation: before_after_play 7s normal forwards  ;
}

.pr-ml-images-area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.pr-ml-image{
    width: 100%;
    height: 85px;
    margin-top: 10px;
}

.pr-ml-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.search-result-box .details,
.property-faciluties-list span{
    font-size: 16px;
}

.property-card-modal-btns button,
.property-card-modal-btns a{
    font-size: 15px;
}

@keyframes before_after_play {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    25% {
        transform: translate(-50%, -50%) scale(1.2);
    }

    50% {
        transform: translate(-50%, -50%) scale(.5);
    }

    75% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: scale(0);
    }
}


.search-result-box .property-short-info-icon img {
    width: 20px !important;
}

.search-result-box .property-value {
    font-size: 16px !important;
    top: 0px !important;
}


.property-single-box[property-type="newly_created"]{
    .search-result-box-wrapper{
        background-color: #EEFAFD;
    }

    .search-box-title span,
    [date-count]{
        background-color: #EEFAFD;
    }
}

.property-single-box[property-type="popular"]{
    .search-box-price,
    .search-result-box h1,
    .search-result-box .property-value,
    .property-faciluties-list span,
    .search-result-box .details,
    .property-card-down-area p,
    .dev-phn-number,
    .search-box-title span,
    [date-count]{
        color: #fff !important;
    }

    [date-count],
    .property-faciluties-list span,
    .search-result-box .details{
        opacity: .8;
    }

    .search-result-box-wrapper{
        background-color: #7f1377;
    }

    .search-box-title span,
    [date-count]{
        background-color: #7f1377;
    }
}

.property-contains .property-short-info-box{
    gap: 5px !important;
}

/* .property-single-box[property-type="popular"] */
.property-short-info-box .material-symbols-outlined{
    color: #15C1B9 !important;
}


.search-box-title{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.search-result-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box-title span{
    font-size: 28px;
    color: #003D7A !important;
    font-weight: 500;
    display: block;
    z-index: 1;
    background-color: #ffedfe;
    padding-right: 10px;
}

.search-box-title line{
    height: 2px;
    background-color: #D34346;
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

[date-count]{
    display: flex;
    color: #D34346 !important;
    align-items: center;
    font-size: 24px;
    gap: 3px;
    font-weight: 600;
    z-index: 1;
    background-color: #ffedfe;
    padding-left: 10px;
}

.sorting-map-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
}

.sorting-map-box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sorting-map-box a,
.sorting-map-box .sorting-btn{
    display: flex;
    background-color: #fff;
    padding: 5px 10px;
    gap: 7px;
    color: #001229;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 36px;
    align-items: center;
}

.sorting-list-box{
    border-radius: 4px !important;
    overflow: hidden;
}

.sorting-list-box li{
    list-style: none;
    padding: 10px;
    color: #001229;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.sorting-list-box li[active="false"] .bi{
    display: none;
}

.sorting-list-box li:hover,
.sorting-list-box li[active="true"]{
    background-color: #EFEFEF;
}

@media screen and (min-width : 768px){
    .sorting-map-box button:focus{
        border-color: #eee;
    }
}


.search-result-box 
.property-contains{
    flex-wrap: wrap;
}

.search-box-clear-button{
    background: transparent !important;
    font-size: 20px !important;
}

.search-box{
    border: none !important;
}

.search-box input{
    padding: 10px !important;
}

.all-filter-option{
    box-shadow: 0px 0px 15px 0 rgba(0,0,0,.08);
    margin-top: 35px;
    margin-bottom: 20px;
    border-radius: 7px;
    display: flex;
    padding: 20px 30px;
    background-color: #fff;
}

.filter-option-area{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.filter-single-box{
    flex-grow: 1;
    padding: 0 10px;
    border-left: 1px dashed #b1b6be96;
    cursor: pointer;
}

.filter-icon i,
.filter-icon span{
    font-size: 27px;
    color: #525F74;
}

.filter-icon span{
    font-size: 36px;
}

.filter-icon{
    height: 41px;
}

.filter-label{
    font-size: 16px;
    color: #525F74;
    font-weight: 600;
}

.filter-location-box{
    max-width: 40%;
}

.filter-location-box{
    cursor: text;
}

.sorting-map-wrapper{
    padding: 0 20px;
}

[display-view="small"]{
    display: none;
}

.search-pop-up-box .filter-dropdown-mtl-buttons{
    flex-direction: column;

    button{
        min-width: 200px !important;
        display: flex;
        align-items: center;
        flex-grow: initial !important;
        gap: 10px;

        i{
            font-size: 24px;
        }
    }
}

[active-filter="true"] .bi,
[active-filter="true"] .material-symbols-outlined{
    color: #EB5C5F !important;
}

[active-filter="true"] .filter-label{
    color: #001229 !important;
}

.search-box-clear-button .bi{
    color: #525F74 !important;
}

.price-rage-chart{
    position: relative;
}

.before-li,
.after-li{
    position: absolute;
    height: 100%;
    bottom: 0;
    top: 0;
    z-index: 9;
    background-color: #ffffffe3;
}

.before-li{
    left: 0;
}

.after-li{
    right: 0;
}

[property-type="popular"]
.search-result-box-img{
    height: 320px;
}


@media screen and (max-width : 991px){
    .search-list-add-btns{
        width: 100%;
    }

    .search-result-content{
        padding: 0;
        padding-top: 20px;
    }

    .search-box-title span{
        font-size: 24px;
    }

    [date-count]{
        font-size: 20px;
    }

    .search-box-price {
        font-size: 20px;
        margin-bottom: 0;
    }

    .search-result-box h1{
        font-size: 15px;
    }

    .search-result-box .details, 
    .property-faciluties-list span {
        font-size: 14px;
    }

    .property-card-modal-btns button,
    .property-card-modal-btns a {
        font-size: 14px;
    }

    .filter-option-area
    .filter-single-box:not(:last-child),
    .filter-location-box .filter-icon{
        display: none !important;
    }

    .filter-option-area{
        flex-grow: initial;
    }

    .filter-location-box{
        max-width: initial;
        height: 100%;
    }

    .filter-button-area{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .filter-single-box{
        border: none !important;
    }

    .filter-icon{
        height: initial !important;
        
        .bi{
            font-size: 20px !important;
        }
    }

    .all-filter-option{
        padding: 0 !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        gap: 10px;
    }

    .filter-location-box,
    [aria-label="filter-button"]{
        border: 1px solid #abafb3 !important;
        border-radius: 5px;
        box-shadow: 0 0 9px rgba(0,0,0,.1),0 0 9px rgba(0,0,0,.01);
    }

    .search-box input{
        padding: 13.8px 10px !important;
    }

    [aria-label="filter-button"]{
        padding: 10px 15px;
        border: none !important;
    }

    [display-view="small"]{
        display: block;
    }

    .search-result-box {
        padding: 0;
    }

}


@media screen and (max-width : 1220px){
    .search-result-box-wrapper{
        position: relative;
        padding-bottom: calc(78px + 15px);
    }

    .property-card-down-area{
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 0;
        padding: 10px 15px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .property-card-modal-btns{
        padding-right: 0;
    }

    .agency-contact-info{
        position: absolute;
        bottom: 20px;
        right: 15px;
        z-index: 99;
    }

    .dev-phn-number,
    .dev-to-contact{
        margin: 0;
        font-size: 16px !important;
    }

    .dev-to-contact{
        padding: 2px 15px;
    }

    .buillding-agency-logo{
        height: 50px;
    }

    .search-list-add-btns 
    .building-agency-action-btn .bi {
        font-size: 20px;
    }

    .search-box-price{
        font-size: 22px;
        padding: 10px 0 !important;
    }

    .agency-company-info{
        display: flex;
        align-items: center;
        gap: 5px;
        max-width: calc(100% - 135px);
    }

    .agent-company-name{
        margin: 0 !important;
    }

    .property-single-box[effect="null"]:first-child 
    .add-to-favorite:not([added="true"])::before,
    .property-single-box[effect="null"]:first-child 
    .add-to-favorite:not([added="true"])::after{
        width: 70px;
        height: 70px;
    }
}


@media screen and (max-width : 768px){
    .sorting-map-container{
        flex-direction: column;
        align-items: initial;
    }

    .sorting-map-box{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        margin-top: 5px;
        padding: 5px 0;
    }
    
    .sorting-map-box a, 
    .sorting-map-box .sorting-btn{
        font-size: 14px;
        font-weight: 500;
        justify-content: center;
        padding: 20px 0;
    }

    .sorting-map-box i{
        font-size: 20px;
    }

    .sorting-map-box a{
        border-right: 1px solid #eee;
    }
}


@media screen and (max-width : 600px){
    .dev-phn-number,
    .dev-to-contact {
        font-size: 14px !important;
    }

    .dev-to-contact{
        padding: 5px 10px;
        border-radius: 5px;
    }

    .buillding-agency-logo {
        height: 40px;
        min-width: max-content;
    }

    .search-result-box-wrapper{
        padding-bottom: calc(70px + 15px);
    }
    
    .agent-company-name{
        display: none !important;
    }

    
    .search-result-box {
        .property-value {
            font-size: 14px !important;
        }
        
        .material-symbols-outlined{
            font-size: 20px;
        }
    }

    .search-box-title{
        margin-bottom: 0;
    }
}