.search-result-box-img{
    height: 260px;
}

.search-result-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-result-box h1{
    font-size: 17px;
    color: #484848 !important;
    margin: 0;
}

.search-result-box .location{
    display: flex;
    font-size: 13px;
    margin: 5px 0;
    color: #726E6E;
}

.search-result-box .location .icon,
.search-result-box h1,
.search-result-box .sub-title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-result-box .sub-title{
    font-size: 14px;
    font-weight: bold;
    color: #726E6E;
    margin: 0;
}

.search-result-box .details{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    color: #726E6E;
    margin: 0;
    margin-top: 10px;
}

.search-result-box .property-contains{
    display: flex;
    padding: 5px 0;
}

.search-result-box .property-short-info-box{
    padding-right: 20px !important;
    color: #726E6E;
    display: flex;
}

.search-result-box .property-short-info-icon img{
    width: 16px !important;
    opacity: .8 !important;
}

.search-result-box .property-value {
    font-size: 14px !important;
    position: relative !important;
    top: 4px !important;
}

.search-result-box .property-short-info-icon{
    margin-right: 7px ;
}

.property-faciluty{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.property-faciluties-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7px;
    max-height: 50px;
    overflow: hidden;
}

.property-faciluties-list span{
    font-size: 14px;
    color: #484848;
    display: flex;
    align-items: center;
    gap: 5px;
}

.property-faciluties-list span .bi{
    font-size: 10px;
}

.property-faciluty span{
    color: #726E6E;
    background-color: #ffd350;
    font-size: 13px;
    padding: 3px 7px;
    border-radius: 4px;
    text-transform: capitalize;
}

.search-result-box-wrapper{
    border: 1px solid #eee;
    display: block;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.search-box-price{
    background: #F4F4F5;
    color: #484848;
    font-size: 20px;
    padding: 10px 25px;
    font-weight: 500;
    min-height: 68px;
}

.filter-categories-dropdown{
    position: relative;
}

.filter-categories-dropdown button,
.reset-btn{
    border: 1px solid #e4e9f7;
    color: #484848;
    background-color: #fff;
    font-size: 15px;
    display: flex;
    gap: 10px;
    padding: 7px 12px;
    border-radius: 3px;
}

.filter-categories-dropdown button:hover{
    background: #f8f4fa;
}

.reset-btn{
    border-color: #f8f4fa;
    background: #f8f4fa;
}

.filter-dropdown-field{
    position: absolute;
    top: 38px;
    left: 0;
    background: #fff;
    z-index: 9999;
    box-shadow: 0px 4px 7px 1px rgba(0,0,0,.15);
    padding: 10px;
    border-radius: 3px;
    display: none;
}

.filter-dropdown-field .range-area{
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-dropdown-field select{
    border: 1px solid #e4e9f7;
    color: #484848;
    background-color: #fff;
    font-size: 15px;
    display: flex;
    gap: 10px;
    padding: 7px 12px;
    border-radius: 3px;
}

.filter-dropdown-buttons{
    display: flex;
    gap: 5px;
}

.filter-dropdown-buttons button,
.filter-dropdown-mtl-buttons button{
    border: 1px solid #e4e9f7;
    color: #484848;
    background-color: #fff;
    padding: 7px 12px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    display: block;
}

.filter-dropdown-buttons button[active="true"],
.filter-dropdown-mtl-buttons button[active="true"]{
    background-color: #15C1B9;
    color: white;
}

.filter-dropdown-mtl-buttons button{
    min-width: 140px;
}

.filter-dropdown-mtl-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.filter-overlay{
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100vw;
    height: 100vh;
    z-index: 9991;
}

.property-single-box{
    position: relative;
}

.banner-action-button{
    display: flex;
    position: absolute;
    left: 12px;
    top: 0px;
    z-index: 9;
    justify-content: flex-start;
    padding: 10px;
    flex-wrap: wrap;
}

.banner-action-button button{
    background-color: #fff;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px 10px;
    border: none;
    margin: 5px;
    display: flex;
    justify-content: center;
    min-width: 80px;
    gap: 3px;
    align-items: center;
}

.banner-action-button button img{
    width: 17px;
}

.add-to-compare .bi-check-circle-fill{
    color: #65ff6c;
    display: none;
}

added{
    display: none !important;
}

[added="true"] added{
    display: inline-block !important;
}

.add-to-favorite .bi-heart-fill{
    color: #e31b23;
    display: none;
}

[added="true"].add-to-compare .bi-check-circle-fill,
[added="true"].add-to-favorite .bi-heart-fill{
    display: inline;
}

[added="false"].add-to-compare .bi-arrow-left-right,
[added="false"].add-to-favorite .bi-heart{
    display: inline;
}

[added="true"].add-to-compare .bi-arrow-left-right,
[added="true"].add-to-favorite .bi-heart{
    display: none;
}

.buillding-agency-info{
    display: flex;
    align-items: center;
}

.property-card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.buillding-agency-logo img{
    height: 30px;
}

.buillding-agency-logo{
    max-width: 110px;
    overflow: hidden;
    margin-right: 10px;
}

.buillding-agency-tel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.buillding-agency-tel a,
.buillding-agency-tel span{
    font-size: 13px;
    color: #484848;
}

.buillding-agency-tel a{
    font-weight: 500;
}

.search-result-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.building-agency-action-btn{
    display: flex;
    align-items: center;
    color: #484848 !important;
    font-weight: 500;
    font-size: 14px;
    background-color: transparent;
    border: none !important;
}

.buillding-agency-tel .bi{
    display: none;
    font-size: 16px;
}

.splide__pagination{
    bottom: 20px !important;
}

.building-agency-action-btn img{
    height: 20px;
    display: block;
    margin: 0 10px;
}

.area-filter-buttons{
    display: grid;
    grid-template-columns: 120px 120px;
}

.property-card-modal-btns{
    display: flex;
    margin: 10px 0;
    margin-bottom: 20px;
    gap: 10px;
}

.property-card-modal-btns button{
    background: #15C1B9 !important;
    color: #fff !important;
    padding: 8px 25px;
    font-size: 13px;
    box-shadow: 2px 3px 7px 2px rgb(0 0 0 / 20%);
    transition:  box-shadow .3s;
}

.property-card-modal-btns button:hover{
    opacity: .9;
    box-shadow : none;
}

.property-card-down-area{
    display: flex;
    flex-direction: column;
}

.suggested-properties{
    margin-bottom: 20px;
}

.suggested-properties h1{
    font-size: 16px;
    font-weight: bolder;
}

.suggested-properties li{
    list-style: none;
    margin-bottom: 5px;
    padding-left: 10px;
}

.suggested-properties li a{
    font-size: 13px;
    color: #375ad5 !important;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.suggested-properties li a:hover{
    opacity: .8;
}

.suggested-properties-area{
    margin-top: 35px;
}

.filter-box-container{
    background-color: #7f1378;
}

.all-filter-option{
    display: grid;
    grid-template-columns: 400px 150px 355px 150px 180px 180px 1fr;
}

.search-box{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100% !important;
}

[label="Area"] .filter-dropdown-buttons {
    min-width: 100px;
}

[label="Area"] .filter-dropdown-btn {
    width: 100px;
    min-width: max-content;
    justify-content: space-between;
}

.filter-option-single-box{
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.filter-option-visiable-btn{
    background-color: transparent !important;
    color: #fff !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.all-filter-option select{
    height: 100%;
    color: #fff;
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}

.all-filter-option select option{
    color: #000 ;
}

#extra-filter{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    padding-top: 116px;
    display: none;
    background-color: #00000005;
}

#extra-filter .filter-option-box-wrapper label{
    margin-bottom: 7px;
}

.filter-modal-body{
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: #fff;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.05);
    overflow-y: auto;
    overflow-x: hidden;
}

[aria-label="filter-button"] button{
    width: 100%;
    place-items: center;
    display: grid;
}

[filter-modal-open="true"] .filter-box{
    position: relative;
    z-index: 99999;
}

[aria-label="filter-button"]{
    border: none !important;
}

[filter-modal-open="true"]
#extra-filter{
    display: block;
}

[filter-modal-open="true"]{
    overflow: hidden !important;
}

.filter-modal-footer-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

#extra-filter .filter-option-box-wrapper select{
    width: 100%;
    padding: 7px 5px;
    font-size: 14px;
    border: 1px solid #e4e9f7;
    color: #484848;
}

#extra-filter .filter-option-box-wrapper .to-to{
    color: #212529 !important;
}

#extra-filter .filter-option-box-wrapper .range-area{
    display: flex;
    align-items: center;
}

[filter-aria-label="property-type"]{
    display: none;
}

.filter-modal-footer-btn button{
    padding: 8px 25px;
    font-size: 15px;
    border-radius: 5px;
}

.filter-done{
    background-color: #15C1B9 !important;
    color: #fff !important;
    border: none;
    box-shadow: 2px 3px 7px 2px rgb(0 0 0 / 20%);
}

[filter-modal-open="true"]
[aria-label="filter-button"] button{
    background-color: #fff !important;
    color: #262637 !important;
    border-radius: 0 !important;
}

.price-filter-box{
    width: 500px;
}

.price-filter-select-box,
.search-pop-up-select-box{
    display: flex;
    padding: 30px 35px;
}

.price-filter-select-box select,
.search-pop-up-select-box select{
    color: #001229;
    background-color: #fff;
    border: 1px solid #cbcbcb;
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
}

#price-slider{
    width: 100%;
    height: 2px;
    background-color: #eee!important;
    border: none !important;
}

#price-slider
.ui-slider-range{
    background-color: #8adff2!important;
}

#price-slider
.ui-slider-handle{
    transform: translateY(-50%);
    top: 50%;
    border-radius: 100%;
    background-color: #fff;
    border-color: #8adff2 !important;
    width: 1.6em;
    height: 1.6em;
    cursor: grab;
}

.price-slider-area{
    padding: 30px 35px;
    padding-bottom: 0;
}

[aria-label]{
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.price-rage-chart{
    height: 100px;
    display: flex;
    gap: 2px;
    align-items: flex-end;
    margin-bottom: 20px;
    padding: 0 !important;
}

.price-rage-chart li{
    width: 1%;
    background-color: #cbcbcb;
    list-style-type: none;
}

@media screen and (min-width : 1600px){
    [filter-aria-label="badroom"],
    [filter-aria-label="property-quota"]{
        display: none;
    }
}

@media screen and (max-width : 1600px){
    [aria-label="beds"],
    [aria-label="property-quota"]{
        display: none;
    }

    .all-filter-option {
        grid-template-columns: 400px 150px 375px 200px 1fr;
    }
}


@media screen and (max-width : 1470px){
    [aria-label="property-type"]{
        display: none;
    }

    [filter-aria-label="property-type"]{
        display: block;
    }

    .all-filter-option {
        grid-template-columns: 400px 150px 355px 1fr;
    }
}

@media screen and (min-width : 1300px){
    [filter-aria-label="unit_area"]{
        display: none;
    }
}

@media screen and (max-width : 1300px){
    [aria-label="unit-area"]{
        display: none;
    }

    .all-filter-option {
        grid-template-columns: 2.3fr 150px 1fr;
    }

    .search-box{
        max-width: none !important;
    }
}


@media screen and (max-width : 1200px){
    .building-agency-action-btn span{
        display: none;
    }

    .building-agency-action-btn .bi{
        font-size: 16px;
    }

    .search-result-box-img{
        height: 240px;
    }
}

@media screen and (min-width : 991px){
    [filter-aria-label="price"]{
        display: none;
    }
}

@media screen and (max-width : 991px){
    .suggested-properties-area,
    #search-map{
        display: none;
    }

    [aria-label="price"]{
        display: none;
    }

    [aria-label="property-type"]{
        display: block;
    }

    [filter-aria-label="property-type"]{
        display: none;
    }

    .all-filter-option {
        grid-template-columns: 380px 1fr 100px;
    }
}


@media screen and (max-width : 768px){
    #search-result .banner-action-button{
        width: 130px;
        transform : none;
        left: 22px;
        flex-direction: column;
    }


    .buillding-agency-tel .bi{
        display: inline-block;
    }

    .buillding-agency-tel span{
        display: none;
    }

    .search-result-box-img{
        height: 260px;
    }

    [aria-label="property-type"]{
        display: none;
    }

    [filter-aria-label="property-type"]{
        display: block;
    }

    .all-filter-option {
        grid-template-columns: 1fr 100px;
    }
}

@media screen and (max-width : 600px){
    .filter-box-container {
        padding: 0 10px !important;
    }
}

@media screen and (max-width : 575px) {
    .search-result-box-img{
        margin-bottom: 5px;
    }

    #search-result .banner-action-button{
        justify-content: flex-start;
        flex-direction: row;
        width: calc(100% - 44px);
        left: 50%;
        transform: translateX(-50%);
    }

    .property-card-footer{
        margin-top: 20px;
    }

    ._contact{
        display: none !important;
    }

    .search-result-box-img{
        height: 220px;
    }

    .search-box-price{
        min-height: auto;
        font-size: 18px;
    }
}