.property-type-filter{
    width: 320px;
    padding-top: 30px;
}

.property-type-list{
    padding: 0 30px;
    margin-bottom: 10px;
}

.property-type-list button{
    border-radius: 20px;
    border: none;
    font-size: 14px;
    padding: 5px 15px;
}

[type-area-name] label{
    display: block;
}

[type-area-name] label span{
    padding: 12px 30px;
    cursor: pointer;
    width: 100%;
}

[type-area-name]{
    display: none;
}

[building-type-status="residence"]
[type-area-name="residential"],
[building-type-status="residence"]
[type-area-name="residence"],
[building-type-status="null"] 
[type-area-name="residential"] {
    display: block;
}


[building-type-status="commercial"]
[type-area-name="commercial"]{
    display: block;
}

.property-type-action-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.property-type-action-btn button,
.filter-clear,
.apply-btn{
    padding: 8px 25px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

.property-type-clear{
    background: #f8f4fa;
}

.property-type-apply,
.apply-btn{
    background-color: var(--th-color) !important;
    color: #fff !important;
    border: none;
    box-shadow: 2px 3px 7px 2px rgb(0 0 0 / 20%);
}

[building-type-status="residence"]
[name="residence"],
[building-type-status="residence"] 
[value="residence"]{
    background: #d5c3c3;
}

[building-type-status="commercial"]
[name="commercial"],
[building-type-status="commercial"]
[value="commercial"]{
    background: #d5c3c3;
}
