{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Developer or agent</title>
<link rel="stylesheet" href="{% static '/css/libraries/dataTables.min.css' %}" />
<link rel="stylesheet" href="{% static '/css/auth.css' %}?v=1.00" />
<link rel="stylesheet" href="{% static '/css/dashboard.css' %}?v=1.00" />
<style>
    #loginButtonText {
        margin: 0;
        padding: 0;
        font-size: inherit;
    }
</style>
{% endblock extend_head %}

{% block content %}
<!-- <div class="container-fluid">
    <div class="row how-it-work-row">
        <div class="col-lg-8 order-lg-2 login-form-box">
            <div class="logo completeProfileLogo">
                <a href="/">
                    <img src="{% static 'media/logo.png' %}" alt="logo">
                </a>
            </div>

            <div class="authArea completeProfileArea">
                <p>Developer/Agent Dashboard</p>
            </div>

        </div>
        <div class="col-lg-4 order-lg-1 login-des-box">
            <div class="authTextArea">
                <a type="button" class="authSignUpButton" href="{% url 'user:logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div> -->

<section id="dashboard-cards-list-area" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6 dashboard-card">
                <div class="dashboard-single-card">
                    <div class="single-card-value">
                        <span>{{ total_buildings }}</span>
                        <p>Building</p>
                    </div>
                    <i class="bi bi-buildings"></i>
                </div>
            </div>
            <div class="col-lg-3 col-6 dashboard-card">
                <div class="dashboard-single-card">
                    <div class="single-card-value">
                        <span>{{ total_properties }}</span>
                        <p>Properties</p>
                    </div>
                    <i class="bi bi-newspaper"></i>
                </div>
            </div>

            <div class="col-lg-3 col-6 dashboard-card">
                <div class="dashboard-single-card">
                    <div class="single-card-value">
                        <span id="active-properties-count">
                            {{ active_properties_count }}
                        </span>
                        <p>Active Properties</p>
                    </div>
                    <i class="bi bi-send-arrow-up"></i>
                </div>
            </div>
            
            <div class="col-lg-3 col-6 dashboard-card">
                <div class="dashboard-single-card">
                    <div class="single-card-value">
                        <span>0</span>
                        <p>Scheduled Tours</p>
                    </div>
                    <i class="bi bi-calendar-week"></i>
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container">
        <div class="row">

            <div class="col-12 mb-5">
                <div class="table-area">
                    <h1 class="table-title">Buildings</h1>
                    <table class="dashboard-data-table" id="building-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Price</th>
                                <th>Type</th>
                                <th>Total Units For Sale</th>
                                <th>Address</th>
                                <th>Project Total Area</th>
                                <th>Total Floors</th>
                                <th>Completion Date</th>
                                <th>Status</th>
                                <th class="th-edit-delete-see"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for building in buildings %}
                            <tr id="building-{{ building.id }}">
                                <td>{{ building.id }}</td>
                                <td>{{ building.title }}</td>
                                <td>{{ building.price }}</td>
                                <td>{{ building.type }}</td>
                                <td>{{ building.total_units_for_sale }}</td>
                                <td>{{ building.address }}</td>
                                <td>{{ building.project_total_area }}</td>
                                <td>{{ building.total_floors }}</td>
                                <td>{{ building.construction_year }}</td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" class="toggle-active" data-id="{{ building.id }}"
                                            data-item="building"
                                            data-api-url="{% url 'building:api:update' building.id %}"
                                            {% if building.is_active %}checked{% endif %}>
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td>
                                    <div class="td-edit-delete-see">
                                        <a class="link edit-button" href="{% url 'building:update' building.id %}">Edit</a>
                                        <button class="link delete-building delete-button" data-id="{{ building.id }}"
                                            data-api-url="{% url 'building:api:delete' building.id %}">Delete</button>
                                        <a class="link" href="{% url 'building:get' building.id %}">See More</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>



            <div class="col-12 mb-5">
                <div class="table-area">
                    <h1 class="table-title">Properties</h1>
                    <table class="dashboard-data-table" id="property-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Building</th>
                                <th>Unit ID</th>
                                <th>Title</th>
                                <th>Price</th>
                                <th>Floor Number</th>
                                <th>Area</th>
                                <th>Bedroom</th>
                                <th>Bathroom</th>
                                <th>Balcony</th>
                                <th>Car Parking</th>
                                <th>Status</th>
                                <th class="th-edit-delete-see"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for property in properties %}
                            <tr id="property-{{ property.id }}">
                                <td>{{ property.id }}</td>
                                <td>{{ property.building }}</td>
                                <td>{{ property.unit_id }}</td>
                                <td>{{ property.title }}</td>
                                <td>{{ property.price }}</td>
                                <td>{{ property.floor_number }}</td>
                                <td>{{ property.unit_area }}</td>
                                <td>{{ property.number_of_bedroom }}</td>
                                <td>{{ property.number_of_bathroom }}</td>
                                <td>{{ property.number_of_balcony }}</td>
                                <td>{{ property.number_of_car_parking }}</td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" class="toggle-active" data-id="{{ property.id }}"
                                            data-item="property"
                                            data-api-url="{% url 'property:api:update' property.id %}"
                                            {% if property.is_active %}checked{% endif %}>
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td>
                                    <div class="td-edit-delete-see">
                                        <a class="link edit-button" href="{% url 'property:update' property.id %}">Edit</a>
                                        <button class="link delete-property delete-button" data-id="{{ property.id }}"
                                            data-api-url="{% url 'property:api:delete' property.id %}">Delete</button>
                                        <a class="link" href="{% url 'property:get' property.id %}">See More</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-12 mb-5">
                <div class="table-area">
                    <h1 class="table-title">Scheduled Tours</h1>
                    <table class="mid-table" id="property-visit-schedule">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Address</th>
                                <th>Status</th>
                                <th>Type</th>
                                <th>Date</th>
                                <th class="th-see-more">  </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- calling from dom -->
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</section>

{% endblock %}


{% block extend_script %}
<script>
    var user_type = 'dev_agent'
</script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="{% static '/js/libraries/dataTables.min.js' %}?v=1.00"></script>
<script src="{% static '/js/dashboard.js' %}?v=1.02"></script>
<script src="{% static 'js/toggle_active_status.js' %}?v=1.02"></script>
<script src="{% static '/js/building/delete_building.js' %}?v=1.01"></script>
<script src="{% static '/js/property/delete_property.js' %}?v=1.01"></script>
{% endblock extend_script %}