{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Prospect</title>
<link rel="stylesheet" href="{% static '/css/libraries/dataTables.min.css' %}" />
<link rel="stylesheet" href="{% static '/css/auth.css' %}?v=1.00" />
<link rel="stylesheet" href="{% static '/css/dashboard.css' %}?v=1.01" />
<style>
    #loginButtonText {
        margin: 0;
        padding: 0;
        font-size: inherit;
    }
</style>
{% endblock extend_head %}

{% block content %}
<!-- <div class="container-fluid">
    <div class="row how-it-work-row">
        <div class="col-lg-8 order-lg-2 login-form-box">
            <div class="logo completeProfileLogo">
                <a href="/">
                    <img src="{% static 'media/logo.png' %}" alt="logo">
                </a>
            </div>

            <div class="authArea completeProfileArea">
                <p>Developer/Agent Dashboard</p>
            </div>

        </div>
        <div class="col-lg-4 order-lg-1 login-des-box">
            <div class="authTextArea">
                <a type="button" class="authSignUpButton" href="{% url 'user:logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div> -->

<section id="dashboard-cards-list-area" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6 dashboard-card">
                <div class="dashboard-single-card">
                    <div class="single-card-value">
                        <span>{{ total_comparisons }}</span>
                        <p>Comparisons</p>
                    </div>
                    <i class="bi bi-layout-text-window-reverse"></i>
                </div>
            </div>
            <div class="col-lg-3 col-6 dashboard-card">
                <div class="dashboard-single-card">
                    <div class="single-card-value">
                        <span>{{ total_reviews }}</span>
                        <p>Reviews</p>
                    </div>
                    <i class="bi bi-journal-medical"></i>
                </div>
            </div>

            <div class="col-lg-3 col-6 dashboard-card">
                <div class="dashboard-single-card">
                    <div class="single-card-value">
                        <span>{{ total_schedules }}</span>
                        <p>Schedules</p>
                    </div>
                    <i class="bi bi-calendar-week"></i>
                </div>
            </div>

            <div class="col-lg-3 col-6 dashboard-card">
                <div class="dashboard-single-card">
                    <div class="single-card-value">
                        <span>{{ total_accepted_schedules }}</span>
                        <p>Accepted Schedules</p>
                    </div>
                    <i class="bi bi-calendar-check"></i>
                </div>
            </div>
        </div>
    </div>
</section>



<section> 
    <div class="container">
        <div class="row">

            <div class="col-lg-9 mb-5">
                <div class="table-area property-visit-schedule-table">
                    <h1 class="table-title">Scheduled Tours</h1>
                    <table class="mid-table" id="property-visit-schedule">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Address</th>
                                <th>Status</th>
                                <th>Type</th>
                                <th style="width: 120px;">Date</th>
                                <th class="th-see-more"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- calling from dom -->
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-12 col-6 mb-5">
                        <a href="{{comparison_property_url}}" class="mb-4 d-block">
                            <div class="expand-box">
                                <div class="expand-box-icon">
                                    <i class="material-symbols-outlined compare-icon">
                                        compare
                                    </i>
                                </div>
                                <h1 class="expand-box-title">
                                    Comparison List
                                </h1>

                                <div class="expand-box-cta link">
                                    See more
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-12 col-6 mb-5">
                        <a href="{{favorite_list_property_url}}" class="mb-4 d-block">
                            <div class="expand-box">
                                <div class="expand-box-icon">
                                    <i class="bi bi-heart-fill"></i>
                                </div>
                                <h1 class="expand-box-title">
                                    Favorite List
                                </h1>

                                <div class="expand-box-cta link">
                                    See more
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-12 col-6 mb-5">
                        <a href="#" class="mb-4 d-block">
                            <div class="expand-box">
                                <div class="expand-box-icon">
                                    <i class="material-symbols-outlined grade-icon">
                                        grade
                                    </i>
                                </div>
                                <h1 class="expand-box-title">
                                    My Reviews
                                </h1>

                                <div class="expand-box-cta link">
                                    See more
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

{% endblock %}


{% block extend_script %}
<script>
    var user_type = 'prospect'
</script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="{% static '/js/libraries/dataTables.min.js' %}?v=1.00"></script>
<script src="{% static '/js/dashboard.js' %}?v=1.03"></script>
{% endblock extend_script %}