{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Complete profile</title>
<link rel="stylesheet" href="{% static '/css/auth.css' %}" />
<style>
    #loginButtonText {
        margin: 0;
        padding: 0;
        font-size: inherit;
    }
</style>
{% endblock extend_head %}

{% block content %}
<div class="container-fluid">
    <div class="row how-it-work-row">
        <div class="col-lg-8 order-lg-2 login-form-box">
            <div class="logo completeProfileLogo">
                <a href="/">
                    <img src="{% static 'media/logo.png' %}" alt="logo">
                </a>
            </div>

            <div class="authArea completeProfileArea">
                <p>Complete Your Profile</p>
                <form id="profile-form" method="post">
                    {% csrf_token %}
                    {% block profile %}
                    {% endblock %}
                </form>

            </div>

        </div>
        <div class="col-lg-4 order-lg-1 login-des-box">
            <div class="authTextArea">
                <p class="authTextAreaTitle">Complete Your Account</p>
                <p class="authTextAreaDescription">Ensure you fill out the form with correct information.</p>
                <a type="button" class="authSignUpButton" href="{% url 'logout' %}">Logout</a>
                <a class="authTextForget" href="#">Forget Password ?</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extend_script %}
<script type="text/javascript">
    var userType = "{{ request.user.user_type }}"
    var profileUrl = "";
    if (userType == "developer") {
        profileUrl = "{% url 'api:developer-list' %}"
    } else if (userType == "agent") {
        profileUrl = "{% url 'api:agent-list' %}"
    } else if (userType == "prospect") {
        profileUrl = "{% url 'api:prospect-list' %}"
    }
</script>
<script src="{% static 'js/auth/profile.js' %}?v=1.00"></script>
{% endblock extend_script %}