{% extends "auth/complete_profile.html" %}
{% load static %}

{% block profile %}
<!--- Complete Profile Form Start --->

<div class="success-message">
    <!-- <span class="authSuccessMessage"></span> -->
</div>
<div class="error-message">
    <!-- <span class="authErrorMessage"></span> -->
</div>

<div class="auth-input-wrapper">
    <label>User email</label>
    <input type="email" name="email" value="{{ request.user.email }}" readonly>
</div>

<div class="auth-input-wrapper">
    <label>User type</label>
    <select name="user_type" value="{{ request.user.user_type }}">
        <option value="">Choose your role</option>
        <option value="agent">Agent</option>
        <option value="developer">Developer</option>
        <option value="prospect">Prospect</option>
    </select>
</div>

<div form-for="developer">

</div>


<div class="auth-response-messages"></div>
<button type="submit" class="auth-form-btn" button-name="complete-profile">
    Finish setup
</button>

<!--- Complete Profile Form End --->

{% endblock %}