{% extends "auth/complete_profile.html" %}
{% load static %}

{% block profile %}
<!--- Complete Profile Form Start --->

<div class="success-message">
    <!-- <span class="authSuccessMessage"></span> -->
</div>
<div class="error-message">
    <!-- <span class="authErrorMessage"></span> -->
</div>

<div class="auth-input-wrapper">
    <label>User email</label>
    <input type="email" name="email" value="{{ request.user.email }}" readonly>
</div>

<div class="auth-input-wrapper">
    <label>Company Logo</label>
    <input type="file" accept="image/*" name="company_logo" required>
</div>

<div class="auth-input-wrapper">
    <label>Company Name</label>
    <input type="text" name="company_name" placeholder="Company Name" required>
</div>

<div class="auth-input-wrapper">
    <label>Phone Number</label>

    <div class="d-flex gap-2">
        <select name="phone_code" placeholder="Code" required style="width: 100px;">
            <option value="+66">+66</option>
        </select>
        <input type="tel" name="phone_number" placeholder="Phone Number" required>
    </div>
</div>

<div class="auth-input-wrapper">
    <label>Company Address</label>
    <input type="text" name="company_address" placeholder="Company Address" required>
</div>

<div class="auth-input-wrapper">
    <label>WhatsApp Link</label>
    <input type="text" name="whats_app_link" placeholder="WhatsApp Link">
</div>

<div class="auth-input-wrapper">
    <label>Line Link</label>
    <input type="text" name="line_link" placeholder="Line Link">
</div>

<div class="auth-input-wrapper">
    <label>WeChat Link</label>
    <input type="text" name="we_chat_link" placeholder="WeChat Link">
</div>

<div class="auth-input-wrapper">
    <label>Company details</label>
    <textarea rows="5" name="company_details" placeholder="Company details" required></textarea>
</div>

<div class="auth-response-messages"></div>
<button type="submit" class="auth-form-btn" button-name="complete-profile">
    Complete Profile
</button>

<!--- Complete Profile Form End --->

{% endblock %}