{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Advertise Performance</title>
<link rel="stylesheet" href="{% static '/css/libraries/dataTables.min.css' %}" />
<link rel="stylesheet" href="{% static '/css/auth.css' %}?v=1.00" />
<link rel="stylesheet" href="{% static '/css/dashboard.css' %}?v=1.00" />
<link rel="stylesheet" href="{% static '/css/analytics-and-performance.css' %}?v=1.00" />
{% endblock extend_head %}




{% block content %}
<section>
    <div class="container mt-5">
        <div class="box-area position-relative" label-name="visit-analytics">
            <div class="chart-filter-btn-area">
                <div class="chart-filter-button">
                    <button label-name="filter-type" value="weekly" active="true"> Weekly </button>
                    <button label-name="filter-type" value="monthly"> Monthly </button>
                    <button label-name="filter-type" value="yearly"> Yearly </button>
                </div>

                <div class="chart-filter-button">
                    <button label-name="pagination" name="previous" value="false"> Previous </button>
                    <button label-name="pagination" name="next" value="false"> Next </button>
                </div>
            </div>

            <p class="date-range" label-name="date-range">
                <!-- from dom -->
            </p>

            <div id="property_view"></div>
        </div>
    </div>
</section>


<section class="analytics-tables">
    <div class="container">
        <div class="row">


            <div class="col-xl-4 col-md-6">
                <div class="table-area">
                    <h1 class="table-title">
                        Top Performing Properties by Conversion
                    </h1>

                    <table class="dashboard-data-table">
                        <thead>
                            <tr>
                                <th>Ads name</th>
                                <th>Create time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="advertise-list">
                                <td> ads name </td>
                                <td> create time  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-xl-4 col-md-6">
                <div class="table-area">
                    <h1 class="table-title">
                        Top-Ranked Properties by Views
                    </h1>

                    <table class="dashboard-data-table">
                        <thead>
                            <tr>
                                <th>Ads name</th>
                                <th>Create time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="advertise-list">
                                <td> ads name </td>
                                <td> create time  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-xl-4 col-md-6">
                <div class="table-area">
                    <h1 class="table-title">
                        Properties with Maximum Viewing Time
                    </h1>

                    <table class="dashboard-data-table">
                        <thead>
                            <tr>
                                <th>Ads name</th>
                                <th>Create time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="advertise-list">
                                <td> ads name </td>
                                <td> create time  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



            <div class="col-xl-4 col-md-6">
                <div class="table-area">
                    <h1 class="table-title">
                        Most Top-Rated Properties
                    </h1>

                    <table class="dashboard-data-table">
                        <thead>
                            <tr>
                                <th>Ads name</th>
                                <th>Create time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="advertise-list">
                                <td> ads name </td>
                                <td> create time  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-xl-4 col-md-6">
                <div class="table-area">
                    <h1 class="table-title">
                        Most User Favorites
                    </h1>

                    <table class="dashboard-data-table">
                        <thead>
                            <tr>
                                <th>Ads name</th>
                                <th>Create time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="advertise-list">
                                <td> ads name </td>
                                <td> create time  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



            <div class="col-xl-4 col-md-6">
                <div class="table-area">
                    <h1 class="table-title">
                        Most Appeared on the Compare List
                    </h1>

                    <table class="dashboard-data-table">
                        <thead>
                            <tr>
                                <th>Ads name</th>
                                <th>Create time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="advertise-list">
                                <td> ads name </td>
                                <td> create time  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</section>



<section class="analytics-tables">
    <div class="container">
        <div class="row">


            <div class="col-xl-4 col-md-6">
                <div class="table-area">
                    <h1 class="table-title">
                        Top Performing Properties by Conversion
                    </h1>

                    <table class="dashboard-data-table">
                        <thead>
                            <tr>
                                <th>Ads name</th>
                                <th>Create time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="advertise-list">
                                <td> ads name </td>
                                <td> create time  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-xl-4 col-md-6">
                <div class="table-area">
                    <h1 class="table-title">
                        Top-Ranked Properties by Views
                    </h1>

                    <table class="dashboard-data-table">
                        <thead>
                            <tr>
                                <th>Ads name</th>
                                <th>Create time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="advertise-list">
                                <td> ads name </td>
                                <td> create time  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-xl-4 col-md-6">
                <div class="table-area">
                    <h1 class="table-title">
                        Properties with Maximum Viewing Time
                    </h1>

                    <table class="dashboard-data-table">
                        <thead>
                            <tr>
                                <th>Ads name</th>
                                <th>Create time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="advertise-list">
                                <td> ads name </td>
                                <td> create time  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



            <div class="col-xl-4 col-md-6">
                <div class="table-area">
                    <h1 class="table-title">
                        Most Top-Rated Properties
                    </h1>

                    <table class="dashboard-data-table">
                        <thead>
                            <tr>
                                <th>Ads name</th>
                                <th>Create time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="advertise-list">
                                <td> ads name </td>
                                <td> create time  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</section>

{% endblock %}





{% block extend_script %}
<script>
    var VISITE_ANALYTCS = '/property/api/visit-analytics/'
</script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="{% static '/js/libraries/dataTables.min.js' %}?v=1.00"></script>
<script src="{% static '/js/libraries/echarts.min.js' %}?v=1.00"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" 
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="{% static '/js/advertise/analytics.js' %}?v=1.00"></script>
{% endblock extend_script %}