{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Advertise Analytics</title>
<link rel="stylesheet" href="{% static '/css/libraries/dataTables.min.css' %}" />
<link rel="stylesheet" href="{% static '/css/auth.css' %}?v=1.00" />
<link rel="stylesheet" href="{% static '/css/dashboard.css' %}?v=1.01" />
<link rel="stylesheet" href="{% static '/css/analytics-and-performance.css' %}?v=1.01" />
{% endblock extend_head %}




{% block content %}
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 mb-5">
                <div class="table-area">

                    <h1 class="table-title">Advertise Analytics</h1>

                    <table class="dashboard-data-table" id="advertise-table">
                        <thead>
                            <tr>
                                <th>Ads name</th>
                                <th>Type</th>
                                <th>Create time</th>
                                <th>End time</th>
                                <th class="th-edit-delete-see"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- dom -->
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="analytics-details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content p-3">

            <div class="d-flex justify-content-end mb-2">
                <button class="close-analytics-modal"> 
                    <i class="bi bi-x-lg"></i> 
                </button>
            </div>


            <div class="row">
                <div class="col-lg-4 col-6 dashboard-card">
                    <div class="dashboard-single-card">
                        <div class="single-card-value">
                            <span label-name="number_of_clicked"> - </span>
                            <p>Ads clicks</p>
                        </div>
                        <i class="bi bi-megaphone"></i>
                    </div>
                </div>
                <div class="col-lg-4 col-6 dashboard-card">
                    <div class="dashboard-single-card">
                        <div class="single-card-value">
                            <span label-name="formatted_view_time">-</span>
                            <p>View time</p>
                        </div>
                        <i class="bi bi-alarm"></i>
                    </div>
                </div>
    
                <div class="col-lg-4 col-6 dashboard-card">
                    <div class="dashboard-single-card">
                        <div class="single-card-value">
                            <span label-name="conversion_rate">
                                -
                            </span>
                            <p> Conversion rate </p>
                        </div>
                        <i class="bi bi-graph-up"></i>
                    </div>
                </div>
            </div>


            <div class="mt-4">
                <h1 class="table-title">Location Analytics</h1>

                <table class="dashboard-data-table" id="location-table">
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th>Number of view</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- dom -->
                    </tbody>
                </table>
            </div>


            <div class="analytics-chart-area">
                <div id="gender-analytics" class="analytics-charts"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}





{% block extend_script %}
<script>
    var ADS_LIST = '/advertise/api/advertisement/list/'
    var ADS_ANALYTICS = function(id){
        return '/advertise/api/advertisement/'+id+'/analytics/'
    };
</script>


<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="{% static '/js/libraries/dataTables.min.js' %}?v=1.00"></script>
<script src="{% static '/js/libraries/echarts.min.js' %}?v=1.00"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" 
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="{% static '/js/advertise/performance.js' %}?v=1.00"></script>
{% endblock extend_script %}