{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Advertise Performance</title>
<link rel="stylesheet" href="{% static '/css/libraries/dataTables.min.css' %}" />
<link rel="stylesheet" href="{% static '/css/auth.css' %}?v=1.00" />
<link rel="stylesheet" href="{% static '/css/dashboard.css' %}?v=1.00" />
<link rel="stylesheet" href="{% static '/css/analytics-and-performance.css' %}?v=1.00" />
<style>
    .table-area{
        height: 100% !important;
        margin: 0 !important;
        position: relative;

        .skeleton-box{
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .dashboard-data-table thead th{
        width: initial !important;
    }

    .dashboard-data-table tr th:last-child,
    .dashboard-data-table tr td:last-child{
        text-align: end !important;
    }

    .dashboard-data-table tr td.dataTables_empty{
        text-align: center !important;
    }
</style>
{% endblock extend_head %}




{% block content %}
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="box-area position-relative" label-name="visit-analytics">
                    <div class="chart-filter-btn-area">
                        <div class="chart-filter-button">
                            <button label-name="filter-type" value="weekly" active="true"> Weekly </button>
                            <button label-name="filter-type" value="monthly"> Monthly </button>
                            <button label-name="filter-type" value="yearly"> Yearly </button>
                        </div>
        
                        <div class="chart-filter-button">
                            <button label-name="pagination" name="previous" value="false"> Previous </button>
                            <button label-name="pagination" name="next" value="false"> Next </button>
                        </div>
                    </div>
        
                    <p class="date-range" label-name="date-range">
                        <!-- from dom -->
                    </p>
        
                    <div id="property_view"></div>
                </div>
            </div>

            <div class="col-lg-4 advertise_gender_analytics">
                <div class="box-area h-100">
                    <h1 class="analytics-card-title">Gender analytics</h1>
                    <div id="gender-analytics">
                        <span class="skeleton-box" style="width: 100%; height: 100%;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="analytics-overview">
    <div class="container">
        <div class="box-area position-relative">
            <div class="analytics-overview-title">
                <h1> Analytics overview </h1>
                <p> Click on card to see more information. </p>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="analytics-cards" target-modal="top_performing_properties_by_conversion">
                                <h1> Top Performing Properties by Conversion </h1>
                                <span label-name="total-data"> Total data : -- </span>
                            </div>
                            
                            <div class="analytics-cards" target-modal="top_ranked_properties">
                                <h1> Top-Ranked Properties By View </h1>
                                <span label-name="total-data"> Total data : -- </span>
                            </div>
    
                            <div class="analytics-cards" target-modal="most_in_demand_price_range">
                                <h1> Most In Demand Price Range </h1>
                                <span label-name="total-data"> Total data : -- </span>
                            </div>
                        </div>
        
                        <div class="col-lg-6">
                            <div class="analytics-cards" target-modal="top_rated_buildings">
                                <h1> Top-Rated Buildings </h1>
                                <span label-name="total-data"> Total data : -- </span>
                            </div>
                            
                            <div class="analytics-cards" target-modal="maximum_viewing_time_properties">
                                <h1> Properties with Maximum Viewing Time </h1>
                                <span label-name="total-data"> Total data : -- </span>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- <div class="analytics-cards" target-modal="top_rated_buildings">
                                <h1> Most Top-Rated Properties </h1>
                                <span label-name="total-data"> Total data : -- </span>
                            </div> -->
            
                            <div class="analytics-cards" target-modal="most_favorite_properties">
                                <h1> Most User Favorites </h1>
                                <span label-name="total-data"> Total data : -- </span>
                            </div>
    
                            <div class="analytics-cards" target-modal="popular_search_location_properties">
                                <h1> Most Popular Search locations </h1>
                                <span label-name="total-data"> Total data : -- </span>
                            </div>
                        </div>
        
                        <div class="col-lg-6">
                            <div class="analytics-cards" target-modal="most_appeared_on_the_compare_list">
                                <h1> Most Appeared on the Compare List </h1>
                                <span label-name="total-data"> Total data : -- </span>
                            </div>
            
                            <div class="analytics-cards" target-modal="highest_search_appearances_properties">
                                <h1> Properties with highest search appearances </h1>
                                <span label-name="total-data"> Total data : -- </span>
                            </div>

                            <div class="analytics-cards" target-modal="example">
                                <h1> Most Example </h1>
                                <span label-name="total-data"> Total data : 00 </span>
                            </div>
                        </div>
                    </div>
                </div>
    
    
            </div>
        </div>

    </div>
</section>





<div class="modal fade" modal-name="top_performing_properties_by_conversion" tabindex="-1" role="dialog"
aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content p-3 pb-2">
            <h1 class="table-title">
                Top Performing Properties by Conversion

                <button class="close-analytics-modal">
                    <i class="bi bi-x-lg"></i>
                </button>
            </h1>

            <div class="table-area">
                <table class="dashboard-data-table" table-name="top_performing_properties_by_conversion">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Conversion Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" modal-name="top_ranked_properties" tabindex="-1" role="dialog"
aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content p-3 pb-2">
            <h1 class="table-title">
                Top-Ranked Properties By View 

                <button class="close-analytics-modal">
                    <i class="bi bi-x-lg"></i>
                </button>
            </h1>

            <div class="table-area">
                <table class="dashboard-data-table" table-name="top_ranked_properties">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" modal-name="most_in_demand_price_range" tabindex="-1" role="dialog"
aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content p-3 pb-2">
            <h1 class="table-title">
                Most In Demand Price Range

                <button class="close-analytics-modal">
                    <i class="bi bi-x-lg"></i>
                </button>
            </h1>

            <div class="table-area">
                <table class="dashboard-data-table" table-name="most_in_demand_price_range">
                    <thead>
                        <tr>
                            <th>Price Range</th>
                            <th>Appearance</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" modal-name="top_rated_buildings" tabindex="-1" role="dialog"
aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content p-3 pb-2">
            <h1 class="table-title">
                Top-Rated Buildings

                <button class="close-analytics-modal">
                    <i class="bi bi-x-lg"></i>
                </button>
            </h1>

            <div class="table-area">
                <table class="dashboard-data-table" table-name="top_rated_buildings">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Average Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" modal-name="maximum_viewing_time_properties" tabindex="-1" role="dialog"
aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content p-3 pb-2">
            <h1 class="table-title">
                Properties with Maximum Viewing Time

                <button class="close-analytics-modal">
                    <i class="bi bi-x-lg"></i>
                </button>
            </h1>

            <div class="table-area">
                <table class="dashboard-data-table" table-name="maximum_viewing_time_properties">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>View time</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" modal-name="most_favorite_properties" tabindex="-1" role="dialog"
aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content p-3 pb-2">
            <h1 class="table-title">
                Most User Favorites

                <button class="close-analytics-modal">
                    <i class="bi bi-x-lg"></i>
                </button>
            </h1>

            <div class="table-area">
                <table class="dashboard-data-table" table-name="most_favorite_properties">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" modal-name="popular_search_location_properties" tabindex="-1" role="dialog"
aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content p-3 pb-2">
            <h1 class="table-title">
                Most Popular Search locations

                <button class="close-analytics-modal">
                    <i class="bi bi-x-lg"></i>
                </button>
            </h1>

            <div class="table-area">
                <table class="dashboard-data-table" table-name="popular_search_location_properties">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Appearance</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" modal-name="most_appeared_on_the_compare_list" tabindex="-1" role="dialog"
aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content p-3 pb-2">
            <h1 class="table-title">
                Most Appeared on the Compare List

                <button class="close-analytics-modal">
                    <i class="bi bi-x-lg"></i>
                </button>
            </h1>

            <div class="table-area">
                <table class="dashboard-data-table" table-name="most_appeared_on_the_compare_list">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" modal-name="highest_search_appearances_properties" tabindex="-1" role="dialog"
aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content p-3 pb-2">
            <h1 class="table-title">
                Properties with highest search appearances

                <button class="close-analytics-modal">
                    <i class="bi bi-x-lg"></i>
                </button>
            </h1>

            <div class="table-area">
                <table class="dashboard-data-table" table-name="highest_search_appearances_properties">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Create time</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- <div class="modal fade" modal-name="top_rated_buildings" tabindex="-1" role="dialog"
aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content p-3 pb-2">
            <h1 class="table-title">
                Properties with highest search appearances

                <button class="close-analytics-modal">
                    <i class="bi bi-x-lg"></i>
                </button>
            </h1>

            <div class="table-area">
                <table class="dashboard-data-table" table-name="highest_search_appearances_properties">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Create time</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->

{% endblock %}





{% block extend_script %}
<script>
    var VISITE_ANALYTCS = '/property/api/visit-analytics/';
    var USER_GENDER_RATIO = '/property/api/analytics/user-gender-ratio';
    var TOP_RATED_BUILDINGS = '/property/api/analytics/top-rated-buildings/';
    var TOP_RANKED_PROPERTIES = '/property/api/analytics/top-ranked-properties/';
    var MOST_FAVORITE_PROPERTIES = '/property/api/analytics/most-favorite-properties/';
    var USER_PROPERTIES_LOCATIONS = '/property/api/analytics/user-properties-locations/'; // not used
    var USER_ANALYTICS_PROPERTIES = '/property/api/analytics/user-analytics-properties/'; // not used
    var MOST_IN_DEMAND_PRICE_RANGE = '/property/api/analytics/most-in-demand-price-range/';
    var MAXIMUM_VIEWING_TIME_PROPERTIES = '/property/api/analytics/maximum-viewing-time-properties/';
    var MOST_APPEARED_ON_THE_COMPARE_LIST = '/property/api/analytics/most-appeared-on-the-compare-list/';
    var POPULAR_SEARCH_LOCATION_PROPERTIES = '/property/api/analytics/popular-search-location-properties/';
    var HIGHEST_SEARCH_APPEARANCES_PROPERTIES = '/property/api/analytics/highest-search-appearances-properties/';
    var TOP_PERFORMING_PROPERTIES_BY_CONVERSION = '/property/api/analytics/top-performing-properties-by-conversion/';
</script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="{% static '/js/libraries/dataTables.min.js' %}?v=1.00"></script>
<script src="{% static '/js/libraries/echarts.min.js' %}?v=1.00"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" 
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="{% static '/js/advertise/analytics.js' %}?v=1.00"></script>
{% endblock extend_script %}