{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Create property</title>
<link rel="stylesheet" href="{% static '/css/auth.css' %}" />
{% endblock extend_head %}

{% block content %}


<section id="create_property">
    <div class="container">


        <div class="light-form-box">
            <h1 class="form-title"> Create Property </h1>
            <form id="property-create-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="authForm">
                    <div class="success-message">
                        <!-- <span class="authSuccessMessage"></span> -->
                    </div>
                    <div class="error-message">
                        <!-- <span class="authErrorMessage"></span> -->
                    </div>

                    <div class="authFormDiv">
                        <!-- <span class="authErrorMessage">Message</span> -->
                        <input name="title" type="text" class="authInput" placeholder="Title" required>
                        <div class="authlabelline authcompleteProfileLabe">Title</div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="price" type="number" class="authInput" placeholder="Price" required>
                                <div class="authlabelline authcompleteProfileLabe">Price</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="price_per_sqm" type="number" class="authInput" placeholder="Price per sqm" required>
                                <div class="authlabelline authcompleteProfileLabe">Price Per Sqm</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <select name="building" type="text" class="authInput authSelectInput"
                                    placeholder="Building" required>
                                    <option value="">........</option>
                                    {% for building in buildings %}
                                    <option value="{{ building.id }}">{{ building.title }}</option>
                                    {% endfor %}
                                </select>
                                <div class="authlabelline authcompleteProfileLabe">Building</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="unit_id" type="text" class="authInput" placeholder="Unit ID" required>
                                <div class="authlabelline authcompleteProfileLabe">Unit ID</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="floor_number" type="text" class="authInput" placeholder="Floor" required>
                                <div class="authlabelline authcompleteProfileLabe">Floor</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="unit_area" type="number" class="authInput" placeholder="Unit Area" required>
                                <div class="authlabelline authcompleteProfileLabe">Unit Area</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="number_of_bathroom" type="number" class="authInput" placeholder="Bathroom"
                                    required>
                                <div class="authlabelline authcompleteProfileLabe">Bathroom</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="number_of_bedroom" type="number" class="authInput" placeholder="Bedroom"
                                    required>
                                <div class="authlabelline authcompleteProfileLabe">Bedroom</div>
                            </div>

                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="number_of_balcony" type="number" class="authInput" placeholder="Balcony"
                                    required>
                                <div class="authlabelline authcompleteProfileLabe">Balcony</div>
                            </div>

                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="number_of_car_parking" type="number" class="authInput" placeholder="Car Park"
                                    required>
                                <div class="authlabelline authcompleteProfileLabe">Car Park</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv textarea">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <textarea name="description" type="text" class="authInput profileCompanyDeatils"
                                    placeholder="Description" required></textarea>
                                <div class="authlabelline authcompleteProfileLabe">Description</div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="images" type="file" accept="image/*" class="authInput authFile"
                                        required multiple>
                                    <div class="fileName"> Upload Images </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    <!-- dom area -->
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="videos" type="file" accept="video/*" class="authInput authFile"
                                        required>
                                    <div class="fileName"> Upload Video </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    <!-- dom area -->
                                </div>
                            </div>
                        </div>

                    </div>


                    <button type="submit" class="authButton completeProfileButton" id="create-property">
                        <span id="createPropertyButtonText">Create Property</span>
                        <div id="loadingSpinner" class="spinner-border" role="status" style="display: none;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
{% block extend_script %}
<script type="text/javascript">
    var createPropertyAPIUrl = "{% url 'property:api:create' %}"
</script>
<script src="{% static 'js/property/create_property.js' %}?v=1.00"></script>
{% endblock extend_script %}