{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Create property</title>
<link href="{% static 'css/gptchat.css' %}?v=1.00" rel="stylesheet" />
<link rel="stylesheet" href="{% static '/css/auth.css' %}" />
<link rel="stylesheet" href="{% static '/css/libraries/bootstrap-datepicker3.css' %}" />

{% endblock extend_head %}

{% block content %}


<section id="create_property">
    <div class="container">


        <div class="light-form-box">
            <h1 class="form-title"> Create Property </h1>
            <form id="property-create-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="authForm">
                    <div class="success-message">
                        <!-- <span class="authSuccessMessage"></span> -->
                    </div>
                    <div class="error-message">
                        <!-- <span class="authErrorMessage"></span> -->
                    </div>

                    <div class="authFormDiv">
                        <!-- <span class="authErrorMessage">Message</span> -->
                        <input name="title" type="text" class="authInput" placeholder="Title" required>
                        <div class="authlabelline authcompleteProfileLabe">Title</div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="price" type="number" class="authInput" placeholder="Price" required>
                                <div class="authlabelline authcompleteProfileLabe">Price</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="price_per_sqm" type="number" class="authInput" placeholder="Price per sqm" required>
                                <div class="authlabelline authcompleteProfileLabe">Price Per Sqm</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <select name="building" type="text" class="authInput authSelectInput"
                                    placeholder="Building" required>
                                    <option value="">........</option>
                                    {% for building in buildings %}
                                    <option value="{{ building.id }}">{{ building.title }}</option>
                                    {% endfor %}
                                </select>
                                <div class="authlabelline authcompleteProfileLabe">Building</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="unit_id" type="text" class="authInput" placeholder="Unit ID" required>
                                <div class="authlabelline authcompleteProfileLabe">Unit ID</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="floor_number" type="text" class="authInput" placeholder="Floor" required>
                                <div class="authlabelline authcompleteProfileLabe">Floor</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="unit_area" type="number" class="authInput" placeholder="Unit Area" required>
                                <div class="authlabelline authcompleteProfileLabe">Unit Area</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="interior_view" type="url" class="authInput" placeholder="Interior View">
                                <div class="authlabelline authcompleteProfileLabe">
                                    Interior View ( e.g. https://my.matterport.com/show/?m=tHeZn1V85YQ)
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="number_of_bathroom" type="number" class="authInput" placeholder="Bathroom"
                                    required>
                                <div class="authlabelline authcompleteProfileLabe">Bathroom</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="number_of_bedroom" type="number" class="authInput" placeholder="Bedroom"
                                    required>
                                <div class="authlabelline authcompleteProfileLabe">Bedroom</div>
                            </div>

                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="number_of_balcony" type="number" class="authInput" placeholder="Balcony"
                                    required>
                                <div class="authlabelline authcompleteProfileLabe">Balcony</div>
                            </div>

                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="number_of_car_parking" type="number" class="authInput" placeholder="Car Park"
                                    required>
                                <div class="authlabelline authcompleteProfileLabe">Car Park</div>
                            </div>

                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="balcony_direction" type="text" class="authInput" placeholder="Balcony Direction"
                                    required>
                                <div class="authlabelline authcompleteProfileLabe">Balcony Direction</div>
                            </div>

                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="main_door_direction" type="text" class="authInput" placeholder="Main Door Direction"
                                    required>
                                <div class="authlabelline authcompleteProfileLabe">Main Door Direction</div>
                            </div>

                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <select name="unit_position" type="text" class="authInput authSelectInput"
                                    placeholder="Select Unit Position" required>
                                    <option value="">........</option>
                                    <option value="left_corner">Left Corner</option>
                                    <option value="right_corner">Right Corner</option>
                                    <option value="center">Center</option>
                                </select>
                                <div class="authlabelline authcompleteProfileLabe">Unit Position</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" id="generate-property-description" class="generating-btn">
                                <span id="generatePropertyDescription" class="p-0">Generate Description</span>
                                <div id="descriptionLoadingSpinner" class="spinner-border" role="status" style="display: none;">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </button>
                            <div class="authFormDiv textarea">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <textarea name="description" type="text" class="authInput profileCompanyDeatils"
                                    placeholder="Description" required></textarea>
                                <div class="authlabelline authcompleteProfileLabe">Description</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="row property-options-area">
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_vacant" class="form-check-input" type="checkbox" id="vacant">
                                        <label class="form-check-label" for="vacant">
                                            Vacant
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_owner_occupied" class="form-check-input" type="checkbox" id="owner_occupied">
                                        <label class="form-check-label" for="owner_occupied">
                                            Owner Occupied
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_bathtub" class="form-check-input" type="checkbox" id="bathtub">
                                        <label class="form-check-label" for="bathtub">
                                            Bathtub
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_duplex" class="form-check-input" type="checkbox" id="duplex">
                                        <label class="form-check-label" for="duplex">
                                            Duplex
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_tenant_occupied" class="form-check-input" type="checkbox"
                                        id="tenant_occupied">
                                        <label class="form-check-label" for="tenant_occupied">
                                            Tenant Occupied
                                        </label>
                                    </div>
                                </div>
                                
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="images" type="file" accept="image/*" class="authInput authFile"
                                        required multiple>
                                    <div class="fileName"> Upload Images </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    <!-- dom area -->
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="videos" type="file" accept="video/*" class="authInput authFile"
                                        required>
                                    <div class="fileName"> Upload Video </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    <!-- dom area -->
                                </div>
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="authButton completeProfileButton" id="create-property">
                        <span id="createPropertyButtonText">Create Property</span>
                        <div id="loadingSpinner" class="spinner-border" role="status" style="display: none;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>


<div class="ai-generate-description-modal">
    <div class="ai-generate-description-overloay" ai-close-modal="description"></div>
    <div class="ai-generate-description-body">
        <h1> Generated Description </h1>
        <textarea class="created-description-textarea" placeholder="Generated description ..."></textarea>

        <section id="open-ai-chat-box">
            <div class="re-generate-error-message my-2"></div>
            <div class="clearfix open-ai-card">
                <div class="chat-app">
                    <div class="chat">
                        <div class="chat-message clearfix">
                            <div class="d-flex gap-2 mb-0 align-items-center">
                                <input type="text" class="class-chatbot-input" name="instruction_of_modification" placeholder="Write What You Want...">
                                <div class="input-group-prepend">
                                    <button type="botton" class="regenerate-chatbot-send-btn">
                                        <span><i class="bi bi-send"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="ai-generate-description-footer">
            <button ai-close-modal="description"> Cancel </button>
            <button class="add-to-description-field"> Add </button>
        </div>
    </div>
</div>


{% endblock %}
{% block extend_script %}
<script src="{% static 'js/libraries/bootstrap-datepicker3.js' %}?v=1.00"></script>
<script type="text/javascript">
    var createPropertyAPIUrl = "{% url 'property:api:create' %}"
    var generatePropertyDescriptionAPIUrl = "{% url 'property:api:generate_description' %}"
    var reGeneratePropertyDescriptionAPIUrl = "{% url 'property:api:re_generate_description' %}"

    function init_datepacker(){
        $('.date_picker_box')
        .datepicker({
            format : 'mm-dd-yyyy',
            disableTouchKeyboard : true,
            autoclose : true,
            startDate: '0d'
        })
        .on('changeDate', function(e) {
            var get_parent = $(this).parents('.date_picker_box_wrapper');
            if(get_parent?.length == 0) return;
            var get_date_split = $(this).val()?.split("-");
            var format_date = get_date_split[2]+'-'+get_date_split[0]+'-'+get_date_split[1]
            get_parent.find('.hidden_date_picker_box').val(format_date)
        })
        .on('clearDate', function(e) {
            var get_parent = $(this).parents('.date_picker_box_wrapper');
            if(get_parent?.length == 0) return;
            get_parent.find('.hidden_date_picker_box').val('0000-00-00')
        });
    }
</script>
<script src="{% static 'js/property/create_property.js' %}?v=1.02"></script>
{% endblock extend_script %}