{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Property details</title>
<link href="https://vjs.zencdn.net/8.6.1/video-js.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static '/css/libraries/splide.min.css' %}?v=1.00" />
<link rel="stylesheet" href="{% static '/css/libraries/splide-default.min.css' %}" />
<link rel="stylesheet" href="{% static '/css/detail-page.css' %}" />
<script>
    // this is related to google map that calling in g_map.js
    function buildingGeocodeAddress(render_dom, default_lat_lng) {
        let geocoder = new google.maps.Geocoder();

        geocoder.geocode({ 'address': '{{ property.building.address }}' }, function (results, status) {
            if (status === 'OK') {
                var myLatLng = results[0].geometry.location;
                
                var map = new google.maps.Map(render_dom, {
                    center: myLatLng,
                    zoom: 12
                });

                new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: '{{ property.building.address }}'
                });
            } else {
                var map = new google.maps.Map(render_dom, {
                    center: default_lat_lng,
                    zoom: 12
                });

                new google.maps.Marker({
                    position: default_lat_lng,
                    map: map,
                    title: 'Something is wrong ! This is not the right address !!'
                });
            }
        });
    }
</script>
{% endblock extend_head %}

{% block content %}

<section id="details-banner">
    <div class="col-xl-7 col-lg-8 col-10 details-banner-bg">
        <img src="" alt="bg">
    </div>

    
    

    <div class="container position-relative z-index-3">
        <h1 class="title-perice-area">
            <span class="title" label-name="title"> 
                <span class="skeleton-box" style="width: 200px; height: 26px;"></span> 
            </span>
            <span class="price"> 
                Price :
                <span label-name="price">
                    <span class="skeleton-box" style="width: 140px; height: 26px;"></span> 
                </span>
            </span>
        </h1>
        <address>
            <i class="bi bi-geo-alt"></i>
            <span label-name="address">
                <span class="skeleton-box" style="width: 100px; height: 22px;"></span>
            </span>
        </address>
        <span class="unit-id">
            <b>Unit ID : </b> 
            <span label-name="unit_id"> 
                <span class="skeleton-box" style="width: 100px; height: 22px;"></span>
            </span>
        </span>

        <nav class="nav-tab-wrapper">
            <div class="nav nav-tabs gallery-btn" id="nav-tab" role="tablist">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#nav-imges" aria-selected="true" type="image">
                    Images
                </button>
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-floor-plans" aria-selected="false" type="floor_plan">
                    Floor Plans
                 </button>
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-unit-floor-plans" aria-selected="false" type="unit_floor_plan">
                    Unit Floor Plans
                </button>
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-master-plans" aria-selected="false" type="master_plan">
                    Master Plans
                </button>
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-video" aria-selected="false" type="video">
                    Video
                </button>
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-map" aria-selected="false">
                    Map
                </button>
            </div>
        </nav>

        <div class="tab-content" id="banner-nav-tabContent">
            <div class="banner-action-button">
                <button class="add-to-compare" added="false">
                    <i class="bi bi-arrow-left-right"></i>
                    <i class="bi bi-check-circle-fill"></i>
                    Compare
                </button>
            </div>
            <!-- Images -->
            <div class="tab-pane fade show active" id="nav-imges" label-name="media-files-image">
                <div class="details-gallery">
                    <!-- this is a dom -->
                    <!-- <div class="details-gallery-img-box">
                        <img src="" alt="bg">
                    </div> -->
                </div>
            </div>


            <!--  Building Floor Plans -->
            <div class="tab-pane fade" id="nav-floor-plans" label-name="media-files-floor-plan">
                <div class="details-gallery">
                     <!-- this is a dom -->
                    <!-- <div class="details-gallery-img-box">
                        <img src="" alt="bg">
                    </div> -->
                </div>
            </div>

            
            <!-- Unit Floor Plans -->
            <div class="tab-pane fade" id="nav-unit-floor-plans" label-name="media-files-unit-floor-plan">
                <div class="details-gallery">
                     <!-- this is a dom -->
                    <!-- <div class="details-gallery-img-box">
                        <img src="" alt="bg">
                    </div> -->
                </div>
            </div>


            <!-- Master Map Plans -->
            <div class="tab-pane fade" id="nav-master-plans" label-name="media-files-master-plan">
                <div class="details-gallery">
                    <!-- this is a dom -->
                   <!-- <div class="details-gallery-img-box">
                       <img src="" alt="bg">
                   </div> -->
               </div>
            </div>


            <!-- Map Plans -->
            <div class="tab-pane fade" id="nav-video" label-name="media-files-video">
                <div class="details-gallery-video">
                    <!-- this is a dom -->
                    <video
                        id="my-video"
                        class="video-js"
                        controls
                        preload="auto"
                        data-setup="{}"
                  >
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                    </p>
                  </video>
               </div>
            </div>
            

            <!-- Map -->
            <div class="tab-pane fade" id="nav-map">
                <div id="map"></div>
            </div>
        </div>

    </div>
</section>


<div class="img-gallery-dialog">
    <div class="img-gallery-dialog-overlay dialog-dismiss"></div>
    <div class="img-gallery-dialog-container">
        <button class="dialog-dismiss img-gallery-close-btn"> <i class="bi bi-x-lg"></i> </button>
        <div class="splide img-gallery-dialog-slider">
            <div class="splide__track">
                <div class="splide__list">

                    <!-- from dom -->
                    <div class="splide__slide pre_splide">
                        <div class="img-gallery-dialog-loader">
                            <img src="{% static '/media/loader.svg' %}" alt="loader">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




<section>
    <div class="cotainer">
        <div class="property-short-info">
            <div class="property-short-info-box">
                <div class="property-short-info-icon">
                    <img src="{% static '/media/icons/bed.svg' %}" alt="bed-icon">
                </div>
                <span class="property-value" label-name="number_of_bedroom">
                    <span class="skeleton-box mt-1" style="width: 20px; height: 20px;"></span>
                </span>
                <span class="property-label">Beds</span>
            </div>
            <div class="property-short-info-box">
                <div class="property-short-info-icon">
                    <img src="{% static '/media/icons/bath.svg' %}" alt="bath-icon">
                </div>
                <span class="property-value" label-name="number_of_bathroom">
                    <span class="skeleton-box mt-1" style="width: 20px; height: 20px;"></span>
                </span>
                <span class="property-label">Baths</span>
            </div>
            <div class="property-short-info-box">
                <div class="property-short-info-icon">
                    <img src="{% static '/media/icons/plan-size.svg' %}" alt="plan-size-icon">
                </div>
                <span class="property-value" label-name="unit_area">
                    <span class="skeleton-box mt-1" style="width: 20px; height: 20px;"></span>
                </span>
                <span class="property-label">Size</span>
            </div>
            <div class="property-short-info-box">
                <div class="property-short-info-icon">
                    <img src="{% static '/media/icons/stairs.svg' %}" alt="stairs-icon">
                </div>
                <span class="property-value" label-name="floor_number">
                    <span class="skeleton-box mt-1" style="width: 20px; height: 20px;"></span>
                </span> 
                <span class="property-label">Floor</span>
            </div>
            <div class="property-short-info-box">
                <div class="property-short-info-icon">
                    <img src="{% static '/media/icons/building.svg' %}" alt="building-icon">
                </div>
                <span class="property-value" label-name="total_floors">
                    <span class="skeleton-box mt-1" style="width: 20px; height: 20px;"></span>
                </span>
                <span class="property-label">Build</span>
            </div>

        </div>
    </div>
</section>



<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <!-- 1 -->
                <div class="about-area">
                    <h1 class="section-title">About This Apartment</h1>
                    <div class="section-scripts" label-name="description">
                        <span class="skeleton-box" style="height: 200px;"></span>
                    </div>
                </div>



                <!-- 2 -->
                <div class="property-info-area">
                    <h1 class="section-title">Property Info</h1>
                    <div class="info-list">
                        <div class="row">
                            <div class="col-6 col-lg-4">
                                <div class="info-list-box">
                                    <span class="info-list-label">Bedroom</span>
                                    <span class="info-list-data" label-name="number_of_bedroom">
                                        <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <div class="info-list-box">
                                    <span class="info-list-label">Bathroom</span>
                                    <span class="info-list-data" label-name="number_of_bathroom">
                                        <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <div class="info-list-box">
                                    <span class="info-list-label">Balcony</span>
                                    <span class="info-list-data" label-name="number_of_balcony">
                                        <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <div class="info-list-box">
                                    <span class="info-list-label">Car Park</span>
                                    <span class="info-list-data" label-name="number_of_car_parking">
                                        <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <div class="info-list-box">
                                    <span class="info-list-label">Floor</span>
                                    <span class="info-list-data" label-name="floor_number">
                                        <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <div class="info-list-box">
                                    <span class="info-list-label">Price</span>
                                    <span class="info-list-data" label-name="price">
                                        <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <div class="info-list-box">
                                    <span class="info-list-label">Price Per SqM</span>
                                    <span class="info-list-data" label-name="price_per_sqm">
                                        <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <div class="info-list-box">
                                    <span class="info-list-label">Date Listed</span>
                                    <span class="info-list-data" label-name="construction_year">
                                        <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <div class="info-list-box">
                                    <span class="info-list-label">Property Type</span>
                                    <span class="info-list-data" label-name="building_type">
                                        <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <div class="info-list-box">
                                    <span class="info-list-label">Date Listed</span>
                                    <span class="info-list-data" label-name="construction_year">
                                        <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                    </span>
                                </div>
                            </div>

                            <!-- <div class="col-6 col-lg-4">
                                <div class="info-list-box">
                                    <span class="info-list-label">Furniture</span>
                                    <span class="info-list-data">
                                        <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                    </span>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>



                <!-- 3 -->
                <div class="building-details">
                    <h1 class="section-title">Building Details</h1>
                    
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="building-img-gallery" label-name="building_name">
                                <span class="skeleton-box" style="width: 100%; height: 220px;"></span>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="info-list building-details-info-list">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-12 col-md-6">
                                        <div class="info-list-box">
                                            <span class="info-list-label">Project Name</span>
                                            <span class="info-list-data" label-name="project_name">
                                                <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 col-md-6">
                                        <div class="info-list-box">
                                            <span class="info-list-label">Floor</span>
                                            <span class="info-list-data" label-name="total_floors">
                                                <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 col-md-6">
                                        <div class="info-list-box">
                                            <span class="info-list-label">Project Area</span>
                                            <span class="info-list-data" label-name="project_total_area">
                                                <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- <div class="col-xl-6 col-lg-12 col-md-6">
                                        <div class="info-list-box">
                                            <span class="info-list-label">Developer</span>
                                            <span class="info-list-data">
                                                <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                            </span>
                                        </div>
                                    </div> -->
                                    <!-- <div class="col-xl-6 col-lg-12 col-md-6">
                                        <div class="info-list-box">
                                            <span class="info-list-label">Building</span>
                                            <span class="info-list-data">
                                                <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                            </span>
                                        </div>
                                    </div> -->
                                    <div class="col-xl-6 col-lg-12 col-md-6">
                                        <div class="info-list-box">
                                            <span class="info-list-label">Building Type</span>
                                            <span class="info-list-data" label-name="building_type">
                                                <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 col-md-6">
                                        <div class="info-list-box">
                                            <span class="info-list-label">Constrations year</span>
                                            <span class="info-list-data" label-name="construction_year">
                                                <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 col-md-6">
                                        <div class="info-list-box">
                                            <span class="info-list-label">Units</span>
                                            <span class="info-list-data" label-name="total_units_for_sale">
                                                <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 col-md-6">
                                        <div class="info-list-box">
                                            <span class="info-list-label">Address</span>
                                            <span class="info-list-data" label-name="address">
                                                <span class="skeleton-box" style="width: 60px; height: 20px;"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- 4 -->
                <div class="facilities-area">
                    <h1 class="section-title">Available Facilities</h1>
                    <div class="facilities-list">
                        <div class="row" label-name="facilities">

                            <div class="col-6 col-md-6 col-lg-4 mb-3">
                                <div class="facilities-box">
                                    <span class="skeleton-box" style="width: 80%; height: 35px;"></span>
                                </div>
                            </div>

                            <div class="col-6 col-md-6 col-lg-4 mb-3">
                                <div class="facilities-box">
                                    <span class="skeleton-box" style="width: 80%; height: 35px;"></span>
                                </div>
                            </div>


                            <div class="col-6 col-md-6 col-lg-4 mb-3">
                                <div class="facilities-box">
                                    <span class="skeleton-box" style="width: 80%; height: 35px;"></span>
                                </div>
                            </div>

                            <div class="col-6 col-md-6 col-lg-4 mb-3">
                                <div class="facilities-box">
                                    <span class="skeleton-box" style="width: 80%; height: 35px;"></span>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>

            </div>




            <div class="col-lg-4">
                <div class="side-box-info">
                    <div class="contact-info-side-box">
                        <h1 class="section-title">Schedule Viewing Building</h1>

                        <div class="contact-info-list-btn">
                            <a class="link" href="/schedule/create_schedule/?type=property&id={{property.id}}"> Create Schedule Request </a>
                            <a class="link" href="#"> +66 (0)2 026 8323 </a>
                            <a class="link" href="#"> example@email.com </a>
                        </div>
                    </div>

                    <div class="contact-info-side-box">
                        <h1 class="section-title">About The Developer</h1>

                        <div class="developer-co-info">
                            <div class="row align-items-center">
                                <div class="col-3">
                                    <div class="developer-company-logo" label-name="company_logo">
                                        <span class="skeleton-box" style="width: 100%; height: 70px;"></span>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <h1 class="section-title" label-name="company_name">
                                        <span class="skeleton-box" style="width: 100%; height: 22px;"></span>
                                    </h1>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-9">
                                    <div class="info-list developer-co-details-info-list">
                                        <div class="info-list-box align-items-center">
                                            <span class="info-list-label me-2">
                                                <i class="material-symbols-outlined">
                                                    location_on
                                                </i>
                                            </span>
                                            <span class="info-list-data" label-name="company_address">
                                                <span class="skeleton-box" style="width: 120px; height: 22px;"></span>
                                            </span>
                                        </div>
                                        
                                        <!-- <div class="info-list-box align-items-center">
                                            <span class="info-list-label me-2">
                                                <span class="material-symbols-outlined">
                                                    auto_transmission
                                                </span>
                                            </span>
                                            <span class="info-list-data">Life Rama 4 - Asoke</span>
                                        </div> -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>



<section id="available-units">
    <div class="container">
        <h1 class="section-title">Available Units at Rhythm Sukhumvit 36-38</h1>

        <nav>
            <ul class="pagination filter-available-units">
                <li class="page-item active">
                    <span class="page-link" label="all">All</span>
                </li>
                <li class="page-item">
                    <span class="page-link" label="1"> 1 bed </span>
                </li>                
                <li class="page-item">
                    <span class="page-link" label="2"> 2 beds </span>
                </li>
                <li class="page-item">
                    <span class="page-link" label="3"> 3 beds </span>
                </li>
                <li class="page-item">
                    <span class="page-link" label="4"> 4 beds </span>
                </li>
            </ul>
        </nav>

        <section class="splide available-unitssplide-splide">
            <div class="splide__track">
                  <div class="splide__list">

                        <div class="splide__slide property-card-loader">
                            <div class="property-card">
                                <div class="property-card-img">
                                    <span class="skeleton-box" style="width: 100%; height: 180px;"></span>
                                </div>
                    
                                <div class="p-2">
                                    <div class="property-price-info">
                                        <span class="skeleton-box" style="width: 100%; height: 27px;"></span>
                                    </div>
                        
                                    <div class="property-contains">
                                        <span class="skeleton-box" style="width: 100%; height: 60px;"></span>
                                        <span class="skeleton-box" style="width: 100%; height: 60px;"></span>
                                        <span class="skeleton-box" style="width: 100%; height: 60px;"></span>
                                        <span class="skeleton-box" style="width: 100%; height: 60px;"></span>
                                    </div>
                        
                                    <div class="property-expand-btn">
                                        <span class="skeleton-box" style="width: 100%; height: 27px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                  </div>
            </div>
        </section>


        

    </div>
</section>


{% endblock %}

{% block extend_script %}
<script>
    var ASSET_API_URL = '/property/api/details/{{property.id}}/';
    var GELLERY_API_URL = '/property/api/details/{{property.id}}/media-files/';
    var AVAILABLE_API_URL = '/building/api/details/{{property.building.id}}/available-units/?property_id={{property.id}}';
    var ADD_COMPARE_API_URL = '/property/api/compare/create/';
    var PROPERTY_ID = '{{property.id}}'
</script>

<script src="https://vjs.zencdn.net/8.6.1/video.min.js"></script>
<script src="{% static 'js/libraries/splide.min.js' %}"></script>
<script src="{% static 'js/libraries/noframework.waypoints.min.js' %}"></script>
<script src="{% static 'js/detail-page.js' %}"></script>


{% endblock extend_script %}