<section id="review">
    <div class="container">
        <h1 class="section-title"> Reviews </h1>

        <div class="col-lg-8">
            <div class="review-writing-area">
                <div class="show-rating">
                    <span>
                        5 out of 5
                    </span>
    
                    <span label-name="rating">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </span>

                    <div>Based on 1 Review</div>
                </div>
                
                <div class="give-rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>

                <textarea placeholder="Type here ..." class="give-review" rows="5"></textarea>
                <button> Submit </button>
            </div>
        </div>
    </div>
</section>