{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extend_head %}
<title>Update property</title>
<link rel="stylesheet" href="{% static '/css/auth.css' %}" />
{% endblock extend_head %}

{% block content %}


<section id="create_property">
    <div class="container">


        <div class="light-form-box">
            <h1 class="form-title"> Update Property </h1>
            <form id="property-update-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="authForm">
                    <div class="success-message">
                        <!-- <span class="authSuccessMessage"></span> -->
                    </div>
                    <div class="error-message">
                        <!-- <span class="authErrorMessage"></span> -->
                    </div>

                    <div class="authFormDiv">
                        <!-- <span class="authErrorMessage">Message</span> -->
                        <input name="title" type="text" class="authInput" placeholder="Title"
                            value="{{ property.title }}" required>
                        <div class="authlabelline authcompleteProfileLabe">Title</div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="price" type="number" class="authInput" placeholder="Price"
                                    value="{{ property.price }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Price</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="price_per_sqm" type="number" class="authInput" placeholder="Price per sqm"
                                    value="{{ property.price_per_sqm }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Price Per Sqm</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <select name="building" type="text" class="authInput authSelectInput"
                                    placeholder="Building" required>

                                    <option value="">........</option>
                                    {% for building in buildings %}
                                    <option value="{{ building.id }}" {% if building.id == property.building.id %}selected{% endif %}>
                                        {{ building.title }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <div class="authlabelline authcompleteProfileLabe">Building</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="unit_id" type="text" class="authInput" placeholder="Unit ID"
                                    value="{{ property.unit_id }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Unit ID</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="floor_number" type="text" class="authInput" placeholder="Floor"
                                    value="{{ property.floor_number }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Floor</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="unit_area" type="number" class="authInput" placeholder="Unit Area"
                                    value="{{ property.unit_area }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Unit Area</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="number_of_bathroom" type="number" class="authInput" placeholder="Bathroom"
                                    value="{{ property.number_of_bathroom }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Bathroom</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="number_of_bedroom" type="number" class="authInput" placeholder="Bedroom"
                                    value="{{ property.number_of_bedroom }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Bedroom</div>
                            </div>

                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="number_of_balcony" type="number" class="authInput" placeholder="Balcony"
                                    value="{{ property.number_of_balcony }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Balcony</div>
                            </div>

                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="number_of_car_parking" type="number" class="authInput"
                                    placeholder="Car Park" value="{{ property.number_of_car_parking }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Car Park</div>
                            </div>
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="balcony_direction" type="text" class="authInput"
                                    placeholder="Balcony Direction" value="{{ property.balcony_direction }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Balcony Direction</div>
                            </div>
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <input name="main_door_direction" type="text" class="authInput"
                                    placeholder="Main Door Direction" value="{{ property.main_door_direction }}" required>
                                <div class="authlabelline authcompleteProfileLabe">Main Door Direction</div>
                            </div>
                            <div class="authFormDiv">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <select name="unit_position" type="text" class="authInput authSelectInput"
                                    placeholder="Select Unit Position" required>
                                    <option value="">........</option>
                                    <option value="left_corner" {% if property.unit_position == 'left_corner' %}selected{% endif %}>
                                        Left Corner
                                    </option>
                                    <option value="right_corner" {% if property.unit_position == 'right_corner' %}selected{% endif %}>
                                        Right Corner
                                    </option>
                                    <option value="center" {% if property.unit_position == 'center' %}selected{% endif %}>
                                        Center
                                    </option>
                                </select>
                                <div class="authlabelline authcompleteProfileLabe">Unit Position</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="authFormDiv textarea">
                                <!-- <span class="authErrorMessage">Message</span> -->
                                <textarea name="description" type="text" class="authInput profileCompanyDeatils"
                                    placeholder="Description" required>{{ property.description }}</textarea>
                                <div class="authlabelline authcompleteProfileLabe">Description</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="row property-options-area">
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_vacant" class="form-check-input" type="checkbox" id="vacant" {% if property.have_vacant %}checked{% endif %}>
                                        <label class="form-check-label" for="vacant">
                                            Have Vacant
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_owner_occupied" class="form-check-input" type="checkbox" id="owner_occupied" {% if property.have_owner_occupied %}checked{% endif %}>
                                        <label class="form-check-label" for="owner_occupied">
                                            Have Owner Occupied
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_bathtub" class="form-check-input" type="checkbox" id="bathtub" {% if property.have_bathtub %}checked{% endif %}>
                                        <label class="form-check-label" for="bathtub">
                                            Have Bathtub
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_duplex" class="form-check-input" type="checkbox" id="duplex" {% if property.have_duplex %}checked{% endif %}>
                                        <label class="form-check-label" for="duplex">
                                            Have Duplex
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_pets_allowed" class="form-check-input" type="checkbox" id="pets_allowed">
                                        <label class="form-check-label" for="pets_allowed">
                                            Have Pets Allowed
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input name="have_tenant_occupied" class="form-check-input" type="checkbox"
                                        id="have_tenant_occupied" {% if property.have_tenant_occupied %}checked{% endif %}>
                                        <label class="form-check-label" for="have_tenant_occupied">
                                            Have Tenant Occupied
                                        </label>
                                    </div>
                                </div>

                                {% if property.have_tenant_occupied %}
                                <div class="col-6 date_picker_box_wrapper">
                                    <div class="authFormDiv">
                                        <input name="tenant_occupied_validity" type="date" class="authInput date_picker_box" value="{{property.tenant_occupied_validity }}" required>
                                        <div class="authlabelline authcompleteProfileLabe">State i.e until Oct 2024</div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="images" type="file" accept="image/*" class="authInput authFile"
                                        multiple>
                                    <div class="fileName"> Upload Images </div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    {% for image in images %}
                                    {% if image.file %}
                                    <div class="uploaded-file-view-img">
                                        <button class="remove-image" data-id="{{ image.id }}"><i
                                                class="bi bi-x"></i></button>
                                        <img src="{{ image.file.url }}" alt="Property Image">
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="uploaded-file-with-view">
                                <div class="authFormDiv">
                                    <!-- <span class="authErrorMessage">Message</span> -->
                                    <input name="videos" type="file" accept="video/*" class="authInput authFile">
                                    <div class="fileName">Upload video</div>
                                </div>

                                <div class="uploaded-file-view-area">
                                    {% for video in videos %}
                                    {% if video.file %}
                                    <a href="{{ video.file.url }}" alt="Property Video">{{ video.file.url }}</a>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>


                    <button type="submit" class="authButton completeProfileButton" id="create-property">
                        <span id="updatePropertyButtonText">Update Property</span>
                        <div id="loadingSpinner" class="spinner-border" role="status" style="display: none;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
{% block extend_script %}
<script type="text/javascript">
    var updatePropertyAPIUrl = "{% url 'property:api:update' property.id %}"
</script>
<script src="{% static 'js/property/update_property.js' %}?v=1.00"></script>
{% endblock extend_script %}