{% load static %}

<link href="{% static 'css/gptchat.css' %}?v=1.00" rel="stylesheet" />


<section id="open-ai-chat-box">
    <div class="container">
        <h1 class="slider-title">Ask Our Property Expert</h1>
        <div class="clearfix open-ai-card">
            <div class="chat-app">
                <div class="chat">
                    <!-- <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                </a>
                                <div class="chat-about">
                                    <h6 class="m-b-0">Aiden Chavez</h6>
                                    <small>Last seen: 2 hours ago</small>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="chat-history" style="display: none;">
                        <ul class="m-b-0">
                            <div class="chat-content-area"></div>

                            <li class="clearfix chatbot-loader" style="display: none;">
                                <div class="message other-message float-right">
                                    <img src="{% static 'media/send-loader.gif' %}" style="width: 50px;"/>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="d-flex gap-2 mb-0 align-items-center">
                            <input type="text" class="class-chatbot-input" placeholder="Search What You Want...">
                            <div class="input-group-prepend">
                                <button type="botton" class="chatbot-send-btn">
                                    <span><i class="bi bi-send"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>