<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Schedule Accepted</title>
</head>
<body>
	<p>
		I'm pleased to inform you that the builder has reviewed and approved your "{{ visiting_time }}" schedule request. Your proposed schedule aligns with our project's timeline and requirements. Thank you for your prompt submission.
		<a href="{{ details_page|safe }}">Schedule details page</a>

		You can now proceed with confidence as per the approved schedule. If you have any further questions or require any assistance, please don't hesitate to reach out to our team.
	</p>
</body>
</html>