<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Schedule Cancel</title>
</head>
<body>
	<p>
		We regret to inform you that the builder has decided to cancel your schedule request. After careful consideration, it has been determined that the proposed schedule does not meet the project's requirements or constraints.

		We understand that this decision may be disappointing, and we're here to assist you in revising and resubmitting your schedule request. Please feel free to reach out to us if you require additional information or have any questions.

		We appreciate your understanding and cooperation.
	</p>
</body>
</html>